[2016-05-26 20:03] timyrka67 opened #390 "Добавить возможность выбора ненулевой задержки для проигрывания одноврененных событий"

[2016-05-26 20:04] timyrka67 opened #391 "GUI для выбора направления проигрывания"

[2016-05-26 20:06] timyrka67 opened #392 "GUI для скорости проигрывания"

[2016-05-26 20:07] timyrka67 opened #393 "GUI для выбора ненулевой задержки"

[2016-05-27 08:35] #390 closed, assigned to timyrka67

[2016-05-27 20:11] #391 closed, assigned to timyrka67

[2016-05-30 16:37] #393 closed, assigned to timyrka67

[2016-05-30 16:38] #392 closed, assigned to timyrka67

[2016-05-30 22:29] AlexChernov commented on #382
Добавил только подписку на STATE_CHANGED, так как перед EXECUTION_COMPLETED должно быть изменение. Это позволяет убрать сущности dataset и value и оставить только result,собираемые показатели при этом зависят от класса статистики

[2016-05-30 22:35] AlexChernov commented on #383
Парсер применяется только для выбора класса статистики по умолчанию:
boolean, String, enum - CategoricalStatistics
Числовые (Number) - StorelessNumericStatistics
Остальное - ValueStatistics

[2016-05-31 13:14] aurusov commented on #382
Т.е. уже сделал ?

[2016-06-01 09:48] #384 closed, assigned to AlexChernov

[2016-06-01 09:49] #385 closed, assigned to AlexChernov

[2016-06-01 09:50] AlexChernov commented on #382
Да

[2016-06-01 09:50] #382 closed, assigned to AlexChernov

[2016-06-01 09:51] #383 closed, assigned to AlexChernov

[2016-06-01 09:55] AlexChernov opened #394 "Реализовать класс статистики для числовых значений, взвешенной по времени"
Для модели колл-центра такой класс используется, например, для сбора статистики по очереди

[2016-06-01 09:59] aurusov commented on #394
А где таска про большие наборы ?

[2016-06-01 10:00] AlexChernov commented on #394
В процессе создания

[2016-06-01 10:03] aurusov commented on #394
Лучше ссылку

[2016-06-01 10:03] AlexChernov opened #395 "Дополнить функционал CategoricalStorelessStatistics"
При использовании CategoricalStorelessStatistics для числовых данных возможна ситуация, когда вывод будет захламлен большим количеством значений.
Необходимо дополнить функционал, который позволяет определить категории по которым вести статистику.

[2016-06-01 10:04] AlexChernov commented on #394
https://github.com/aurusov/raox/issues/395

[2016-06-11 19:27] LeKaitoW opened #397 "Возврат подробной информации об ошибке из симулятора"
Добавить подробные сообщения в рантайм ошибки.
(Пример: недостаточная емкость очереди модели процессного подхода)

@drobus
Напишу тут. Просил поставить задачу не про подробность в ошибках, что тоже неплохо, а про сам факт ошибки при работе с блоком Queue. Вот лист https://lekaitow.github.io/diploma/4_activity_blocks_A2.pdf. Вот история обсуждения
@drobus

@LeKaitoW

[2016-06-13 20:56] LeKaitoW commented on #397
Потому что проверяем до продвижения модельного времени, то есть шанс дается ему только в **этот же момент времени**. А если в этот же момент времени место в очереди не появится, то будет ошибка.

[2016-06-14 16:22] aurusov commented on #397
Это - аргумент. Давай усложним. Представь, что наша модель состоит из процессной и текстовой. В текстовой есть рулы. Шаги
1. В процессной в очереди ошибка, но мы откладываем принятие решений (возвращаем check again)
2. Первый рул что-то меняет в БД, но не исправляет ошибку очереди
3. Второй рул что-то меняет в БД и исправляет ошибку в очереди (неважно что, неважно как, главное, что исправил, т.е.

[2016-06-15 18:22] LeKaitoW opened #398 "Добавить пример процессной модели для визарда"

[2016-06-15 18:23] LeKaitoW opened #399 "Добавить документацию для процессного подхода и графического редактора"

[2016-06-15 18:24] LeKaitoW opened #400 "Блоки телепорта для процессного подхода"

[2016-06-15 18:25] LeKaitoW opened #401 "Доступ из текстовой модели к блокам процессной"

[2016-06-15 18:29] LeKaitoW commented on #397
Встречный вопрос, как рул повлияет на блок очереди?

Нет. Нет, либо зависит от того, как повлияет рул.

[2016-06-15 20:05] aurusov commented on #397
Первый вопрос про то, как сделано взаимодействие подходов сейчас. Второй - как оно должно быть. Давай сначала разберемся с первым. Получается, что после любого изменения состояния (например, из-за рула) заново запускается процессный подход ? Причем, последующие запуски прощают предыдущие ?

[2016-06-15 20:08] aurusov opened #402 "Использование кастомного типа для транзакта"

[2016-06-16 16:21] LeKaitoW commented on #397
Снова запускается, так как это часть общего алгоритма. Но если при прошлом запуске произошли какие-то изменения, то они не исчезнут, это ведь новое состояние.

[2016-06-17 07:15] aurusov commented on #397
У тебя на 13 листе два цикла. Один в симуляторе, второй в процессе. Прощение в рамках какого работает ? Другими словами, в моем примере с рулами, оно состоится или нет ?

[2016-06-17 10:28] LeKaitoW commented on #397
Не до конца понимаю термина "прощение".
Предлагаю обсудить голосом завтра в университете! (Если будет консультация.)

[2016-06-17 14:41] aurusov commented on #397
"Прощение" - вернуть статус check again вместо выбрасывания исключения. Подумай над примером https://github.com/aurusov/raox/issues/397#issuecomment-225936026.

[2016-07-03 08:27] aurusov commented on #348
Что с задачей ?

[2016-07-03 08:27] aurusov commented on #345
Что с задачей ?

[2016-07-03 08:28] aurusov commented on #123
Что с задачей ?

[2016-07-03 14:33] bogachev-pa opened #403 "Операторы инкремента/декремента для параметров ресурсов"
Изменение параметров ресурсов производится не напрямую, а через вызову геттеров и сеттеров.
Нужно найти способ сохранить использование операторов `++` и `--`.

[2016-07-03 14:36] bogachev-pa opened #404 "Оператор == работает некорректно для сравнения енумов"
Это проблема иксбейза, а не наша, но мб можно найти ворэраунд.
Данный код:

[code]

Скомпилится в неработающий код на `Java`.
Чтобы заработало надо писать через `equals`:

[code]

Но лучше, если это будет работать и через `==`.

[2016-07-04 09:05] bogachev-pa opened #405 "Использование ссылок на ресурсы при объявлении последовательностей/результатов"
Если описать что-то такое:

[code]

То модель упадет при запуске, т.к. инициализация ресурсов сейчас происходит после инициализации последовательностей или результатов.

[2016-07-04 09:09] bogachev-pa opened #406 "Полные имена в окне с трассировкой"
Для ресурсов/событий/паттернов хранятся полные имена, т.е. `имя_проекта.имя_модели.имя_элемента_модели`.
При отображении в трассировке (и других элементах гуи тоже - надо проверить все) необходимости отображать имя проекта нет.
Как дополнительное улучшение - если модель в проекте всего одна, то и имя модели тоже отображать не нужно.

[2016-07-04 09:11] bogachev-pa commented on #362
@aurusov

Давайте эту таску закроем и вынесем вот это:

в отдельную задачу?

[2016-07-04 09:16] bogachev-pa commented on #374
@aurusov
1. В этом репозитории есть папка `tests` для моделей, которые изначально планировались для тестирования. Теперь модели для тестирования хранятся в основном репозитории в проекте `ru.bmstu.rk9.rao.rcptt`, т.е. рядом хранятся и шаблон модели и тест для этого шаблона.
   Предлагаю тогда перенести модели из папки `tests` в основной репозиторий (если они все еще имеют смысл), а папку `tests` у

[2016-07-04 09:21] bogachev-pa opened #407 "Создание файлов модели через окно проекта"
Чтобы создать новый файл для редактирования процесса: `File` `>` `New` `>` `Other` `>` `General` `>` `File` `>` `File name:` вводим имя файла `*.proc` `>` `Finish`. Но хочется сделать отдельный раздел, например, как Java. В него должны войти два типа файлов
- файл текстовой модели (*.rao)
- файл для редактора процесса (*.proc)

[2016-07-04 09:29] bogachev-pa opened #408 "Восстановить трассировку и графики для результатов"

[2016-07-06 11:07] bogachev-pa opened #409 "Не работает переименование значений енумов"
Сообщение об ошибке:
`"Refactoring is not applicable"`
Выводится отсюда:
`org.eclipse.xtext.ui.refactoring.ui.RenameRefactoringExecuter`:

[code]

Если чуть углубиться, то попадаем в следующий класс:
`org.eclipse.xtext.xbase.ui.jvmmodel.refactoring.jdt.CombinedJvmJdtRenameProcessor`:

[code]

Где проверяем все `JavaRenameProcessor`. Для енумов он один и оказывается объектом класса `RenameFieldProc

[2016-07-06 11:11] bogachev-pa commented on #409
UPD: Та же ошибка возникает при переименовании полей в `xtend`-классах, а `xtend` основан на `xbase`.
Получается, это внутренняя ошибка какого-то из компонентов икстекста.

Надо поискать соответствующий баг-репорт в баг-трекерах икстекста.

@aurusov
Может, нам завести лейбл для подобных ошибок, чтобы видеть их сразу в тасках?

[2016-07-06 19:00] bogachev-pa commented on #403
Решение где-то здесь:
`org.eclipse.xtext.xbase.scoping.batch.AbstractSessionBasedExecutableScope`:

[code]

Когда попадаем в `else` как раз генерим `get()/set()` и потом сюда:
`org.eclipse.xtext.xbase.scoping.batch.AbstractSessionBasedScope`:

[code]

[2016-07-10 10:06] aurusov commented on #404
Т.е. это не только для перечислений, а для всех нетривиальных типов.

[2016-07-10 10:08] bogachev-pa commented on #404
Не уверен. Проверю - отпишу.

[2016-07-10 10:09] aurusov commented on #405
Может ли ресурс использовать генератор ? Если да, то надо учитывать последовательность их описания в коде.

[2016-07-10 10:11] aurusov commented on #362
Хорошо

[2016-07-10 10:13] aurusov commented on #374
1. согласен
2. не надо, пусть останутся в https://github.com/aurusov/raox-models

[2016-07-10 10:18] aurusov commented on #409
Нашел номер баг-репорта ?

[2016-07-10 13:11] aurusov opened #410 "Не обновляется прокрутка редактора процесса при малых смещениях"
Изначально задача довольно успешно решилась в https://github.com/aurusov/raox/issues/319. Ползунок стал появляться. Но при малых смещениях блока, ползунка все равно нет.

![2016-05-18_10-00-04](https://cloud.githubusercontent.com/assets/5585202/15350060/cc76084e-1cdf-11e6-9225-a9ced08962e0.png)

[2016-07-10 13:16] aurusov commented on #387
С этой таской всё ? Можно ставь пул-реквест ?

[2016-07-10 14:24] aurusov opened #411 "Не собирается под Neon"
Вышла новая версия Эклипса
http://www.eclipse.org/downloads/packages/eclipse-ide-java-and-dsl-developers/neonr

В `ru.bmstu.rk9.rao.tests` ошибка в сгенеренном файле. Не знаю где именно ошибка, но он не может скастить RaoRuntimeModule -> Module. Нужно что-то типа

[code]

или разбираться глубже. Вижу две ошибки
- Нет импорта для Module
- Даже если его добавить, то не хочет кастить RaoRuntimeModule

[2016-07-10 14:40] aurusov opened #412 "Ошибка запуска пустой процессной модели"
Создать модель визардом, добавить пустую процессную модель `New -> File -> test.proc`, запустить.

![2016-07-10_17-39-10](https://cloud.githubusercontent.com/assets/5585202/16714241/6143abd4-46c5-11e6-889b-d1cf6a01e752.png)

[code]

[2016-07-10 14:50] aurusov opened #413 "Не получается переименовать значение перечислимого типа"
`enum State {free, qqq2}`

Не смог переименовать `qqq2`.

[2016-07-10 14:54] bogachev-pa commented on #413
Дубликат этой таски:
https://github.com/aurusov/raox/issues/409

[2016-07-10 14:54] #413 closed, assigned to bogachev-pa

[2016-07-10 15:07] aurusov commented on #387
Посмотрел. Сразу несколько моментов
- Очень сложно задать значения, не очевидное GUI с появляющимися свойствами
- Так и не понял, что надо вбивать в поля Start/Finish value. Задал как понял, но модель остановилась в runtime-error, т.е. ведет себя неадекватно. Меняю значения для Release - почему-то меняется и для Seize. Бррр. Что это было ?
- Почему у релиза два значения ?

Предлагаю сделать выпада

[2016-07-10 15:13] #319 closed, assigned to LeKaitoW

[2016-07-10 15:20] aurusov commented on #404
Эта задача блочит перевод моделей.

[2016-07-10 15:28] aurusov opened #414 "Вторая лабораторная - game5 - плагин"
http://raox.ru/?p=270
Портировать плагин пятнашек на новую версию RaoX (с xbase)

[2016-07-10 15:29] aurusov opened #415 "Вторая лабораторная - game5 - документация"
http://raox.ru/?p=270
После https://github.com/aurusov/raox/issues/414.
- постановка задачи
- руководство пользователя
- пример отчета

[2016-07-10 15:47] aurusov opened #416 "Первая лабораторная - ГПС - код модели"
http://raox.ru/?p=331
Код модели https://github.com/aurusov/raox-models/blob/master/models/fms.rao. Есть общая задача на переписывание моделей https://github.com/aurusov/raox/issues/374.

[2016-07-10 16:07] #301 closed, assigned to nobody

[2016-07-10 16:08] aurusov commented on #265
Опять хочу спросить - **что с задачей** ?. Понимаю, что делаю это раз в пятый, но я забываю твои ответы. НАПИШИ ИХ ТУТ.

[2016-07-10 16:29] aurusov opened #417 "Общие организационные вопросы"
Первым делом надо закончить текущие пул-реквесты, чтобы собрать их в Пашиной репе (https://github.com/bogachev-pa/raox, бранч `feature/xbase`). Потом можно сделать форки и продолжить исправлять ошибки и пилить фичи. Постарался отметить у каждого из вас приоритерные задачи. [Список задач](https://github.com/aurusov/raox/milestone/15) к учебному году.

@AlexChernov
Пур-реквест https://github.com/bog

[2016-07-10 16:34] aurusov opened #418 "Обновить презентацию по курсу моделирования"
Модели из презентации переписываются в https://github.com/aurusov/raox/issues/374

[2016-07-10 16:36] aurusov commented on #374
Многие модели используются в презентации. Кажется, что модели из https://github.com/aurusov/raox-models/tree/master/models лучше переводить мне. ~~Перенеси (1) и переводи задачу на меня.~~

[2016-07-10 16:39] aurusov opened #419 "Перенести тестовые модели в ru.bmstu.rk9.rao.rcptt"
https://github.com/aurusov/raox-models
https://github.com/aurusov/raox/issues/374#issuecomment-230244492

[2016-07-10 16:39] aurusov commented on #374
Завел https://github.com/aurusov/raox/issues/419 для (1)

[2016-07-12 20:21] LeKaitoW commented on #387
То есть релиз из любого значения может освобождать? А если у состояния есть значения типа "не загружен" и "свободен"?
Мы не упустим ошибку (неточность модели), когда состояние ресурса изменится между срабатываниями сиза и релиза?

[2016-07-13 07:50] aurusov commented on #387
Проверка нужна, выпиливать её не надо. Но будет достаточно проверить, что ресурс _еще не свободен_. Т.е. состояние _откуда_ нас не волнует, главное, чтобы _не куда_. Если будет надо, то добавим проверку на конкретное состояние, но сейчас это выглядит как неоправданное усложние.

[2016-07-14 09:49] AlexChernov commented on #417
#123 это старое обсуждение собираемых показателей. Можно закрывать
#307 Можно закрывать, все задачи разнесены (#394, #395 и т. д.):
#265 В прошлый раз обсуждая голосом мы остановились на том, что нужно попытаться удалить файлы проекта, но без них перестает собираться maven. В итоге ничего не удалилось. И все так же можно экспортировать в эклипс как maven проект.

[2016-07-17 19:57] #123 closed, assigned to AlexChernov

[2016-07-17 19:57] #307 closed, assigned to AlexChernov

[2016-07-17 20:03] aurusov commented on #265
Распиши несколько примеров работы, с точки зрения разницы между мавеном и эклипс-проектом. По умолчанию работаем с эклипс-проектом. На что надо обратить внимание, чтобы со временем не разъехались эти два типа проекта. Про что не стоит забывать ? Ведь надо же что-то менять и там и там ? Вот придумал кейсы, добавляй.
- добавление нового java-файла в проект **[ok]**
- добавление нового не java-файла

[2016-07-18 19:57] AlexChernov commented on #408
До рефакторинга это выглядело:

[code]

Как долдно выглядеть теперь? И что вообще выводиться на график?

[2016-07-18 19:57] aurusov commented on #408
@bogachev-pa
Паша, нужна твоя помощь.

[2016-07-18 20:03] aurusov commented on #395
1. подсмотреть как задаются гистограммные последовательности
2. если пример с последовательностями не подойдёт, то начать с трех значений
   - минимум
   - максимум
   - кол-во бакетов

[2016-07-18 20:12] aurusov commented on #394
Разбей на две задачи и добавь примеры с первого листа курсового.

[2016-07-18 20:15] aurusov commented on #386
Надо переделать или закрыть таску, она не соответсвует действительности.

[2016-07-18 20:36] aurusov commented on #227
Предлагается собрать архив с плагинами, без измений в ini и др. файлах.

[2016-07-18 20:43] aurusov opened #420 "Использование типов ресурсов в собираемых показателях"

[2016-07-18 20:47] aurusov commented on #420
@AlexChernov @bogachev-pa
Леша утверждает, что у него не работает с типам ресурса. Паша - что с ресурсами. Что происходит ? В разных бранчах по разному ?

Паша, нужен твой ответ.

[2016-07-18 20:49] aurusov opened #421 "rcptt-тесты на результаты моделирования"

[2016-07-18 20:51] aurusov opened #422 "Нестабильно проходят тесты на Дженкинсе"
Тесты из http://jenkins.raox.rk9.bmstu.ru/job/raox-rcptt/ могут отвалиться по timeout'у:
`Fail 19 (29) processed. 1 failed. spent: 25:18, 12:39 mins remaining. model_generator_sequence. time: 375987ms  Cause: Execution timed out after 300 seconds`
В следующий раз могут пройти. Непонятно от чего зависит. Хочется разобраться и начать доверять серверу тестирования. М.б. мало памяти на машинке.

[2016-07-18 20:55] aurusov commented on #417
Обсудили задачи с Лешей.

[2016-07-19 08:42] bogachev-pa commented on #420
В данном случае Леша имел в виду, что если передавать ресурс, завернутый в лямбду, то все будет ок:

[code]

Но если передавать ресурс в качестве параметра в тип результата, то модель не скомпилится:

[code]

Проблема описана в этой таске: https://github.com/aurusov/raox/issues/405

[2016-07-19 09:40] aurusov commented on #420
Напишу вопросы в отдельных сообщениях, жду ответов.

(1) Тогда непонятно, про какой тип ресурса говорил Леша. Я - про РДОшный. Не нашел ничего про него в ответе Паши. С типом ресурса работают собираемые показатели или нет ? Леша, Паша ?

[2016-07-19 09:42] aurusov commented on #420
(2) Правильно ли я понял, что такой вариант заработает ?

[code]

[2016-07-19 09:43] aurusov commented on #420
(3) Покажите пример модели с собираемым показателем, который работает (или должен работать, но пока не работает) с типом ресурса.

[2016-07-19 09:45] AlexChernov commented on #420
[code]

Проверял сегодня с утра, такой вариант не работает

[2016-07-19 09:46] aurusov commented on #420
(0) Самое непонятное для меня.
- нашем разговоре Леша говорил про `ресурс` vs `тип ресурса`
- в вашем разговоре получается `ресурс` vs `ресурс, завернутый в лямбду`

И второе подается как ответ на первое. Вы меня окончательно запутали. Распутайте.

[2016-07-19 09:47] AlexChernov commented on #420
Я говорил, про то, что работает такой вариант :

[code]

и очень хотелось бы, чтобы заработал вариант:

[code]

[2016-07-19 09:49] aurusov commented on #420
И укажи на какой вопрос ты отвечаешь.

[2016-07-19 09:53] aurusov commented on #420
Леша, твой ответ на вопросы (0 и 3). Продолжаем (0). Паша, поясни свой ответ с учетом Лешиного примера из https://github.com/aurusov/raox/issues/420#issuecomment-233583327. Я не понимаю, какая тут связь с лямбой.

[2016-07-19 10:50] AlexChernov commented on #420
Я понял. Сейчас работает такой вариант:

[code]

Теперь по порядку:
**(0)**  и **(1)** Я называл результатом с `ресурсом` тот, который вообще не принимал параметров:

[code]

(рабочая схема)

И результатом c `типом ресурса` тот, который принимал бы в качестве параметра ресурс, т.е. был бы результатом для типа ресурсов, а не для конкретного

[code]

(не рабочая схема)

Если `завернуть ресурс в лямб

[2016-07-19 11:47] aurusov commented on #420
Ура, разобрались.

[2016-07-19 11:51] aurusov commented on #420
Насколь понял, задача https://github.com/aurusov/raox/issues/405 упростит только создание собираемого показателя, но не уберет Supplier. Т.е. после её решения должно заработать что-то типа

[code]

Правильно ?

[2016-07-19 12:44] AlexChernov opened #423 "Расширить класс статистики для категорий"
Для модели колл-центра такой класс используется, например, для сбора статистики по типам входящих заявок.

Предлагается добавить подсчет кол-ва вхождений в каждое из состояний. М.б. кол-во выходов из состояний.

[2016-07-20 08:13] bogachev-pa commented on #420
Нет, после ее решения должно заработать следующее:

[code]

Но:
Тонкий момент состоит в том, что такая конструкция в принципе не будет работать, если кто-то подменит ресурс оператор_1. Потому что ссылать в результате мы все еще будем на старый ресурс.
Апи для подмены ресурса мы пользователю не предоставляем. Единственное, что подменяет ресурс - поиск по графу. Насколько я понимаю, во время поиска

[2016-07-22 00:39] k-alexandrovsky commented on #420
@bogachev-pa
А нельзя ли сделать ресурс статическим геттером в пространстве имен модели? И в тело вызова завернуть всю возню с менеджерами. Тогда мы сможем обращаться к ресурсам по именам и из рулов, например. Сейчас то если в руле идет подбор по инстансу, как оно реализовано?

[2016-07-22 06:21] bogachev-pa commented on #420
@k-alexandrovsky
Он и является статическим геттером, внутри которого завернуто обращение к менеджеру.
Но только вот в коде, который я привел, мы передаем уже `результат` вызова этого самого геттера, т.е. уже саму величину ресурса. Если завернуть в лямбду, то как раз все ок - каждый раз вызывается геттер на новое значение. В рулах сейчас как раз идет обращение к менеджерам и там все норм, во время

[2016-07-22 10:36] k-alexandrovsky commented on #420
А, все, я слоу. Вообще все эти беды все из за отсутствия указателей на указатели :grin:
Еще можно усложнить механизм деплоев путем подмены значений полей, таким образом за счет определенного оверхеда можно остаться в рамках одного и того же инстанса. Если решаться на тотальный хардкор, есть еще [Unsafe.copyMemory](http://hg.openjdk.java.net/jdk7/jdk7/jdk/file/9b8c96f96a0f/src/share/classes/sun/mis

[2016-07-23 08:05] bogachev-pa commented on #420
Я думал об этом, смотрел всякие либы по поводу дип-копи. Тут проблема в том, что ресурсы могут хранить в себе ресурсы и т.п., короч, я не уверен, что простой `memcpy()` на область памяти ресурсов поможет.

Не совсем понял. Какой смысл подменять инстанс типа?

[2016-07-25 13:07] k-alexandrovsky commented on #420
Таким образом будет плевать на инстанс враппера. То есть резалт получил легкий враппер, работает с ним, и он всегда актуален, потмоу что менеджер ему будет обновлять инстанс реального ресурса в ходе деплоев. А в конструкторе/деструкторе можно регать инстансы врапперов у менеджера. То есть `getПарикмахер1()` будет оборачивать ресурс враппером и отдавать. Есть шанс, что это все очень слоу будет, хот

[2016-08-30 23:08] bogachev-pa commented on #381
Эта таска уже сделана.

[2016-08-30 23:08] #381 closed, assigned to AlexChernov

[2016-08-30 23:08] #371 closed, assigned to bogachev-pa

[2016-08-30 23:09] bogachev-pa commented on #371
Готово.

[2016-08-31 11:17] bogachev-pa commented on #422
Проходят.

[2016-08-31 11:18] bogachev-pa commented on #420
Готово.

[2016-08-31 11:18] #420 closed, assigned to AlexChernov

[2016-08-31 11:19] bogachev-pa commented on #405
Готово.

[2016-08-31 11:19] #405 closed, assigned to bogachev-pa

[2016-08-31 11:22] bogachev-pa commented on #217
Задача больше не актуальна.

[2016-08-31 11:22] #217 closed, assigned to nobody

[2016-08-31 11:22] bogachev-pa commented on #218
Задача больше не актуальна.

[2016-08-31 11:22] #218 closed, assigned to nobody

[2016-08-31 11:22] bogachev-pa commented on #222
Задача больше не актуальна.

[2016-08-31 11:22] #222 closed, assigned to nobody

[2016-08-31 11:35] aurusov commented on #422
Не согласен. На дженкинсе они ведут себя рандомно, приемущественно НЕ проходят. Что делать ?

[2016-08-31 11:40] bogachev-pa commented on #422
На дженкинсе любой тест может упасть по каким-то странным причинам. Это не проблема конкретно результатов. Тесты вели себя так и до пул-реквеста Леши.
Я думаю, эту задачу надо закрыть, и открыть новую, связанную с нестабильностью тестов на дженкинсе.

[2016-08-31 11:45] aurusov commented on #422
Зачем открывать новую, когда можно скорректировать эту.

[2016-09-02 18:52] #406 closed, assigned to bogachev-pa

[2016-09-03 07:33] #404 closed, assigned to bogachev-pa

[2016-09-03 07:39] aurusov opened #425 "Восстановить графики по enum"

[2016-09-03 08:03] bogachev-pa commented on #425
дубликат: https://github.com/aurusov/raox/issues/376

[2016-09-03 08:06] #425 closed, assigned to bogachev-pa

[2016-09-03 08:26] bogachev-pa opened #426 "Настроить аутлайн"
Функциональность была потеряна при переходе на иксбейз, в аутлайне сейчас много мусора и нет иконок.

[2016-09-04 18:00] aurusov commented on #403
Стал переводить модели. Понял, что неудобно. Отмечу задачу как приоритетную.

[2016-09-04 18:14] aurusov opened #427 "Первое впечатление по новому синтаксису"
- Почему имя ресурса должны начинаться со строчной буквы ?
- Почему имя модели после `logic` должно начинаться с заглавной буквы ?
- Везде подобные ограничения (имена событий, операций, фреймов и др) ?
- Не хватает `++` и `--` (https://github.com/aurusov/raox/issues/403)
- Можно ли избавиться от `#` в последовательности `sequence clientInputInterval = new Values(#[14, 13, 17, 15, 16, 15, 14, 22, 1

[2016-09-08 08:57] bogachev-pa commented on #376
Вместо специальной обработки енумов сделаны обобщенные схемы работы со всеми объектами произвольных типов как со строками. В том числе построение по ним графиков.

[2016-09-08 08:57] #376 closed, assigned to bogachev-pa

[2016-09-11 09:21] aurusov commented on #427
@bogachev-pa
Еще неделю назад начал юзать новую версию. Думал продвинусь на неделе, дополнить список и только потом показать его тебе. Но не успел. Посмотрел текущие замечания и выскажи свое мнение.

[2016-09-11 18:38] aurusov opened #429 "Упростить название конфигурации"
@k-alexandrovsky @bogachev-pa
Почему бы не назвать конфигурацию запуска проще: `runtime-EclipseXtext` -> `EclipseXtext` или `raox` ? Тогда не пришлось бы корректировать _Location_. Вопрос в первую очередь в Кириллу. Кажется, что это было для чего-то нужно.

[2016-09-11 18:50] aurusov commented on #411
Паша, посмотри это место. Блочит переход на Неон.

[2016-09-11 18:53] aurusov opened #430 "Юнит-тесты"
Паша, у нас в юнит тестах только Олины процессные ? Мне казалось, что были еще какие-то.

[2016-09-11 19:19] bogachev-pa commented on #429
Имя конфигурации запуска не имеет значения. По-моему, `runtime-EclipseXtext` - название, которое давалось раньше по умолчанию.

[2016-09-11 19:21] bogachev-pa commented on #430
Есть еще простейший тест трассировщика. Раньше был еще тест математических функций, но теперь мы берем их из либы, и я его спилил.

[2016-09-11 19:26] bogachev-pa commented on #427
Существует ограничение, связанное с генерацией кода. Как минимум у ресурсов, им надо генерить геттеры, а для геттеров получается: `a` -> `getA()`, т.е. часть после гет начинается с большой буквы. Тогда иксбейз распознает их как геттер. Поэтому я запретил давать имена ресурсам с большой буквы. Потом решил распространить это правило на все элементы грамматики и просто сделать строгий код стайл.

Сог

[2016-09-11 20:05] aurusov commented on #429
Тогда я упрощу описание

[2016-09-11 20:06] aurusov commented on #430
https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.tests/src/ru/bmstu/rk9/rao/tests/unit/TracerUnitTest.java ?

[2016-09-11 20:09] aurusov opened #431 "Нечитаемые сообщения об ошибках"
Нечитаемое сообщение об ошибке, пример для кода

[code]

![2016-09-04_21-20-11](https://cloud.githubusercontent.com/assets/5585202/18233028/96421a86-72e5-11e6-9b4c-5ac32bf26db5.png)

[2016-09-11 20:10] aurusov commented on #431
Если задача тянет на бонус, практику или курсовой, то сформулируй постановку и набросай путь решения.

[2016-09-11 20:12] aurusov commented on #427
А что насчет

?

[2016-09-11 20:18] bogachev-pa commented on #427
Не встречал такое, посмотрю.

[2016-09-11 20:19] bogachev-pa commented on #430
Да.

[2016-09-11 20:19] bogachev-pa commented on #431
Пути решения сразу не вижу, надо разбираться.

[2016-09-12 06:05] aurusov commented on #430
Хорошо. В тестах есть проблема https://github.com/aurusov/raox/issues/411. Насколько я понимаю, из-за неё мы не сможем гонять тесты на сервере.

[2016-09-12 06:17] aurusov commented on #430
Еще вопрос. Вот есть ошибка https://github.com/aurusov/raox/issues/411. Но все тесты запускаются и проходят, даже для трассировки. Как такое возможно ? Нафига тогда тут сгенеренный код ?

[2016-09-12 09:04] bogachev-pa commented on #430
Ошибка #411 - это ошибка сборки под неон, причем тут она?
Не понял вашего вопроса.
В юнит-тестах рао не используется как плагин и никакого кода не генерится.
В отличие от тестов моделей.

[2016-09-12 09:13] bogachev-pa commented on #427
Не воспроизводится. Копирую старую модель в новую пустую, подсвечивается много ошибок, но никаких диалоговых окон не появляется.
Убунту 15.10, эклипс марс р2.

[2016-09-12 09:32] bogachev-pa commented on #431
Проблема решается созданием своего класса, наследующего `SyntaxErrorMessageProvider` и переопределением его метода `getSyntaxErrorMessage()`. В этом методе можно посмотреть контекст грамматической ошибки (на каком элементе грамматики она случилась) и дефолтное сообщение об ошибке, ну и вернуть свое сообщение об ошибке вместо дефолтного.
Вполне тянет на бонус или практику.

Могу написать чуть более

[2016-09-12 09:48] aurusov commented on #431
Пример в коде есть ?

[2016-09-12 09:49] aurusov commented on #427
Делал под виндой, mars 2. Попробую воспроизвести.

[2016-09-12 09:56] aurusov commented on #430
Генерится, посмотри сам. Это ошибка в пакете _тестов_, которые мы тут обсуждаем. Получается
- ошибка важна,она влияет на тесты, её надо править
- она неважна, не влияет на тесты, тогда зачем этот код в тестах

Вопрос важности уместно обсудить в теме про тесты - #411 может оказаться неактуальной задачей.

[2016-09-12 10:23] bogachev-pa commented on #431
Вечером скину.

[2016-09-12 12:17] bogachev-pa commented on #430
Теперь понял, о чем вы. Посмотрю.

[2016-09-13 09:13] bogachev-pa commented on #431
Примерно так будет выглядеть нужный нам класс:

[code]

В `RaoRuntimeModule` надо его забиндить:

[code]

[2016-09-13 12:25] aurusov commented on #431
Как правильно работать с контекстом ? Можешь сделать пример для ошибки из [топика](https://github.com/aurusov/raox/issues/431#issue-176262402) ?

[2016-09-13 19:38] bogachev-pa commented on #431
Пока не могу, не разбирался достаточно подробно. Сделать?

UPD: Немного покопался с контекстами, они странные. По непонятным для меня причинам в невалидном коде, который вы привели, он находит `FunctionDeclaration`. Не уверен, что, если икстест выдает такой мусор, то его можно адекватно обработать.

[2016-09-14 08:51] aurusov commented on #431
Что делать ?

[2016-09-14 16:29] bogachev-pa commented on #431
Ну, в лучше случае можно показать чуть более адекватное сообщение об ошибке в одном месте (где подчеркивается new) и оставить непонятный мусор в остальных местах.

[2016-09-14 18:23] aurusov commented on #431
Это не решение. В Старом РДО я убил 1 год, чтобы сделать хоть какие-то сообщения об ошибках, которые и в финальной версии выглядели не очень. И для этого нужно было править _грамматику_, она выросла в несколько _раз_. Она писалась без оглядки на ошибки. Кажется, тут такой же случай. Поэтому прошу подумать над более сложным, но правильным решением. Не знаю true way для xbase'а. Решение главное наме

[2016-09-15 19:36] aurusov opened #432 "deleted"

[2016-09-15 19:50] aurusov opened #433 "deleted"

[2016-09-15 19:57] aurusov opened #434 "deleted"

[2016-09-15 20:07] aurusov opened #435 "deleted"

[2016-09-16 09:45] aurusov opened #436 "Диаграмма последовательности событий"
- Нужно разработать простейшее мобильное приложение, например, для чтения [баша](http://bash.im/). Главное, чтобы у него было несколько экранов и по несколько кнопок на каждом.
- Переключение между экранами и нажатия на кнопки фиксируются. Приложение отправляет события на сервер по HTTP. Используем [nginx](https://github.com/aurusov/raox/wiki/nginx) и [Poco HTTP server](https://github.com/aurusov/

[2016-09-16 09:46] #435 closed, assigned to nobody

[2016-09-16 09:47] aurusov opened #437 "Indoor навигация"
Почитать про одно из решений https://habrahabr.ru/company/sap/blog/267433/
- На мобильном в фоне крутится приложение, которое чекает или Wi-Fi точки доступа или Bluetooth-маяки, как в статье выше
- Отправляет данные на сервер по HTTP. Используем [nginx](https://github.com/aurusov/raox/wiki/nginx) и [Poco HTTP server](https://github.com/aurusov/poco-http-server).
- Сервер складывает данные в базу,

[2016-09-16 09:47] #434 closed, assigned to nobody

[2016-09-16 09:48] aurusov opened #438 "Трекинг мобильника"
- На мобильном в фоне крутится приложение, которое чекает координаты.
- Отправляет их на сервер по HTTP. Используем [nginx](https://github.com/aurusov/raox/wiki/nginx) и [Poco HTTP server](https://github.com/aurusov/poco-http-server).
- Сервер складывает данные в базу, например, [ClickHouse](https://clickhouse.yandex/).
- Десктоп-клиент ходит на этот же сервер и отображает траекторию мобильника на

[2016-09-16 09:48] #433 closed, assigned to nobody

[2016-09-16 09:49] aurusov opened #439 "Стенограмма лекций"
**Перепроверить весной 2018 года.** Пока качество распознавания неудовлетворительное.

- На мобильнике крутится приложение с технологией распознавания речи, например, [SpeechKit](https://tech.yandex.ru/speechkit/mobilesdk/). [Пример](https://yandex.ru/blog/yatechnologies/5706513721daed3a00126862) готового приложения.
- Распознанный текст должен быть передан на мобильники всех желающих в режиме onl

[2016-09-16 09:49] #432 closed, assigned to nobody

[2016-09-16 10:00] aurusov opened #440 "Символизация крешей"
Мобильные приложения могут падать. Разработчик хочет получать отчеты о падениях. В отчетах присылается плохо читаемый стек. Чтобы стало понятнее, его надо символизировать с заранее присланными символами. Итого есть ряд задач:
- присылать на сервер символы во время компиляции исходников приложения
- отправлять на сервер креши во время работы приложения
- на сервере делать символизацию
- на сервере

[2016-09-16 10:04] aurusov opened #441 "Апвизор"
Разработчик приложения хочет анализировать поведение пользователей своих программ. Это можно делать через отправку событий, привязанных к кнопкам и др. элементам (#436). Хочется разработать альтернативный механизм:
- Не связывать руками события с кнопками, а автоматически фиксировать нажатия на элементы управления.
- Отправлять на сервер не только факт события, но и скриншот
- На основе отправленн

[2016-09-17 08:37] aurusov commented on #60
- Разобраться, как [PlotDataParser](https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/plot/PlotDataParser.java) получает данные из базы. Вот [точка инициализации](https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/serialization/SerializedObjectsView.java#L75) (вызов меню построения графика)
- Разобраться,

[2016-09-17 08:42] aurusov commented on #60
![img_20160917_114121](https://cloud.githubusercontent.com/assets/5585202/18607111/c5d2d7d2-7ccb-11e6-8ff5-ae206a03b843.jpg)

[2016-09-17 12:18] nikolayantoncev commented on #437
Застолбил курсовой. Если я правильно понимаю, навигация будет для тех кто плохо знает ГЗ?

[2016-09-17 12:25] aurusov commented on #154
@k-alexandrovsky
Помнишь, ты показывал работу с эклипсом через браузер ? Но там нужна была старая версия swt или еще какой-то либы. Подскажи где посмотреть и есть ли возможность запустить текущее РДО на этой базе ?

[2016-09-17 12:48] aurusov commented on #154
Кажется, что надо встраивать сервер прямо в РДО. Это позволит во время прогона по сокету отдавать анимацию, трассировку и графики. В Эклипсе для этого есть [инструментарий](http://www.eclipse.org/webtools/).

[2016-09-17 13:09] aurusov commented on #166
@bogachev-pa
Есть мысли, с чего начать решение ? Наверняка в Эклипсе можно заюзать стандартные вьюхи  для просмотра стека и локальных переменных. И, надеюсь, в xbase есть какие-то помощники для создания точек останова. Надеюсь, тебе что-то известно.

[2016-09-17 13:31] aurusov commented on #437
Да, отличная мысль. Можно раздавать приложение абитуриентам. На карту нанести кабинеты, где сидят кафедры во время приема. И показывать где сейчас находится мобильник. Можно даже маршрут построить. Актуально для идиотских аудиторий, к которым можно пробраться только по специальным лестницам. Но это скорее для первокурсников, и вообще довольно сложная задача. Так что пока не думаем в эту сторону. Д

[2016-09-17 14:19] bogachev-pa commented on #166
Читал статью, в которой нечто подобное имплементилось, но на довольно старой версии икстекста. Постараюсь ее найти.
Ничего конкретнее подсказать не могу.

[2016-09-17 15:48] k-alexandrovsky commented on #154
Мне кажется, что интерфейс придётся делать самим, запускать в качестве сервера [jetty](http://www.eclipse.org/jetty/), а там уже любой фреймворк, либо spring, либо gwt. Анимация вроде более-менее абстрагирована, так что html5 canvas нарисует не хуже swt. Естественно, все будет на ajax'e. А редактор можно встроить их родной - http://www.eclipse.org/Xtext/documentation/330_web_support.html

[2016-09-17 17:20] aurusov commented on #154
Не понял про spring/gwt.

[2016-09-17 20:59] k-alexandrovsky commented on #154
Ну насколько я понимаю, в любом случае придется писать фронтэнд. На любой из технологий. Можно хоть на чистом JSP.

Эклипс вроде как не дает полноценную IDE в браузере. У них было это в качестве эксперимента несколько лет назад, но загнулось (видимо, за ненадобностью). Из современного я нашел вот такое - https://www.eclipse.org/che/technology/, но оно скорее всего еще очень сырое, плюс икстекст с

[2016-09-17 21:27] aurusov commented on #154
Тут понятно, согласен

Что значит там же ? Понятно, что надо попросить анимацию генерить команды отрисоки для клиента. Но рисоваться они должны же на клиенте. Что-то не понимаю твою мысль.

Редактор не нужен. Пока просто запуск + состояние прогона + анимация.

[2016-09-19 08:13] k-alexandrovsky commented on #154
Я не знаю, как на текущий момент устроены результаты с точки зрения архитектуры, но с анимацией можно сделать следующим образом -- какой-нибудь `BackendAnimationContext` вместо отрисовки фрейма переводит его в сериализованный вид (JSON/BSON/что-угодно) и начинает его хранить, чтобы потом отдать на клиент. Клиент, соответственно, рисует. Можно делать не полный фрейм каждый раз, а вычислять диффы на

[2016-09-19 09:07] aurusov commented on #154
Да, именно так и я себе представляю. Когда ты начал говорить непонятные слова, думал у тебя есть готовый стек технологий для этого. Велосипедить не хочется.

[2016-09-19 09:09] aurusov commented on #437
@nikolayantoncev, @tinka94
Как я понял, вы договорились, что эта тема будет за Никитой ? Если да, то какую тему берет Коля ?

[2016-09-19 15:04] nikolayantoncev commented on #437
@aurusov
Да так и есть. Если не занята тема "Трекинг мобильника" я бы взял ее.

[2016-09-19 15:28] aurusov commented on #437
@nikolayantoncev
Я бы закрепил, но вы который день не принимаете [приглашение](https://github.com/aurusov/raox/wiki/Дорожная-карта-новичка#%D0%A7%D1%82%D0%BE%D0%B1%D1%8B-%D0%B7%D0%B0%D0%BA%D1%80%D0%B5%D0%BF%D0%B8%D1%82%D1%8C-%D1%82%D0%B5%D0%BC%D1%83).

[2016-09-20 09:52] bogachev-pa commented on #411
Проблема в том, что метод `createInjector()` принимает `Module...`, т.е. `varargs`. Джава воспринимает его как массив с произвольным числом элементов. Поэтому если передавать просто `RaoRuntimeModule`, то он не может покастить массив `RaoRuntimeModule` к массиву `Module` (хоть и `RaoRuntimeModule` к `Module` кастится).
Тут камень в огород джавы, я думаю.

Теперь надо выяснить, почему генерится так

[2016-09-20 10:05] aurusov commented on #411
Тоже думал про кастинг к массиву. Но где-то в другом месте нашел аналогичную конструкцию, которая компилится. Или ошибаюсь, и подобного нет ?

[2016-09-20 13:00] bogachev-pa commented on #411
Проверил в доках джавы, с массивами так действительно можно делать.
https://docs.oracle.com/javase/specs/jls/se7/html/jls-5.html

`Example 5.2-3.`

[code]

`The value of cpvec can be assigned to pvec, because any reference that could be the value of an expression of type ColoredPoint can be the value of a variable of type Point.`

В таком случае непонятно, почему с `varargs` не получается. Пока ра

[2016-09-20 13:10] aurusov commented on #411
Главное, не закопайся в этой задаче. Нам тут тесты восстановить надо. Для раскопок можно другую задачу создать.

[2016-09-20 14:12] bogachev-pa commented on #411
Странно, вроде должно работать. Возможно, я неправильно понял ошибку.
На простом примере все ок.

[code]

[2016-09-20 14:21] aurusov commented on #411
Во-во, странно.

[2016-09-20 14:22] aurusov commented on #411
Кажется, что он не видит кастинг

[2016-09-20 19:53] #417 closed, assigned to aurusov

[2016-09-20 19:53] #418 closed, assigned to aurusov

[2016-09-20 19:55] bogachev-pa commented on #411
Ведет себя очень странно, `RaoRuntimeModule` нормально кастится к `Module` (неявным кастом) в проекте, где он объявлен, но в проекте тестов почему-то не кастится. Разъехались какие-то зависимости, но какие именно пока мне неясно.

В качестве временного быстрого решения можно просто отключить генерацию файлов в `tests/src-gen`, т.к. они на данный момент не используются.
Коммит выше.
Если ок, постав

[2016-09-20 19:56] aurusov commented on #411
Да, давай отключим и всё.

[2016-09-20 20:26] aurusov opened #443 "Сломалось rcptt-тестирование для 3.x версий"
Локально тестирование проходит. Через Дженкинс - нет. Прошу через консоль на Дженкинсе запустить тесты.

[2016-09-20 20:28] aurusov opened #444 "Встроить rcptt-тестирование в сборку плагина"
В эту задачу
http://jenkins.raox.rk9.bmstu.ru/job/raox-plugin/
притащить тесты из этой
http://jenkins.raox.rk9.bmstu.ru/job/raox-rcptt/

Если вторая больше не будет нужна, то грохнуть.

[2016-09-20 20:28] aurusov commented on #362
https://github.com/aurusov/raox/issues/444

[2016-09-20 20:28] #362 closed, assigned to bogachev-pa

[2016-09-20 20:39] bogachev-pa commented on #443
Проблема в том, что тесты требуют графический интерфейс. На дженкинсе поднимаем его временно с помощью плагина `xvnc`. Руками его поднять, кажется, довольно проблематично. Поэтому руками потестить не получится.

Можно попробовать как-то почистить тот эклипс или заменить его на новый.

[2016-09-20 20:40] aurusov commented on #443
- Для начала хочется выполнить через терминал тот же скрипт, что выполняется в задаче.
- Потом попробовать увеличить память через config.ini
- И только потом думать в сторону xvnc

[2016-09-20 20:41] bogachev-pa commented on #443
Он не выполнится, т.к. он запускает эклипс. Эклипс не запустится, т.к. нет графического интерфейса.

[2016-09-20 20:42] aurusov commented on #443
Не понимаю, что мешает это выполнить из консоли

[code]

[2016-09-20 20:44] bogachev-pa commented on #443
[code]

Упадет на попытке запустить эклипс. Если вас это не смущает, то могу выполнить, конечно. Но не вижу в этом никакого смысла.

[2016-09-20 20:46] aurusov commented on #443
А как эту команды выполняет Дженкинс ?

[2016-09-20 20:46] aurusov commented on #443
Кажется понял, чуть выше есть `Run Xvnc during build`

[2016-09-20 21:05] aurusov commented on #443
Обратил внимание на две вещи
- Первый тест проходит, http://jenkins.raox.rk9.bmstu.ru/job/raox-test/7/console. М.б. он что-то ломает в конце ?
- Содержимое скрипта `run_tests.sh` невалидно, как минимум в одном месте. `autPath=/home/rdo/eclipses/to_test/eclipse-dsl-mars-1-linux-gtk-x64` - нет такого пути. Исправил на текущее значение, не помогло. Старый скрипт переименовал в `run_tests.sh.backup`.

[2016-09-20 21:23] aurusov commented on #443
Еще странности. Вот кусок лога

[code]

Ну нет в этой директории таких файлов. Там лежит версия 3.1.0 !!!

[2016-09-20 21:25] bogachev-pa commented on #443
Нет, он проходит потому что не использует плагин рдо.

Видимо, причина где-то здесь. Надо попробовать снести оттуда эклипс и положить чистый.

[2016-09-22 08:43] aurusov opened #445 "3.1.0 не может запустить модель"
Иногда модель запускалась по 40 секунд, иногда не запускалась и минут 5. Иногда помогала перезагрузка, иногда - нет. В консоль ничего не пишется. Проявлялось по Ubuntu 16.04. Под Виндой было нормально.

Паша предложил увеличить размер памяти в config.ini. У меня еще мысли - проверить под Неоном.

[2016-09-23 16:00] LeKaitoW commented on #407
Скрыла пункт про процессный подход из визарда.

Про создание нового файла `proc`: нажать на кнопку New, в `General` > `File` > `File name:` вводим имя файла `*.proc` > `Finish`.
Добавляет даже в проект, где уже был файл процессного подхода. Модели в файлах работают параллельно. (Пробовала на простейших моделях: Generate-Hold-Terminate, Generate-Terminate, где у Generate разные интервалы.)

[2016-09-23 20:56] aurusov commented on #201
@bogachev-pa
Паша, эта задача решена в рамках https://github.com/aurusov/rdo-xtext/issues/202 ?

[2016-09-23 21:03] aurusov commented on #77
@bogachev-pa
Разве не закрыто ?

[2016-09-23 21:16] bogachev-pa commented on #77
Надо смотреть. Не помню, чтобы кто-то это делал.
Решается довольно просто, можете кому-нибудь на бонус дать.

UPD: проверил, задача действительно пока не решена

[2016-09-23 21:16] bogachev-pa commented on #201
Надо проверить.

[2016-09-23 21:22] aurusov commented on #364
@bogachev-pa
https://github.com/aurusov/raox/issues/444
Дубль ?

[2016-09-23 21:29] bogachev-pa commented on #364
Не, тут другое. Мы запускаем rcptt через рукописный скрипт в самом дженкинсе, а в теории оно может как-то запускаться через мавен (я где-то об этом читал, когда только начинал с ним разбираться).

[2016-09-23 21:34] bogachev-pa commented on #201
Я делал валидаторы, запрещающие дублирование имен с моделью, так что, видимо, так делать все еще нельзя. Например, нельзя назвать класс и еще один вложенный в него одинаковыми именами.

Предлагаю решить задачу способом номер 1.

[2016-09-23 21:34] aurusov commented on #201
Бонус как раз на 1.

[2016-09-23 21:36] aurusov commented on #77
Ну путь будет бонусом

[2016-09-23 21:42] aurusov commented on #407
Отлично, что создается. Но хочется иметь отдельный раздел с файлами Raox, как в визарде.

[2016-09-23 21:49] bogachev-pa commented on #407
Но такого раздела для файлов Raox нет.
Или я вас не так понял?

[2016-09-23 21:51] aurusov commented on #407
Да, переписал тему

[2016-09-23 21:54] aurusov commented on #397
На чем остановились ?

[2016-09-23 22:06] aurusov commented on #238
Напомни, мы уперлись во что-то или просто недоделали ?

[2016-09-23 22:07] aurusov commented on #237
Такой же вопрос
Напомни, мы уперлись во что-то или просто недоделали ?

[2016-09-24 08:43] aurusov opened #451 "Прокачать сбор статистики через Value"
Сейчас приходится писать

[code]

Хочется заменить одной строкой. Тоже для целых значений.

[2016-09-24 11:41] aurusov commented on #437
В Android Studio создать приложение с полем ввода. По нажатию на кнопку
- его значение переписывается в label
- исходное поле очищается
- значение передается poco-http-серверу
- по запросу get_value сервер отдает это значение браузеру

[2016-09-24 12:34] aurusov commented on #154
1. На базе [Jetty](http://www.eclipse.org/jetty//) поднять сервер, не связывая его с raox. Настроить [nginx](https://github.com/aurusov/raox/wiki/nginx) в качестве прокси. Разработать ручку `ping`, добиться ответа. [Пример](https://github.com/aurusov/poco-http-server) простейшего сервера.
2. Добавить ручку `currentTime`, которая будет возвращать константу 12345.
3. Связать сервер с raox, чтобы сер

[2016-09-24 13:11] aurusov commented on #441
1. В Android Studio разработать простейшее приложение с 2-3 экранами. Между ними надо переключаться. На экрана несколько кнопок и других элементов gui. Свойства элементов должны сохраняться при переключении между экранами. (на неделю)
2. Разработать отдельную либу, которая должна ловить нажатия на произвольное место на экране. Либа должна быть интегрирована в приложение от сторонняя SDK.

[2016-09-24 17:44] aurusov opened #452 "Ошибка компиляции if'а"
[code]

line 3, warning
Missing else branch for conditional expression with primitive type

line 5, error
Multiple markers at this line - номер_робота cannot be resolved to a type. - mismatched input 'else' expecting
 '}' - mismatched input '==' expecting ')'

line 6, error
mismatched input '==' expecting '('

Достаточно расставить фигурные скобки

[code]

[2016-09-24 18:12] aurusov opened #453 "Зачем-то требует init для кадра анимации"
[code]

Пустой метод init() обязателен. Если его убрать, то будет runtime-error
`Project contains errors:
file test.java at line 2130: The type test.Frame must implement the inherited abstract method AnimationFrame.init()`.

[2016-09-24 18:34] aurusov opened #454 "Не работает ctrl + arrow"
В редакторе невозможно перемещаться по словам.

[2016-09-24 18:35] aurusov commented on #177
Опять сломалось

[2016-09-24 18:38] aurusov commented on #454
Перестал работать ctrl во всех операциях. Перезагрузка Эклипса не помогла. Пришлось грохать метадату и создавать новый проект.

[2016-09-24 18:38] #454 closed, assigned to bogachev-pa

[2016-09-24 18:41] aurusov opened #455 "Не работает переименование через рефакторинг"
Как минимум для параметров фукнции.

[2016-09-24 19:20] aurusov opened #456 "Неверно работает форматирование resultType"
[code]

[2016-09-24 19:26] aurusov opened #457 "Постоянное подвисание при редактировании модели"
Руками переводил модель на новый синтаксис.
https://github.com/aurusov/raox-models/blob/44200d4349e62b61a4f8369d785b7a023f2dcf86/models/game_5.rao
В начале она еще ничего работала. Но под конец постоянный билдинг с подвисанием. Работать реально невозможно. Тупит запись, тупит code-completed, тупит вставка из буфера обмена, тупит форматирование. Перезагрузка не помогает. Винда, x64. Как только вста

[2016-09-24 19:29] aurusov opened #458 "Упростить отчет о вершине"
![2016-09-24_22-28-09](https://cloud.githubusercontent.com/assets/5585202/18810736/3fc19f6c-82a6-11e6-841d-71ba78f16688.png)

Надо делать как в трассировке (можно и методы оттуда переюзать):
- если в модели один файл - используем короткое имя `фишка2`
- если в модели более одного файла - используем полное имя `qqq.фишка2`

Имя проекта отбрасывается всегда.

[2016-09-24 19:31] #416 closed, assigned to aurusov

[2016-09-24 19:40] aurusov commented on #374
@bogachev-pa
С моделями из  `models` закончил. А вот модели из `tests` хочу удалить. Они ведь тебе не нудны ?

[2016-09-24 23:30] bogachev-pa commented on #453
Упс, я хотел сделать под этот метод стаб, чтобы он был необязателен, и забыл.
Поправлю.

[2016-09-24 23:34] bogachev-pa commented on #451
Мне казалось, что так можно:

[code]

Или это так и не заработало?

[2016-09-24 23:36] bogachev-pa commented on #177
Не сломалось. Я думал, что удаления при форматировании достаточно для решения задачи.
А нужно еще автоматически при любом сохранении, так?

[2016-09-24 23:38] bogachev-pa commented on #457
Тут даже не знаю, иксбейз на большом количестве ошибок действительно очень тупит.
Вряд ли это можно исправить на уровне `Raox`.

[2016-09-24 23:40] bogachev-pa commented on #458
Что если в модели более одного файла и в обоих есть ресурс `фишка2`?
Тут надо делать как в трассировке (можно и методы оттуда переюзать):
- если в модели один файл - используем короткое имя `фишка2`
- если в модели более одного файла - используем полное имя `qqq.фишка2`

Имя проекта отбрасывается всегда, тут да.

[2016-09-24 23:40] bogachev-pa commented on #374
Да, тесты у нас совершенно поменялись, давайте те грохнем.

[2016-09-25 07:51] aurusov opened #459 "Упростить drawText"
Для вывода числовых значений в анимации необходимо писать

[code]

Для упрощения можно запилить сигнатуру `drawText` с `Object` в качестве первого параметра и делать `toString()` внутри самого метода.

[2016-09-25 08:04] aurusov commented on #374
Грохнул. По задаче всё.

[2016-09-25 08:04] #374 closed, assigned to aurusov

[2016-09-25 08:06] aurusov commented on #458
Согласен. Обновил постановку.

[2016-09-25 08:10] aurusov commented on #457
А, вспомнил. В начале был другой кейс. Ошибок много, но не тупит. Но неправильно компилит создание ресурса из-за енума, хотя никакой ошибки на глаз нет. Еще в чатик тебе отправлял пример с вопросом. Поэтому закомментировал от написанного и до конца - компиляция ресурсов сразу прошла. Так и писал - раскомментировал кусок, перевел на новый синтаксис и дальше. Все по кускам. И вот дошел до последнего

[2016-09-25 08:14] aurusov commented on #177
Да.

Чтобы не было путаницы. У нас три разных функции
- убрать пробелы
- форматирование кода
- сохранение

Первое должно быть в двух последних. Второе тоже может быть в третьей. Это все должно выставлять галками. Если галок нет, то поведение по умолчанию такое
- убрать пробелы при форматировании кода
- убрать пробелы при сохранении
- не делать автоматическое форматирование при сохранении

[2016-09-25 08:14] aurusov commented on #177
Если нужна новая задача, то заведи.

[2016-09-25 08:18] aurusov commented on #451
Это работает, но возвращает последнее значение

[code]

[code]

[2016-09-25 09:20] aurusov opened #460 "Нельзя создать ресурс без имени"
Пример с первой страницы доки не компилируется

[code]

Вот этот вариант уже проходит

[code]

Это бага или фича ? Потому что можно создавать ресурсы без имени внутри событий.

[2016-09-25 09:26] aurusov opened #461 "Создать можно, присвоить нельзя"
Внутри события можно создать ресурс, но нельзя присвоить переменной `заготовка_`.

[code]

[2016-09-25 09:34] bogachev-pa commented on #461
внутри события просто пишите `val заготовка_ =`
ключевое слово ресурс - для глобальных объявлений

[2016-09-25 09:37] bogachev-pa commented on #460
Фича. Без имен теперь надо создавать в методе `initialize()`.

[2016-09-25 09:38] bogachev-pa commented on #451
Окей, понял.

[2016-09-25 09:55] bogachev-pa commented on #177
Пусть будет в этой.

[2016-09-25 09:55] bogachev-pa commented on #445
В эту субботу лучше себя вел?

[2016-09-25 09:57] bogachev-pa commented on #411
Закрывать?

[2016-09-25 09:57] #419 closed, assigned to bogachev-pa

[2016-09-25 10:00] aurusov commented on #411
Да

[2016-09-25 10:00] #411 closed, assigned to bogachev-pa

[2016-09-25 10:01] aurusov commented on #445
Да, все хорошо.

[2016-09-25 10:01] #445 closed, assigned to bogachev-pa

[2016-09-25 10:02] #460 closed, assigned to bogachev-pa

[2016-09-25 10:03] aurusov commented on #461
Ага, мысль приходила, но не у компа и забыл проверить. Жалко, что такая путаница. Но ей можно найти объяснение.

[2016-09-25 10:03] #461 closed, assigned to bogachev-pa

[2016-09-25 12:45] aurusov opened #462 "Прозрачный цвет фигур анимации"
Его сейчас нет.

[2016-09-25 12:45] aurusov commented on #462
@bogachev-pa
Паша, оцени сложность по нашей шкале от бонуса до диплома :)

[2016-09-25 12:55] aurusov opened #463 "Не получается задать alignment"
Не компилируется

[code]

[2016-09-25 13:10] bogachev-pa commented on #463
С какой ошибкой?

[2016-09-25 13:23] aurusov commented on #463
Ага, он предлагает сделать импорт

[code]

После этого работает.

[2016-09-25 13:25] aurusov commented on #463
Теперь другая проблема - чтобы я не написал, всегда выравнивает по левому краю.

[2016-09-25 13:44] bogachev-pa commented on #463
Я вообще хотел неявные импорты для таких вещей. Так что надо поправить.
С неправильным выравниваем посмотрю, я вроде это не трогал.

[2016-09-25 14:17] bogachev-pa commented on #462
Тут скорее вам нужно оценить, я вроде в этом меньше копался. Вы же разбирались с прозрачностью фигур в свт? Если движок поддерживает, то дальше не очень сложно, просто добавить параметры в `RaoColor` и пробрасывать дальше.

[2016-09-25 18:48] LeKaitoW commented on #387
Оставили исходный вариант (возможность выбрать любой ресурс). Решили заниматься извращениями с аннотациями благодаря @k-alexandrovsky

[2016-09-25 18:48] #387 closed, assigned to LeKaitoW

[2016-09-25 19:09] bogachev-pa opened #464 "Интеграция графического редактора процессного подхода и текстового редактора"
Схемы:
1. Интеграция на уровне EMF. Возможно, наиболее правильный уровень интеграции - но непонятно, что тут делать, надо разбираться.
2. Интеграция на уровне Java. Любой нагенеренный java-код в проекте автоматически подцепится иксбейзом.
3. Интеграция на уровне грамматики. Генерим код на рдо из графического редактора. Из него уже генерится java-код. Профит в халявном аутлайне и тому подобным веща

[2016-09-26 08:50] aurusov opened #465 "Убрать мусор при выборе ресурса в блоках Seize/Release"
Текущее решение показывает в выпадающем списке ресурсы в формате `имя проекта.имя файла.имя ресурса`. Хочется свести к логике, как в трассировке
- Имя проекта никогда не показывается
- Имя файла файла
  - Не показывается, если файл *.rao в проекте один, получается просто `имя ресурса` (самый частый случай)
  - Показывается, если несколько: `имя файла.имя ресурса`

[2016-09-26 08:51] aurusov commented on #387
Текущая логика имеет недостаток, у которого уже есть решение в трассировщике. Завел https://github.com/aurusov/raox/issues/465.

[2016-09-26 14:02] Aleksandr15 commented on #50
@aurusov
Здравствуйте! Возник вопрос по исходникам . В исходнике [PlotFrame](https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/plot/PlotFrame.java) , как я правильно понимаю , horizontalSlider  и  verticalSlider - это оси координат ?

[2016-09-26 14:25] aurusov commented on #50
Нет. Это ползуки прокрутки. https://www.google.com/search?q=org.eclipse.swt.widgets.Slider&oq=org.eclipse.swt.widgets.Slider&sourceid=chrome&ie=UTF-8. С зажатом `Ctrl` нажмите левой кнопкой на слове Slider в [этой](https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/plot/PlotFrame.java#L16) строке. Переместитесь на исходный код класса.

А вот [это](http

[2016-09-26 15:27] Aleksandr15 commented on #50
Тогда следующий вопрос - получается нужно реализовать стандартными средствами эклипса или можно использовать библиотеку Swing (JScrollPane) ?

[2016-09-26 16:05] aurusov commented on #50
Эклипса, возможностями SWT. Вы же видите импорты `org.eclipse.swt`. И возможностями `org.jfree`.

[2016-09-27 17:35] aurusov opened #466 "Выбор релевантного ресурса по имени ресурса"
Модель https://github.com/aurusov/raox-models/blob/master/models/fms.rao

Вот такой код работает

[code]

Но как правильно записать, если условие неважно ? Руки пишут такое

[code]

После чего перестает компилироваться. Это бага/фича ? Как правильно писать ?

[2016-09-27 20:20] bogachev-pa commented on #466
Это фича.

Зачем вам в таком случае подбирать его как релевантный?
Просто используйте `станок_3` в коде паттернов.

[2016-09-27 20:42] aurusov commented on #466
Чтобы видеть все ресурсы, которые требуются паттерну. Как тебе функция в Джаве, у которой только два параметра, но внутри еще три статика используются. Т.е. по сути 5 параметров, но знаешь ты только про 2. Я не про, чтобы запретить прямое использование (хотя почему нет), просто хочется иметь возможность в явном виде их указывать для чистоты кода. И еще - а как обстоит дело с accessible для них ? О

[2016-09-27 21:05] aurusov opened #467 "Не работает форматирование ресурсов"
Не добавляется пробел после знака равенства

[code]

[2016-09-27 21:21] bogachev-pa commented on #466
Тогда попробуйте

[code]

[2016-09-27 22:12] aurusov commented on #466
Ты хочешь сказать, что

[code]

не проверяет на accesible ?

[2016-09-27 22:43] aurusov opened #468 "Разное форматирование фильтров и финального отбора"
То есть пробел перед `[`, то нет.

[code]

[2016-09-28 05:45] bogachev-pa commented on #468
Это страння штука, да, если идет перенос строки, то иксбейз ставит пробел перед квадратной скобкой. Это иксбейзовский форматтер делает, то есть в наш код это никак не трогает. Правая часть тут число иксбейзовское выражение.
Тут разве что оверрайдить какие-то функции в иксбейзовском форматтере, чтобы на это повлиять.

[2016-09-28 05:46] bogachev-pa commented on #466
Сейчас нет. Наверное, стоит это поправить.
С другой стороны, как подобрать тогда `не-только-accessible`?

[2016-09-28 08:16] aurusov commented on #468
Т.е. это ошибка, которую сложно пофиксить. У них есть таска на эту тему ?

[2016-09-28 08:19] aurusov commented on #466
Ура, ты понял вторую часть моего вопроса. Т.е. нужен механизм, который ортогонально
- берёт accessible/no_accessible/any_state с одной стороны (три состояния)

**и**
- проверяет условие или берет безусловно, с другой

[2016-09-28 17:54] bogachev-pa commented on #468
Возможно даже не ошибка, а `by design`. Я не натыкался, можно поискать.

[2016-09-28 19:44] aurusov opened #469 "Не компилируется инициализатор логики"
Если метод `init()` написать перед активностями, то не компилируется. Если после - начинает.

[code]

[2016-09-28 19:50] aurusov opened #470 "Не компилируется приоритет логики"
[code]

[2016-09-28 19:52] aurusov opened #471 "Не компилируется родитель логики"
[code]

[2016-09-28 19:54] aurusov commented on #470
Ага, понял. Надо писать

[code]

[2016-09-28 19:55] #470 closed, assigned to bogachev-pa

[2016-09-28 20:01] aurusov opened #472 "В логике не работает подсветка и автозавершение кода"
- Внутри методы init()
  - ни один из параметров не подсвечивается
  - ни один из параметров нельзя автозавершить
  - автозавершение вообще не вызывается внутри init(), а подсмотреть что можно написать хочется
- Внутри logic
  - не работает автозавершение при написании активности

[code]

[2016-09-28 20:15] aurusov opened #473 "Как задать приоритет активности ?"
Вот активность. Куда писать приоритет ?

[code]

[2016-09-28 20:53] bogachev-pa commented on #473
Вроде же обсудили? в `set init() {}`
После перечисления активностей.

[2016-09-28 20:54] bogachev-pa commented on #472
`logic` требует наличие хотя бы одной активности
т.к. вы не указали не одной, компилятор ждем кода активности и считает текущий код невалидным - потому ничего и не подсказывает

[2016-09-28 20:55] bogachev-pa commented on #471
Тут, вероятно, косяк. Посмотрю.

[2016-09-28 20:56] bogachev-pa commented on #469
В текущей грамматики их порядок задан строго. Могу разрешить произвольный порядок.

[2016-09-28 21:30] aurusov commented on #469
Лучше произвольный. Но если это сложно, то инициализация должна идти первой.

[2016-09-28 21:32] aurusov commented on #472
Ну во первых это не логично: я же хочу внутри метода init() автозавершение. Почему на это должны влиять активности. Во вторых, все у меня в Эклипсе указано. Скопипастил только малую часть. Обновил постановку.

[2016-09-28 21:33] aurusov commented on #473
Да блин же. Что-то последние твои ответы выглядит как отписки. Не разобрался что-ли ? Я про приоритет каждой отдельной активности, а не логики. Раньше было так
`activity имя_активности(приоритет_активности) checks имя_образца(парамеры_образца);`

[2016-09-28 21:43] bogachev-pa commented on #473
Не так прочитал. Просто вторым параметром.

[code]

Посмотреть конструкторы можно тут:
https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.lib/src/ru/bmstu/rk9/rao/lib/dpt/Activity.java

[2016-09-28 21:45] bogachev-pa commented on #469
Делал по аналогии с паттернами, где сначала релевантные ресурсы, а потом методы.

[2016-09-28 21:46] bogachev-pa commented on #472
Окей, проверю.

[2016-09-28 21:48] aurusov commented on #473
О, спасибо.

[2016-09-28 21:56] #473 closed, assigned to bogachev-pa

[2016-09-28 21:56] aurusov commented on #472
К слову, аналогично ведет себя search. Но там хотя бы параметры внутри init() подсвечены.

[2016-09-28 21:58] aurusov commented on #469
Теперь понятно. Но там релевантные ресурсы - это предусловие. И привычно и логично видеть его в начале. А тут блок инициализации, который должен быть в конце. Выглядит странно. Я вот не знал, написал его где хотелось, получил ошибку.

[2016-09-28 21:59] aurusov commented on #469
На самом деле, если нет особых причин, то лучше не фиксировать подобное в компиляторе. Особенно специальным кодом.

[2016-09-28 22:38] bogachev-pa commented on #469
Там просто грамматические правила такие, сначала список активностей, потом список дефолтных методов (в данном случае только инит).
Попробую сделать произвольный порядок. Скорее всего надо будет просто чуть усложнить грамматику, не трогая никак логику компилятора.

[2016-09-28 22:50] aurusov opened #474 "Поиск на графе запускается дважды"
Модель [пятнашек](https://github.com/aurusov/raox-models/blob/master/models/game_5.rao). Трассировка

[code]

Что в ней делает еще один холостой запуск ?

[2016-09-29 09:22] bogachev-pa commented on #472
Подсветка и не должна работать, т.к. `condition` и т.п. это все просто методы. Для них особой подсветки нет (но если, например, поменяете в эклипсе цвет, которым подсвечиваются методы - увидите).
Автодополнение у меня работает:

![code_complited](https://cloud.githubusercontent.com/assets/6528492/18948322/a88101ce-8647-11e6-8774-f048c76aa261.png)

[2016-09-29 09:34] bogachev-pa commented on #474
Сделал пул-реквест.

[2016-09-29 09:37] bogachev-pa commented on #466
Такое у меня работает:

[code]

Что у вас за ошибка компиляции?

Насчет аксессибл, вроде придумал схему, вечером попробую заимплементить.

[2016-09-29 09:57] aurusov commented on #472
Вижу, у меня - нет. Печаль. Попробую на новом воркспейсе... Появилось дополнение и внутри init и внутри logic, норм. Осталось понять с подсветкой. Она же есть для `search`
![models - rao - test-test rao - eclipse _002](https://cloud.githubusercontent.com/assets/5585202/18949482/39a6d97a-8644-11e6-8957-bb65ef18035e.png)

[2016-09-29 10:01] aurusov commented on #466
Не получается повторить, теперь тоже все нормально. Очень странно.

[2016-09-29 10:08] bogachev-pa commented on #466
Насчет аксессибл, я еще немного обдумал это, и в итоге текущая схема ведь все может:

[code]

В принципе даже в подборе ресурсов из типа можно использовать `accessible` именно так, просто там есть удобный враппер, который можно сразу применить вместо `all`.

Чем тогда текущая схема плоха?

[2016-09-29 10:12] bogachev-pa commented on #472
Теперь понял. Это связано с тем, что в `search` это `protected` поля, а в `Logic` это `private` поля и публичные методы. В итоге в `search` подсветка как у полей, а в `logic` как у методов.
Не помню, специально так делал `logic` через методы или просто не сравнивал с `search` и не обратил внимания на разницу.

Если можно безболезненно перевести `logic` так же на `protected` поля, то сделаю это.

[2016-09-29 10:20] bogachev-pa commented on #456
Мне почему-то казалось, что Леша это делал, однако в исходниках нет.
Надо просто добавить пару правил в [форматтер](https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao/src/ru/bmstu/rk9/rao/formatting2/RaoFormatter.xtend).

Работы на 10 минут, можете поручить студенту, если еще остались те, кому нужны простые задачи.

[2016-09-29 10:22] bogachev-pa commented on #443
Починилось. Закрываем?

[2016-09-29 10:27] bogachev-pa commented on #427
Здесь все раскидано на отдельные задачи или что-то еще осталось?

[2016-09-29 10:51] #429 closed, assigned to aurusov

[2016-09-29 10:52] aurusov opened #476 "Ошибки в моделях после визарда"
После создания модели из визарда некоторые строки отмечены как ошибки, хотя она нормально запускается. Если её перезаписать, то ошибки пропадают. Под виндой и маком проявляется постоянно, под убунтой редко.

@bogachev-pa

[2016-09-29 10:53] aurusov commented on #427
Вот теперь да, закрываю.

[2016-09-29 10:53] #427 closed, assigned to bogachev-pa

[2016-09-29 10:54] aurusov commented on #443
Да

[2016-09-29 10:54] #443 closed, assigned to bogachev-pa

[2016-09-29 10:55] aurusov commented on #456
Да, работа для бонуса, но не хочется затягивать. Поэтому лучше бы Леша и до того, как студенты начнут пользоваться.

[2016-09-29 11:09] aurusov commented on #466
Мне хотелось бы безопасного использования по-умолчанию. Пример для релевантного ресурса по типу, которой не надо делать. Просто пример

[code]

По умолчанию должно работать в режиме

[code]

, а не

[code]

Потому что `all` - выстрел себе в ногу. Надо сознательно такое делать. Хотелось бы такой же логики в тут. Твой вариант проще и его не надо кодить. Это подкупает. У тебя есть простой вариант для

[2016-09-29 11:35] bogachev-pa commented on #466
Вот это

[code]

в принципе можно сделать, если типу ресурса завести такой метод и сделать его враппером над `accessible.filter[]`

Вот для такого:

[code]

точно сложно придумать, т.к. здесь мы просто дергаем геттер.

Вставлять какие-то проверки в геттер точно будет странно, так как мб мы ходим его в режиме `read-only` получить. Т.е. так или иначе надо делать `onlyif[accessible]`. Можно для `only

[2016-09-29 11:49] aurusov commented on #466
Ну тогда давай оставим как есть.

[2016-09-29 11:50] aurusov commented on #466
Проблема из топика не повторилась, закрываю.

[2016-09-29 11:50] #466 closed, assigned to bogachev-pa

[2016-09-29 12:08] bogachev-pa commented on #474
Замержил в `release/3.1`.

[2016-09-29 12:08] #474 closed, assigned to bogachev-pa

[2016-09-29 19:38] bogachev-pa commented on #453
Сделал пул-реквест.

[2016-09-29 19:47] bogachev-pa commented on #472
Сделал пул-реквест.

[2016-09-29 19:55] bogachev-pa commented on #463
Пул-реквест на неявный импорт сделал.

Что касается хэндлинга выравнивания, я его по каким-то причинам отложил на потом (https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/animation/AnimationContextSWT.java#L74), уже не помню по каким. Надо допиливать.
Лучше отдельным пул-реквестом.

[2016-09-29 20:15] Aleksandr15 commented on #50
@aurusov  не могу найти точку инициализации

[2016-09-29 20:36] ViktorRakhmatulin commented on #51
Увяз в изучении библиотеки SWT. Пока не получается найти в package ru.bmstu.rk9.rao.ui.plot; PlotFrame  управляющие конструкции для работы с масштабом графиков. ПРодолжаю искать материалы по SWT.

[2016-09-29 22:25] aurusov opened #480 "Дискретная гистограмма не зависит от базы"
Как бы я не менял базу, последовательность та же.

[code]

[2016-09-29 22:54] aurusov commented on #452
Что-то сильно поломалось. Писать алгоритмы можно только с `{` и `}`.

[2016-09-30 06:55] bogachev-pa commented on #452
Не понял. Что еще (помимо скобок) поломалось?

[2016-09-30 07:08] bogachev-pa commented on #452
Посмотрел.
Уберите `;` в конце выражений.
В иксбейзе это означает, что надо закончить текущее условие.

[code]

Вообще, стоит везде в примерах писать без `;`, т.к. это `xbase-style`. Точки с запятой нужны только если нужно явно указать, что это конце выражения, например:

[code]

[2016-09-30 07:24] AlexChernov commented on #421
Так как тест должен покрывать все возможности результатов, здесь это будет выглядеть логично
@aurusov
Общий вид определения типа результата:

[code]

Общий вид объявления результата:

[code]

"*" - значение по умолчанию
Statstics:
- CategoricalStatistics - статистика для категорий, взвешенная по вхождениям, используется по умолчанию для результатов с нечисленным возвращаемым типом
- StorelessNumer

[2016-09-30 10:11] AlexChernov opened #481 "Не работает многофайловая модель"
Модель из двух файлов
`test1.rao`

[code]

`test2.rao`

[code]

Будет вызывать ошибки в `src-gen/test2.java`

[code]

[2016-09-30 15:27] aurusov opened #482 "Что-то с медианой"
Результаты [модели](https://github.com/aurusov/raox-models/blob/master/models/barber_simple/barber_simple.rao)

[code]

Почему у медианы ноль ?

[2016-09-30 19:15] aurusov commented on #452
Уфф. Но хорошо, что работает.

[2016-09-30 19:15] #452 closed, assigned to bogachev-pa

[2016-09-30 19:22] bogachev-pa commented on #482
Подозреваю, что это просто не реализовано. Старая медиана, насколько я помню, считалась неправильно. Новая, видимо, еще не запилена.
Если пилить долго, предлагаю просто пока выкинуть ее из окна результатов.

[2016-09-30 19:32] aurusov commented on #482
Тогда пусть задача станет багой. Леша, это к тебе.

[2016-09-30 20:43] #472 closed, assigned to bogachev-pa

[2016-09-30 20:43] #373 closed, assigned to aurusov

[2016-09-30 20:46] #463 closed, assigned to bogachev-pa

[2016-09-30 20:47] aurusov opened #487 "Alignment не выравнивает текст"
Выравнивание текста всегда по левому краю, независимо от значения alignment.

[2016-09-30 20:48] aurusov commented on #463
Завел бонусную задачу https://github.com/aurusov/raox/issues/487

[2016-10-01 06:08] aurusov opened #490 "Не работает трассировка создаваемых ресурсов"
[code]

Трассирока при полностью включенном мониторинге почему-то такая

[code]

[2016-10-01 06:27] AlexChernov commented on #451
`Value` назывался так, потому что использовал `ValueStatistics`,  думаю теперь нужно переименовать, `SimpleResult`, `AbstractResult` что-нибудь такое

[2016-10-01 07:25] aurusov commented on #451
С точки зрения разработчика модели, наблюдение за параметром ресурса - это наблюдение за конкретным `Value`.

[2016-10-01 07:28] aurusov opened #491 "Неправильно работает равномерный закон или статистика"
В моделе есть равномерный генератор от 20 до 40. В статистике вижу отчет от 18 до 39. С левой границей что-то не так.

[code]

[code]

[2016-10-01 09:44] AlexChernov commented on #491
Значение `18.333821107700714` может быть. Это последний "участок" состояния "занят" с `5035.927783608386` до конца модели в `5054.261604716086`

[2016-10-01 11:59] aurusov commented on #154
@bogachev-pa
Паша, где в коде место, которое отрабатывает один после загрузки Эклипса с РДО ? Нужно дописать код в момент запуска и выгрузки Эклипса.

[2016-10-01 12:29] bogachev-pa commented on #154
@aurusov

https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/RaoActivatorExtension.java#L45

[2016-10-01 13:43] aurusov commented on #77
@AlexChernov
Леша, мне казалось, что ты решил эту задачу. Правильно ?

[2016-10-01 18:09] aurusov commented on #50
Получилось ? Если нет, то где затык ?

[2016-10-01 22:29] AlexChernov commented on #77
Да решено в
https://github.com/AlexChernov/raox/commit/986a54f86189282dd0e317809c45bce8a39ee092

[2016-10-02 07:42] aurusov commented on #491
Точно, трассировка это подтверждает

[code]

[2016-10-02 07:42] #491 closed, assigned to bogachev-pa, AlexChernov

[2016-10-02 07:44] #77 closed, assigned to AlexChernov

[2016-10-02 08:48] aurusov opened #493 "Простейший счетчик Value делает больше, чем нужно"
Модель из визадра, показатель

[code]

В отчете _одно_ число, что ожидается

[code]

А на графике вся история _наблюдения_ за значением
![runtime-raox-ch - rao - eclipse platform _003](https://cloud.githubusercontent.com/assets/5585202/19019569/405cdd20-8895-11e6-84b5-a7b33db0a182.png)

Тут что-то нелогичное. Я то думал, что значение считается только в момент завершения модели. А тут получается, ч

[2016-10-02 10:02] aurusov commented on #493
График слева по трассировке показателя (простейший Value, Карл), справа - по параметру ресурса
![runtime-raox-ch - rao - eclipse platform _004](https://cloud.githubusercontent.com/assets/5585202/19019685/3b449820-8898-11e6-9cbb-fabad8dbf256.png)

[2016-10-02 10:36] #453 closed, assigned to bogachev-pa

[2016-10-02 10:42] aurusov commented on #397
ping

[2016-10-02 11:37] aurusov commented on #178
Уже выехало

[2016-10-02 11:37] #178 closed, assigned to aurusov

[2016-10-02 11:39] aurusov commented on #172
Добавлено на вики
https://github.com/aurusov/raox/wiki/Как-собрать-под-Windows

[2016-10-02 11:39] #172 closed, assigned to aurusov

[2016-10-02 11:41] aurusov commented on #84
Будем считать, что не воспроизводится. Закрываю.

Или есть последовательность, приводящая к ошибке ?

[2016-10-02 11:41] #84 closed, assigned to nobody

[2016-10-02 11:41] aurusov commented on #100
@bogachev-pa
Эта задача не сделана в рамках перехода на xbase ?

[2016-10-02 12:13] bogachev-pa commented on #100
Нет, не сделана. Хотя `IndexHelper` переименован.
Вы хотите распилить по эвентам/результатам/ресурсам/etc?

[2016-10-02 12:14] bogachev-pa commented on #84
Т.к. мы теперь создаем джарники только через мавен, то, наверное, она уже и не очень актуальна.
Плюс да, четкого алгоритма воспроизвестинет.

[2016-10-02 14:22] aurusov commented on #100
Я еще не знаю что именно, но хочу :) Помню, что там была помоечка. Кажется, что лучше мне самому посмотреть на это дело. Как и с документацией, чтобы прокачать свои скилы.

[2016-10-02 14:24] aurusov commented on #50
@Aleksandr15
ping

[2016-10-02 14:43] #282 closed, assigned to aurusov

[2016-10-02 17:37] AlexChernov commented on #493
Дело в том, что результат и статистика разные сущности. График и трассировка выводятся для результатов, отчет показывается для статистики.

[2016-10-02 18:30] AlexChernov opened #497 "Небольшой рефакторинг собираемых показателей"
Result -> AbstractResult
Value -> Result, defaultStatistics -> StorelessNumericStatistics()
ValueStatistics ->  LastValueStatistics

[2016-10-02 18:39] aurusov opened #498 "Добавить в анимацию вывод картинок"

[2016-10-02 18:40] aurusov commented on #493
Обсудили, пришли к https://github.com/aurusov/raox/issues/497. Эту закрываю.

[2016-10-02 18:40] #493 closed, assigned to bogachev-pa, AlexChernov

[2016-10-04 14:42] salaxieb opened #501 "Ключевое слово set конфликтует с методом ArrayList"
[code]

Стандартный метод списков `set` конфликтует с ключевым словом `set` в рдо.

[2016-10-05 06:49] salaxieb opened #502 "Внутри фунции нельзя поменять параметры"
[code]

пишет ошибку: `Assaignment to final parameter`

[2016-10-05 07:24] aurusov commented on #502
@bogachev-pa
Паша, это поведение xbase'а из коробки или специально так сделали ?

[2016-10-05 07:26] aurusov commented on #502
@salaxieb
Учитесь пользоваться [markdown](https://guides.github.com/features/mastering-markdown/). Расцветка синтаксиса не сама появляется, нужно написать пару символов.

[2016-10-05 08:22] bogachev-pa commented on #502
Мы генерим параметроы функции как `final`,  если я правильно помню. Кажется правильным поведением по умолчанию. Могу поменять его, или можно подумать на тему ключевого слова для не-файнал параметров.

[2016-10-05 09:35] aurusov commented on #502
Давай считать правильным как в Java, если xbase не вводит свои костыли. А в Java их можно менять.

[2016-10-05 11:14] bogachev-pa commented on #502
Окей. А специфаеры типа `final` для параметров мы хотим или не надо?

[2016-10-05 11:16] aurusov commented on #502
Можно поставить задачу как бонус, но сейчас не горит.

[2016-10-05 20:28] #214 closed, assigned to aurusov

[2016-10-06 09:15] bogachev-pa opened #507 "Ресурсы нельзя использовать в функции, если они объявлены позже нее"

[2016-10-07 19:07] #458 closed, assigned to AlexChernov

[2016-10-07 19:12] aurusov opened #510 "Сделать документацию по логгеру"
https://github.com/aurusov/raox/pull/500

[2016-10-07 19:13] #501 closed, assigned to bogachev-pa

[2016-10-07 19:38] aurusov commented on #501
@salaxieb
Выехало в релизе [3.2.0](https://github.com/aurusov/raox/releases/tag/3.2.0)

[2016-10-08 08:13] salaxieb opened #511 "Добавить в документацию инструкцию по вытаскиванию окна с анимацией."

[2016-10-08 08:14] #511 closed, assigned to nobody

[2016-10-08 08:24] aurusov commented on #511
https://github.com/aurusov/raox/pull/496

[2016-10-09 22:24] aurusov opened #515 "Добавить описание accessible"
- `accessible`/`all` для типов
- `accessible` для конкретного ресурса

[2016-10-10 19:57] #510 closed, assigned to aurusov

[2016-10-10 19:57] #515 closed, assigned to aurusov

[2016-10-10 19:58] #498 closed, assigned to aurusov

[2016-10-11 09:44] aurusov opened #517 "Открытие моделей"
Сейчас невозможно открыть проект с моделью в другом Эклипсе. Как минимум, проблема есть в настройках `.classpath`

[code]

Два абсолютных пути
1 `org.eclipse.xtext.xbase.lib` можно заменить на

[code]

2 `ru.bmstu.rk9.rao.lib`
- Можно заюзать переменную `ECLIPSE_HOME`

[code]

Но получится привязка к конкретной версии raox
- Можно либы складывать в папку `dropins` с именами без версий, например, `

[2016-10-11 19:16] aurusov commented on #517
https://www.eclipse.org/forums/index.php/t/452902/

[2016-10-13 08:53] bogachev-pa commented on #517
Может быть, нам нужно забиндить какие-то кастомные действия на открытие `rao`-проектов? И в этот момент обновлять им класспас программно, например.

Хотя более правильным мне кажется использовать `OSGI` бандлы вместо простых `Java`-проектов для проектов `rao`. Скорее всего, это возможно, хотя я не очень в этом разбираюсь, и надо бы почитать.

[2016-10-13 09:43] aurusov commented on #517
Или мавен. Но я тоже в этом не разбираюсь. Нужно что-то кто-то уделил этому время. Из приведенных выше, у меня получается настроить только

[code]

Да и то, еще не смотрел можно ли в визарде такое закодить. Плюс надо в мавене добавить копирование либы без версии.

@AlexChernov
Нужна помощь, посмотри предыдущее предложение и всё обсуждение. Если непонятно, то спроси.

[2016-10-13 14:56] aurusov commented on #517
Точно нет, потому что это поменяет только что выкаченный проект из гитхаба. Или не хранить в гитхабе `.classpath`.

[2016-10-13 21:25] aurusov commented on #517
Получилось так

[code]

@bogachev-pa
Залил решение, которое убирает абсолютные пути. Импортированная модель запускается на raox, в папке `droping` которого лежит `ru.bmstu.rk9.rao.lib.jar`. Пока переписываю либу рыками. Изначальная задача решена - студенты смогут импортировать модели. Но вылез косяк для разработчиков. Теперь, запуская РДО из Эклипса, запущенная версия не имеет такой либы и модель

[2016-10-14 09:09] AlexChernov commented on #517
Еще насчет `ru.bmstu.rk9.rao.lib.jar`, я забыл про архив без эклипса с плагинами, его тоже надо поправить наверное?

[2016-10-14 09:24] aurusov commented on #517
@AlexChernov
Да

[2016-10-15 11:55] aurusov commented on #154
Добавить javasript, который сам ходит за `/currentTime` и выводит на экран через html.

[2016-10-15 20:40] aurusov commented on #517
@bogachev-pa
М.б. вот так передаются бинарники. Но непонятно кто из них делает либы. И вообще, на днях менял в этом окошке галки. Не факт, что у тебя будет так же.
![2016-10-15_23-38-01](https://cloud.githubusercontent.com/assets/5585202/19413247/775a867e-9330-11e6-9c5f-dec2ddf522ac.png)

[2016-10-22 12:15] AlexChernov commented on #497
Следующий виток рефакторинга
Добавление сущности DataSource, которая имеет имеет методы evaluate и condition
Результат должен иметь 1 DataSource и Статистику, которая его обрабатывает.
У результатов появится общий конструктор(DataSource,ResultMode,Statistics)
Сущность ResultType теряет смысл, ее полностью заменяет DataSource, отдельный класс для короткой записи результатов тоже теряет смысл, поэто

[2016-10-22 14:38] aurusov commented on #497
Если готово, то ставь пул-реквест.

[2016-10-23 16:57] AlexChernov commented on #497
[code]

[2016-10-23 17:18] aurusov commented on #497
Спасибо

[2016-10-25 07:32] #517 closed, assigned to aurusov

[2016-10-25 17:34] aurusov opened #526 "Обновить справку по результатам"
После https://github.com/aurusov/raox/issues/497

[2016-10-25 17:37] aurusov commented on #408
@AlexChernov
Вроде и трассировка и графики готовы ?

[2016-10-25 19:50] #497 closed, assigned to AlexChernov

[2016-10-25 19:55] AlexChernov commented on #456
Решено и добавлено в https://github.com/aurusov/raox/pull/527

[2016-10-25 19:55] #456 closed, assigned to AlexChernov

[2016-10-25 19:57] AlexChernov commented on #451
Решено в aurusov/raox/issues/497 и добавлено в https://github.com/aurusov/raox/pull/527

[2016-10-25 19:57] #451 closed, assigned to AlexChernov

[2016-10-25 20:00] AlexChernov commented on #408
Готовы и залиты в https://github.com/aurusov/raox/pull/527

[2016-10-25 20:00] #408 closed, assigned to AlexChernov

[2016-10-25 20:03] AlexChernov commented on #386
Решено в aurusov/raox/issues/497

[2016-10-25 20:03] #386 closed, assigned to AlexChernov

[2016-10-26 21:52] #526 closed, assigned to aurusov

[2016-10-29 08:22] AlexChernov opened #530 "Не хватает выбора шрифта в drawText"
В методе

[code]

Два последних параметра не используются

[2016-10-30 09:08] aurusov commented on #530
Тема не соответствует примеру. Пример про https://github.com/aurusov/raox/issues/487.

[2016-10-30 11:27] ViktorRakhmatulin commented on #51
В прошлые консультации решал задачи из книги ШИЛДТА "Ява для начинающих",чтобы убедиться в том,что я усваиваю материал. Решил все задачи из первых 9глав и написал все упражнения.
Мытарства с swt пока не дают результатов, разбираюсь с паттерном "наблюдатель".

[2016-10-30 11:28] ViktorRakhmatulin commented on #51
в курсе про vogella и стэковерфлоу

[2016-10-30 22:25] aurusov opened #531 "Ошибка экспорта файла трассировки"
Если импортировать модель без копирования в `workspace`, то после `Model/Export Trace Output/Regular` возникает ошибка

![2016-10-31_01-25-22](https://cloud.githubusercontent.com/assets/5585202/19840536/ebe9aa68-9f08-11e6-8a61-8061f2734166.png)

Если импортировать модель с копированием, то все норм.

[2016-10-31 19:16] #394 closed, assigned to AlexChernov

[2016-10-31 19:45] AlexChernov opened #532 "Разработать статистику с адекватным подсчетом медианы"
Разработать статистику с адекватным подсчетом медианы, хранящую все значения

[2016-10-31 19:46] AlexChernov opened #533 "Добавить обработку мыши и клавиш в анимацию"
Пример модели:
[code]

[2016-10-31 20:27] aurusov commented on #482
Дубликат https://github.com/aurusov/raox/issues/532

[2016-10-31 20:27] #482 closed, assigned to AlexChernov

[2016-10-31 20:29] aurusov commented on #265
Обсудили голосом, решили зафиксировать кейсы сопровождения мавена на вики.

[2016-11-01 10:33] ViktorRakhmatulin commented on #51
Сделал приближение/отдаление по обоим осям через прокрутку мыши. Как связать key event и mouse event? Ниже я прикрепил код,который не работает. Тут паттерн наблюдатель приминяется?

[2016-11-01 11:03] ViktorRakhmatulin commented on #51
В конструкторе класса PlotFrame добавил слушателей для созданного мною класса "PlotMouseWheelListener"
addMouseWheelListener(new PlotMouseWheelListener());
addKeyListener(new PlotMouseWheelListener());
PlotMouseWheelListener

//Сам класс ,в котором я попробовал связать нажатие на кнопку и прокрутку мыши.

package ru.bmstu.rk9.rao.ui.plot;

import org.eclipse.swt.SWT;
import org.eclipse.swt.events.

[2016-11-01 11:30] ViktorRakhmatulin commented on #51
Мы с Вами голосом обсуждали возможность проведения консультации по скайпу. У меня raox крашится после внесения изменений в класс ,в котором я решаю задачу. Сложно понять, где допускаю ошибки

[2016-11-01 12:26] aurusov commented on #51
Сделай форк, создай бранч, залей код. Это раз. Два - как та получилось, что появился код, который не работает непонятно где ? Значит надо его удалить и добавлять по оной строке с отладкой после каждой. Паттерн используется.

[2016-11-01 19:56] ViktorRakhmatulin commented on #51
Залил код в ветку. Изменения в PlotFrame и в созданном мною  классом PlotMouseWheelListener.
ПОка не могу понять, как одновременно можно использовать 2 слушателя: Key and mousewheel.

[2016-11-02 09:29] aurusov commented on #51
Поставь пул-реквест

[2016-11-02 14:39] ViktorRakhmatulin commented on #51
Сделал. Задачу решал в старом исходнике (где-то 15 сентября). Вопрос про одновременное использование 2-х слушателей актуален. В том же ПлотФрэйм мышку не получается слушать, можно только клавиатуру.

[2016-11-02 16:11] aurusov commented on #51
1. Исходники, конечно, надо обновить. [Подмерж](https://github.com/aurusov/raox/blob/release/current/gitflow.md#Как-подлить-результаты-работы-в-корневой-репозиторий) текущий код в свой форк.
2. Вообще не понял, что смотреть. Почему ты добавил два новых файла, вместо изменения существующих ?

[2016-11-02 23:14] ViktorRakhmatulin commented on #51
Изменения в PlotFrame в методе (public void keyPressed(KeyEvent e)) и в созданном мною классом PlotMouseWheelListener. Реализовать 2 слушателя в одном классе не получилось( PlotFrame) ,поэтому я имплементил MouseWheelListener в  PlotMouseWheelListener. Управлять одним листенером я могу.

Не мерджится. Git тупо не понимает команды.git remote -вообще не распознается.
Я думаю,что обновление исходнико

[2016-11-05 18:43] aurusov opened #535 "Неадекватное поведение анимации при неправильных значениях RaoColor"
Если значение выходит за диапазон `[0, 255]`, то анимация не выводится.
[code]

[2016-11-05 20:03] aurusov opened #536 "Размер кадра анимации меньше на 5 пикселей"
Инициализировать надо на 5 пикселей больше
[code]

![2016-11-05_23-40-43](https://cloud.githubusercontent.com/assets/5585202/20033442/6f27b648-a3b1-11e6-8e0d-77b0e35d45e7.png)

[2016-11-05 20:21] aurusov opened #537 "Модель очень долго компилируется"
Работать практически невозможно. Возможно, дубль https://github.com/aurusov/raox/issues/547.

[code]

[2016-11-05 23:18] aurusov commented on #51
С гитом все пошло не так. Еще раз
1. сохрани куда-нибудь исходники
2. сделай форк
3. сделай бранч от `release/current` (в своем форке, а не моем)
4. поставь пул-реквест

[2016-11-05 23:59] ViktorRakhmatulin commented on #51
Задача сделана, ну или очень похожа на сделанную.
Я заново скопировал исходники ,поставил самую свежую версию.
НЕ совсем понятен пункт 2, я же и так форкнул Ваш репозитарий.
 Но я сейчас посмотрю в книге. Бранч сделал от ветки мастер( testing)

[2016-11-06 00:20] ViktorRakhmatulin commented on #51
ВРоде сделал как полагается. Наверное ,еще переслались файлы Workbench, так как я положил их в папку

[2016-11-06 07:12] aurusov commented on #51
Задачи не вижу вообще. Вижу два непонятных файла, которые не понимаю как собирать и запускать вместе с raox.

[2016-11-06 07:16] aurusov commented on #51
С форком всё не так. Зачем-то сделали бранч в моей репе, а не в совей. К тому же нарушив [gitflow](https://github.com/aurusov/raox/blob/release/current/gitflow.md). У меня руки чешутся удалить это. Надо реально почитать про гит из [wiki](https://github.com/aurusov/raox/wiki/Что-почитать), ссылка не просто так первой идет. Забили и пользовались web-мордой гитхаба ? Это объясняет сделанное. Намек по

[2016-11-07 19:55] ViktorRakhmatulin commented on #51
Кажется, что с залитием файлов все вышло. Спасибо за консультацию в скайпе.
 git@github.com:ViktorRakhmatulin/RaoX.git

Можно же будет голосом обсудить доработки к этой задаче и постановку задачи курсового до субботы?

[2016-11-08 08:54] aurusov commented on #51
Да, вышло, отписался в реквесте. Не уверен насчет до субботы, посмотрю по обстоятельствам.

[2016-11-17 18:23] aurusov opened #540 "Упростить статистику по поиску на графе"

[2016-11-19 14:49] aurusov opened #542 "Получить список моделей из workspace"
Добавить ручку `models`, которая вернёт список моделей из workspace'а в виде массива на json
[code]

[2016-11-19 14:53] aurusov opened #543 "Получить текущее модельное время"
Добавить ручку `currentTime`, которая возвращает текущее модельное время в json.
[code]

[2016-11-19 14:55] aurusov opened #544 "Прикрутить AJAX"
Добавить javasript, который сам ходит за `/currentTime` (https://github.com/aurusov/raox/issues/543) и выводит на экран через html. Кажется, что надо сразу использовать [AJAX](https://ru.wikipedia.org/wiki/AJAX).

[2016-11-24 22:07] #540 closed, assigned to aurusov

[2016-11-24 22:12] #533 closed, assigned to AlexChernov

[2016-11-26 08:23] AlexChernov opened #546 "Разработать статистику выгружающую данные в файл"
Статистика должна выгружать в файл пары `время, значение`, например, в CSV формате

[2016-11-26 13:46] aurusov commented on #542
[code]

[2016-11-26 14:06] ViktorRakhmatulin commented on #343
![2016-11-26 20-05-16](https://cloud.githubusercontent.com/assets/22197503/20640817/9b6e6e8c-b3fa-11e6-97bf-6f201e4b0a09.png)

[2016-11-26 14:08] aurusov commented on #343
Хинт не должен появляться, если от мышки до ближайшего значения графика много пикселей.

Хочется дизайна
- облачко вверх
- белый (светлый) фон
- форматированный вывод, не больше 5-7 символов для x и y
- хочется выводить красный кружок над тем значением графика, из которого растет хинт
- два варианта на пробу
[code]
vs
[code]

[2016-11-28 13:03] aurusov opened #547 "Медленная компиляция"
С большой моделью становится невозможно работать. Даже открытие + запуск (никаких изменений не вносится) может длиться пару минут. Возможно, дубль https://github.com/aurusov/raox/issues/537.

Проверялось на 3.5.0 http://raox.ru/?p=692, модель из реквеста https://github.com/aurusov/raox-models/pull/28. Скопирую её сюда
[code]

[2016-11-28 13:32] aurusov commented on #441
Что сделано по двум разделам последнего сообщения ?

[2016-11-28 17:38] Belka-W commented on #441
1-ое сделано полностью

2-ое Ищу способ сделать глобальный независимый слушатель для всех кнопок. чтобы библиотека не перехватывала события, а работала совместно с уже написанными слушателями.

[2016-11-30 17:14] ViktorRakhmatulin commented on #343
Предыдущий ToolTip Swt.Baloon не имеет настройки стилей. Поэтому я собрал другой. ВОт как он выглядит:
![2016-11-30 23-12-46](https://cloud.githubusercontent.com/assets/22197503/20763027/7ee57cfa-b739-11e6-8a4d-1b1519f4ebb2.png)
На 50 пикселей выше точки.

[2016-11-30 17:26] aurusov commented on #343
Уже намного лучше. Сделай тот же скрин, но с мышкой. Есть прогресс по красному кружку ?

[2016-11-30 17:39] ViktorRakhmatulin commented on #343
В классе XYStepRenderer  org.jfree.chart.renderer.xy.XYStepRenderer.XYStepRenderer ,кажется, лежит причина bug: График из одной точки #61.
Надо править Около  233 строчки кода. То есть я создам новый класс ,который наследует XYStepRenderer, и перепишу методы отрисовки.
ИЛи мне сделать тупое решение, и на месте точки построить обьект заполненную окружность?
И с Хинтом сделаю подобное выделение точк

[2016-11-30 18:48] aurusov commented on #343
Первый метод предпочтительнее, если переписывать надо не 233 строки, а пару. Если так много, то лучше вариант, который обсуждали на консультации. И лучше обсуждать задачу #61 в её ветке.

[2016-12-02 12:08] ViktorRakhmatulin commented on #343
![2016-12-02 18-07-12](https://cloud.githubusercontent.com/assets/22197503/20833496/15b03c16-b8a1-11e6-99e2-a7b093afc856.png)
ПРозрачный кружок не годится?

[2016-12-02 12:19] ViktorRakhmatulin commented on #343
просто У класса Ellipse2D отсутствует возможность заполнять фигуры.

[2016-12-02 14:01] aurusov commented on #343
Не годится. Где коммит ? Он должен быть прикреплен к задаче.

[2016-12-02 18:25] ViktorRakhmatulin commented on #343
Теперь все работает. Не смотрите последний коммит.

[2016-12-03 05:14] aurusov commented on #343
Надо добавить ссылки на задачу ко всем коммитам

[2016-12-03 14:48] ViktorRakhmatulin commented on #343
![2016-12-03 20-47-23](https://cloud.githubusercontent.com/assets/22197503/20860071/ac04d610-b980-11e6-8523-6933694601cd.png)

[2016-12-03 14:51] aurusov commented on #343
1. ~Не симметричный допуск при выборе точки~ `ok`
2. ~Тултип сместить ниже, ближе к точке~ `ok`
3. ~Точку сделать с белым кружочком внутри (цвет фона графика). Использовать класс XYDrawableAnnotation. Если не получится, то XYShapeAnnotation.~ `ok`
4. Цвет точки должен браться с цвета графика. По коду берется, но надо проверить.
5. ~Сделать скрин с~ `ok`
[code]
6. Не пропадает точка если двигать мы

[2016-12-03 15:54] aurusov commented on #344
Задача решена через `Ctrl` + `Mouse Wheel` и `Shift` + `Mouse Wheel`

[2016-12-03 15:54] #344 closed, assigned to ViktorRakhmatulin

[2016-12-04 10:35] aurusov commented on #441
То, что не получилось сделать глобального слушателя, можно написать в записке.

[2016-12-04 10:47] aurusov commented on #51
По задаче осталось неблокирующая курсач подзадача. Почему-то не работает ограничение на масштаб (чтобы не уходить в точку, к примеру). Подписчики есть, но текущее значение масштаба в них неадекватное. Подключаюсь, хочу сам посмотреть, на консультации не получилось понять.

[2016-12-04 10:52] aurusov commented on #51
@ViktorRakhmatulin
Осознал, что еще не все замечания из пул-реквеста исправлены. Хочется дождаться окончания правки этого файла с вашей стороны.

[2016-12-04 19:25] aurusov opened #548 "График строится по непонятным данным"
![2016-12-04_22-23-11](https://cloud.githubusercontent.com/assets/5585202/20868606/9680592c-ba70-11e6-8354-65ef25f5b99f.png)

[code]

[2016-12-04 19:31] aurusov commented on #548
Если заменить `long баланс;` -> `int баланс;`, то начинает работать. Видимо, неправильно обрабатывается тип `long`.
![2016-12-04_22-29-42](https://cloud.githubusercontent.com/assets/5585202/20868642/58776584-ba71-11e6-917b-4a7b36e0d8da.png)

[2016-12-04 21:52] bogachev-pa opened #549 "Добавить валидатор на имена параметров типа"
Название параметров типа должно начинаться со строчной буквы. Это нужно валидировать.

[2016-12-08 12:32] ViktorRakhmatulin commented on #343
![2016-12-08 18-00-40](https://cloud.githubusercontent.com/assets/22197503/21010125/757f5d52-bd5b-11e6-814f-32ce5e289ebd.png)
Такой вариант годится?

[2016-12-08 13:05] aurusov commented on #343
Да, выглядит хорошо. Но сужу только по скрину, нужно еще мышкой поелозить.

[2016-12-08 16:45] ViktorRakhmatulin commented on #49
Вроде настроено, еще на консультации проверяли.

[2016-12-08 16:54] ViktorRakhmatulin commented on #61
СОздал подписчик endSubscriber , который реагирует на изменения в ExecutionState на (EXECUTION_COMPLETED) и меняет флаг isLastEntry на true
В классе  RealTimeUpdateRunnable добавил необходимые проверки для добавления точек в конце симуляции

[2016-12-08 16:56] ViktorRakhmatulin commented on #61
![2016-12-08 22-54-42](https://cloud.githubusercontent.com/assets/22197503/21019042/332f315a-bd80-11e6-90a1-eaf4dfff5295.png)
В нашем примере  с клиентами одна точка ставится почти в конце моделирования,поэтому  линию видно только в масштабе. (здесь добавлена еще одна точка)

[2016-12-09 21:03] #49 closed, assigned to ViktorRakhmatulin

[2016-12-09 21:05] aurusov commented on #61
Посмотрим на консультации

[2016-12-10 11:47] aurusov opened #550 "Форматирование убирает перевод строки между константой и def"
[code]

[2016-12-10 11:48] aurusov opened #551 "Инкрементальное форматирование"
Каждое форматирование удаляет один перевод строки. Т.е. повторное форматирование еще раз меняет код.

[code]

[2016-12-13 20:31] ViktorRakhmatulin opened #552 "Листы Курсовой"
Буду прикреплять листы размером А1 в формате pdf.
1) постановка задачи
2) диаграмма классов
3) диаграмма последовательности вызовов
4) быть может, блок-схемы функций
5) результаты

[2016-12-13 20:33] ViktorRakhmatulin commented on #552
[лист1.pdf](https://github.com/aurusov/raox/files/650073/1.pdf)

@aurusov Жду комментариев. В таком же стиле планирую оформить лист результатов

[2016-12-13 20:39] ViktorRakhmatulin commented on #51
Имеется в виду ограничение масштабирования или что?Я убрал условия со scaleX and scaleY , которые не работали, в последнем коммите.

[2016-12-13 22:02] ViktorRakhmatulin commented on #552
[лист5.pdf](https://github.com/aurusov/raox/files/650289/5.pdf)

[2016-12-15 06:49] aurusov commented on #552
Посмотрите, как и где надо размещать листы https://github.com/bogachev-pa/bogachev-pa.github.io/issues/1.

[2016-12-15 06:58] aurusov commented on #552
Лист 1
- Скрины должны быть одного размера
- Скрины должны быть четко выравнены относительно и листа и друг друга
- Никаких двоеточий
![2016-12-15_09-51-30 2](https://cloud.githubusercontent.com/assets/5585202/21214639/005edd70-c2ad-11e6-8b45-5720ac30dfc8.png)

[2016-12-15 07:11] aurusov commented on #552
Лист 5
- Скрины должны быть одного размера
- Скрины должны быть четко выравнены относительно и листа и друг друга
- Никаких двоеточий
- Приобретенные умения
  - Изучил и применил на практике язык программирования Java
  - Провел анализ классов подсистемы графиков РДО, их взаимодействия их между собой и ядром симулятора
  - Применил паттерн проектирования Наблюдатель

![2016-12-15_09-59-20](https:/

[2016-12-15 07:32] aurusov commented on #51
Пробегитесь по всем замечаниям и убедитесь, что они исправлены.

[2016-12-18 19:13] ViktorRakhmatulin commented on #61
@bogachev-pa
в каком лучше месте добавлять дополнительную точку.Хотелось бы голосом обсудить саму подсистему получения данных для графика

[2016-12-18 19:33] aurusov commented on #61
Самое простое по логике (не знаю как по коду) - добавлять в конце моделирования. Потому что до этого момента непонятно придет ли она. Есть другая стратегия - если график из одной точки, то можно добавлять/передвигать фиктивную вторую точку в процессе моделирования. Тогда он будет строиться даже в процессе. Это кажется сложнее, поэтому я за первый вариант.

[2016-12-20 08:34] aurusov commented on #547
Перенеси сюда обсуждение из чата.

[2016-12-20 09:06] aurusov opened #554 "Форматирование, название метода"
Сейчас так
[code]

Хочется так
[code]

Для слепых
[code]

[2016-12-20 16:35] aurusov opened #555 "Неправильная обработка нулевого указателя"
[code]
Трассировка
[code]
Лог
[code]

[2016-12-20 16:43] aurusov opened #556 "Работает доступ к удаленному ресурсу"
[code]
Модель отработала. Трассировка
[code]
RE не трассируется

лог
[code]

[2016-12-20 16:44] aurusov commented on #556
Если переставить местами удаление и планирование
[code]
, то ситуация не меняется

[2016-12-20 16:53] aurusov opened #557 "Неправильная обработка runtime-error"
[code]
Трассировка
[code]
После запуска этой модели
- нельзя сгенерировать файл трассироки (`Model/Export Trace Output`)
- не выводятся результаты

М.б. что-то еще не так обрабатывается. Надо проверить работу других подписчиков.

[2016-12-20 18:56] aurusov opened #558 "Трассировка вложенного ресурса"
[code]
Трассировка
[code]
Вместо адреса `{barber.barber$Генератор_значений@2a5e4e95}` хочется увидеть значения параметров.

[2016-12-20 19:01] aurusov opened #559 "Падение при подсчете результата"
![2016-12-20_22-06-01](https://cloud.githubusercontent.com/assets/5585202/21364130/91aae1dc-c700-11e6-9451-46fd979b000d.png)

[code]
Трассировка
[code]

[2016-12-20 19:06] aurusov commented on #559
@bogachev-pa
Так и задумывалось ?

[2016-12-20 20:06] bogachev-pa commented on #559
Специальных обработок для таких случаев я не делал, так что поведение дефолтное.

[2016-12-20 20:22] aurusov commented on #559
Имеется в виду обработка обращения к удаленному ресурсу. Хочется понять
- как система сейчас себя ведет (вижу два разных поведения)
- как должна (надо еще раз обсудить)

Мой вопрос про первое.

[2016-12-20 21:06] bogachev-pa commented on #559
Почему два разных? Ресурс удален, при обращениях к нему получаем рантайм еррор (не говорю, что это правильно поведение, но, вроде, оно одно).

[2016-12-21 08:46] aurusov commented on #559
В этой задаче поведение == падению. А вот в этой https://github.com/aurusov/raox/issues/556 продолжает работать.

[2016-12-21 11:42] ViktorRakhmatulin commented on #552
Не могу понять, в какой момент(через какой метод) запускается метод из класса PlotView run()
Пытаюсь положить этот метод в диаграмму последовательности вызовов

[2016-12-21 11:54] ViktorRakhmatulin commented on #552
Посмотрите,пожалуйста, диаграмму вызовов. вечером залью через github.io.

[2016-12-21 11:56] aurusov commented on #552
Задачу договорились перенести в другую репу, не надо сюда писать.

[2016-12-21 11:57] ViktorRakhmatulin commented on #552
это не к задаче,а к листам.

[2016-12-21 11:58] ViktorRakhmatulin commented on #552
![10_6](https://cloud.githubusercontent.com/assets/22197503/21388571/de6db05c-c78d-11e6-9719-55f4ba740def.jpg)

[2016-12-21 11:58] #552 closed, assigned to aurusov, ViktorRakhmatulin

[2016-12-21 11:58] aurusov commented on #552
Я знаю, именно про эту (текущую) задачу и говорю.

[2016-12-21 15:02] aurusov commented on #552
где задача по курсовому ?

[2016-12-21 17:36] bogachev-pa commented on #556
Когда вы делаете `erase` ресурс удаляется из списка, т.е. его больше нельзя найти по имени. Сам указатель на ресурс на удаляется (в джаве такого нет). Т.к. у вас все еще есть локальная ссылка на ресурс и вы продолжаете передавать ее в функцию планирования следующего эвента, то все и проходит нормально.

[2016-12-21 17:37] bogachev-pa commented on #559
Отписался в той задаче.

[2016-12-21 18:08] ViktorRakhmatulin commented on #552
В процессе создания. Я на работе был.

[2016-12-21 18:56] aurusov commented on #556
Я понимаю логику и понимаю почему так. Но
- не считаю это поведение правильным
- это поведение расходится с поведением из соседней задачи

[2016-12-21 19:01] aurusov commented on #555
ping

[2016-12-21 19:13] ViktorRakhmatulin commented on #552
https://github.com/ViktorRakhmatulin/ViktorRakhmatulin.github.io.git
ПОчему-то ссылки на листы не открываются. Назначить Вас на issue тоже не получается с убунты

[2016-12-21 20:08] aurusov commented on #552
посмотрите ссылки с Пашиной страницы

Я должен быть в колабораторах

[2016-12-22 12:35] bogachev-pa commented on #555
Очевидно, где-то в генерированном коде не хватает проверки на `null`.

[2016-12-22 13:43] aurusov commented on #555
Сможешь добавить ? Или подскажи где добавлять. Задача горит.

[2016-12-22 13:45] aurusov commented on #555
Но сдается мне, что всю работу с обертками над ресурсами надо переделывать. Три бага про один и тот же класс imho.

[2016-12-22 14:26] bogachev-pa commented on #555
Так трудно сказать, лучше всего посмотреть генеренный код
[code]

Выглядит так, что дело в коде эвента, а не ресурса. Но надо уточнять.

[2016-12-22 16:14] aurusov commented on #555
Вангую, не смотря в код. В коде обертка, не ресурс, честно проверяется на нулевой указатель. Надо же пробрасывать сравнение внутрь.

[2016-12-22 16:25] bogachev-pa commented on #555
Какая обертка? Не очень вас понял.

Если параметром сделать не ресурс, а какой-нибудь `String` и тоже передать `null`, то все будет ок?

[2016-12-22 19:14] aurusov commented on #555
Кирилл еще писал обертку над ресурсами. И ты поминал её в разговорах. В ней сейчас счетчик ссылок живет.

Нет, тоже самое. Похоже дело не в обертке.
[code]
[code]

[2016-12-23 08:35] bogachev-pa commented on #555
Думаю, у вас имеется ошибочное представление об устройстве наших ресурсов.
Никаких оберток над самими ресурсами нет.
Есть специальная обработка [`set/get`](https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao/src/ru/bmstu/rk9/rao/jvmmodel/ResourceTypeCompiler.xtend#L80) параметров.
И есть, действительно, [рефкаунтеры](https://github.com/aurusov/raox/blob/release/current/ru.bmstu.r

[2016-12-25 08:00] aurusov commented on #555
Надо использовать тройное сравнение `===` / `!==`. Полная работающая модель
[code]
[code]

[2016-12-25 08:02] #555 closed, assigned to aurusov

[2016-12-27 08:18] AlexChernov opened #560 "Добавить тип результата без источника данных, в метод update которого можно передать значение"

[2016-12-27 11:13] aurusov commented on #560
А где реквест ?

[2016-12-30 18:05] #560 closed, assigned to AlexChernov

[2016-12-30 19:11] aurusov opened #563 "Двойная трассировка результатов"
В новом релизе 3.7.0 двойная трассировка ресурсов
[code]

[2016-12-30 19:14] aurusov commented on #563
Когда подправишь, прогони тесты. Две модели разъехались (из-за этой баги и из-за моего переименования в моделях)
[code]

[2017-02-11 09:25] #51 closed, assigned to aurusov, ViktorRakhmatulin

[2017-02-11 09:27] aurusov commented on #343
Вместо значения перечислимого типа выводится 0

[2017-02-11 10:57] aurusov commented on #439
Для Ильи.

Надо проверить возможности [JavaScript API](https://tech.yandex.ru/speechkit/jsapi/). Исходники выложить на github.io. Хочется
- кнопку для запуска распознавания
- логирование работы распознавателя
  - вывод текста без обрезания по ширине одним большим потоком
  - с понимаем, когда был конец предыдущего распознавания (дамп флага `done`)
  - вывод всей дополнительной/отладочной информаци

[2017-02-11 20:17] aurusov commented on #439
Илья, есть прогресс ?

[2017-02-12 00:49] Donnatello commented on #439
Андрей Витальевич, прошу прощение, выдался насыщенный день.
Постараюсь в течении дня прислать ссылку на страничку с логером.
Промежуточный результат таков:
- класс `SpeechRecognition` позволяет запустить и остановить распознавание вручную, что дает возможность не заканчивать работу с аудио-потоком после того, как сервис вернул "done". Это на самом деле прекрасно работает - следующее предложение\фр

[2017-02-12 10:34] aurusov commented on #439
Это важно понять. Натравите какой-нибудь аудио-источник (долгий ролик с ютуба или просто включенный телевизор)

Фигово, но это не важно для курсового. Важно для реального проекта. Вижу два пути - пообщаться с Яндексом на этот счет или посмотреть в сторону Гуглового API. Пообщаюсь с Яндексом, расскажу  о результатах.

[2017-02-12 10:38] aurusov commented on #439
Залили код ?

[2017-02-12 15:51] Donnatello commented on #439
@aurusov, https://donnatello.github.io/AutoLecturer/index.html

У меня, почему-то, на компьютере это работает на много лучше, чем на телефоне. Не пойму, то ли это с мобильным браузером связано, то ли с микрофоном.

Обнаружил проблему: хром не дает доступ к микрофону (и геолокации) без https. Хорошо, что гитхаб дает доступ к файлам через защищенное соединение.
А еще в СпичКите есть бага - что-то ра

[2017-02-12 18:10] Donnatello commented on #439
Попробую до субботы еще гугловское апи поковырять.

[2017-02-16 19:34] ViktorRakhmatulin commented on #343
@aurusov  Выводится и 0, и 1 ( занят=1 , свободен =0 ). Понимаю, что названия  перечислимого типа должны храниться в обьекте Database и ,наверное, в CollectedDataNode.  Но пока прогресса нет, я запутался. Я вывожу точки из dataset  графика.

[2017-02-16 20:38] aurusov commented on #343
Эти значения выводятся на оси ординат графика.

[2017-03-12 12:14] aurusov commented on #439
Есть прогресс ?

[2017-03-16 08:15] Donnatello commented on #439
Обнаружил, что еще в современных браузерах есть встроенное апи для распознавания голоса.
В FireFox это экспериментальная технология, поэтому ее можно активировать только через редактор конфигураций, но и при этом она все равно не стабильная, зачастую просто нет доступа к апи.
В Chrome все намного лучше, там это работает без шаманств. Причем работает довольно хорошо. Но при этом апи валится на моби

[2017-03-19 14:04] AlexChernov commented on #563
А вы не исправляли эталоны после переименования?

[2017-03-19 15:04] aurusov commented on #563
Нет, чуть выше написано же.

[2017-03-20 18:13] ViktorRakhmatulin commented on #343
надо закрыть

[2017-03-20 19:44] aurusov commented on #343
Еще не выпущен релиз, жду Лёшину задачу. Сам закрою.

[2017-03-21 20:14] AlexChernov opened #567 "Добавить документацию по статистике"
Документация должна содержать всю информацию по всем статистикам, для чего причиняются, какую информацию выводят, в чем отличие взвешенной от обычной

[2017-03-25 09:13] aurusov commented on #176
Текущие задачи
- залить код
- пофиксить хинт
- добавить в график 3.000.000 значение, протестировать и понять узкие места, предложить решения
- хочется прореживать только видимые порции исходных данных, а не все

[2017-03-31 19:01] Donnatello commented on #439
1) Прикрепляю несколько результатов для сравнения работы распознавалок. Стоит заметить, что запись ввел в полной тишине и, практически, надиктовывал текст (вольная речь будет давать еще искажения на процесс). Так же в примерах можно видеть, что у обоих продуктов появляются проблемы при встрече со специализированными терминами (хотя google тут все же еще вытягивает). Так же Гугловское апи более над

[2017-03-31 19:08] aurusov commented on #439
Довольно интересный результат. Где исходники ? Как пользоваться ? Вижу https://donnatello.github.io/AutoLecturer/index.html, но не понимаю, что надо делать, чтобы менять движки. Если можно, то запилите два разных бранча.

[2017-03-31 19:28] Donnatello commented on #439
Все там же в репазитории (исходники):
https://github.com/Donnatello/AutoLecturer/tree/master/src

Тестировал на браузерных апи.
Google (только Google Chrome):
https://donnatello.github.io/AutoLecturer/src/browser_api
Yandex (любой браузер):
https://donnatello.github.io/AutoLecturer/src/yandex_api

[2017-04-01 05:20] aurusov commented on #439
Зачем тогда index.html ?

[2017-04-01 18:58] Donnatello commented on #439
@aurusov, добавил в репозиторй логи тестов и readme

[2017-04-01 19:51] aurusov commented on #439
Отлично. Это то, что нужно.

[2017-04-01 19:53] aurusov commented on #439
Итого: качество распознавания пока неудовлетворительное. Можно перепроверить в будущем на новых версиях API.

[2017-04-19 19:30] aurusov commented on #50
@ViktorRakhmatulin
Витя, ты эту задачу не сделал в курсовом ?

[2017-04-19 19:36] ViktorRakhmatulin commented on #50
Не сделал

[2017-04-25 10:35] Battumurich commented on #80
Добрый день! Можно ли взять какую-нибудь бонусную задачу? Например,эту, если она доступна.
Баттумур Нямсурэн РК9-81И.

[2017-04-25 12:26] aurusov commented on #80
Можно. Но добиться красивости надо под тремя платформами: винда, убунта, мак.

[2017-04-25 18:10] aurusov commented on #459
Делает Георгий Емельянов

[2017-04-25 18:14] aurusov commented on #50
Сделал Владислав Смирнов

[2017-04-26 06:44] aurusov commented on #342
Делает Гусева Дарина

[2017-04-26 19:00] vla-parfenkov commented on #351
Добрый вечер, могу сделать в пятницу вечером, если никто еще не забронировал. Владислав Парфенков РК9-81.

[2017-04-26 19:13] aurusov commented on #351
Никто, берите. Время до субботы включительно.

[2017-04-26 21:26] AntipovaA commented on #213
Можно взять это задание, если его еще никто не взял?
Антипова Анастасия, РК9-82

[2017-04-27 05:59] ViktorRakhmatulin commented on #341
Хочу закрепить этот бонус. Очень много знакомых слов

[2017-04-27 06:08] ViktorRakhmatulin commented on #341
Нужно через контекстное меню сохранять датасет графика в файл в формате JSON, верно?

[2017-04-27 06:42] aurusov commented on #213
Покажи свои работы, чтобы смог оценить навыки в html/css.

[2017-04-27 06:43] aurusov commented on #341
Да

[2017-04-27 08:50] AntipovaA commented on #213
К сожалению,  у меня нет работ, которые я могла бы продемонстрировать

2017-04-27 9:42 GMT+03:00 Andrey Urusov <notifications@github.com>:

[2017-04-27 10:37] aurusov commented on #213
Тогда не стоит браться за эту задачу, мало времени.

[2017-04-27 19:56] kobzarvlad commented on #412
Добрый вечер!
Хотел бы взять эту задачу. Кобзарь Влад, РК9-82

[2017-04-27 22:06] OlgaBlu commented on #487
Здравствуйте.
Хочу взять эту задачу для бонуса.
Ольга Блудова, РК9-81.

[2017-04-28 16:46] levasmol commented on #197
Добрый вечер, можно взять в качестве бонусного задания?

[2017-04-28 17:49] aurusov commented on #197
Какой опыт в верстке ? Где посмотреть работы ?

[2017-04-28 17:54] aurusov commented on #487
Берите

[2017-04-28 17:55] aurusov commented on #412
Берите

[2017-04-28 20:32] Goga9510 commented on #459
Андрей Витальевич сделал, коммиты объединил

[2017-04-28 21:11] Battumurich commented on #80
Добрый день! Нашел файл с разметкой /ru.bmstu.rk9.rao.ui/plugin.xml
Здесь перечислены связи кнопок в тулбаре с их изображениям
![image](https://cloud.githubusercontent.com/assets/28001626/25547507/1b1281e4-2c70-11e7-9041-c86f71ef37a0.png)

Не работает опция disabledIcon, которая должна подменять иконку ,когда кнопка не активна.
Не могу понять почему

[2017-04-28 21:26] levasmol commented on #197
Опыт небольшой, на 2 курсе верстал на php для себя

[2017-04-29 07:54] aurusov commented on #80
По скринам же видно, что картинки меняются. Не копал, но делаю вывод, что настройка работает. Проблемы в другом
- они отстойно выглядят в этом режиме
- они по разному выглядят в этом режиме

Вы пробовали давать другие значения ?

[2017-04-29 10:15] aurusov commented on #197
Сегодня уже суббота, думаю поздно браться за эту задачу.

[2017-04-29 10:35] aurusov commented on #80
Действительно, проблема есть
https://askubuntu.com/questions/822104/eclipse-neon-icons-are-not-disabled

Но там же описано и решение.

Видимо, он создает такую поганую disabledIcon автоматически. Надо отучить его от этого.

[2017-04-29 10:37] aurusov commented on #487
![2017-04-29_13-36-50](https://cloud.githubusercontent.com/assets/5585202/25554851/eea86d96-2ce0-11e7-89a2-91229e8cd83b.png)

Это палево. Бонус снимаю у обоих.

[2017-04-29 10:39] aurusov commented on #487
@OlgaBlu
@smirnov-vs

Смотрим коммент выше и не удивляемся ведомости.

[2017-04-29 10:43] smirnov-vs commented on #487
неловко вышло

[2017-04-29 10:57] levasmol commented on #197
Я уже создал pull request вчера

[2017-06-28 15:38] ViktorRakhmatulin commented on #176
- настроен Хинт
-поиск идет только среди видимых точек
- исправлены мелкие ошибки
- предложен вариант оформления кода (переименованы переменные)
- убрал код, который не использовался для построения графиков
--URLgenerator
--Неиспользуемый ToolTip ,
--Дополнительный прогон отрисовщика для нанесения специальных меток на точки

В итоге подсистема работает еще шустрее и кушает меньше памяти.

[2017-09-02 13:28] mikhailmineev opened #578 "Добавить импорт из базы данных"
Добавить возможность импорта данных для моделирования из базы данных

[2017-09-07 08:19] mikhailmineev commented on #578
@aurusov
Попробую внедрить данную штуку, но пока не знаю, что получится
http://www.querydsl.com/static/querydsl/latest/reference/html/ch02.html#jpa_integration

[2017-09-07 09:31] aurusov commented on #578
Выглядит вполне достойно, но меня немного смущает, что последнее обновление на гитхабе от февраля 17-го. Кажется, проект заморожен.

[2017-09-07 10:36] mikhailmineev commented on #578
Есть ещё вариант, похожий на querydsl - https://www.jooq.org
Данный проект точно живее
Но там разные виды лицензий и у opensource скудный выбор баз https://www.jooq.org/legal/licensing#databases
Есть худший вариант, но мне не нравится, поскольку тяжело формировать запросы
http://docs.oracle.com/javaee/6/tutorial/doc/gjivm.html
Поищу ещё варианты, но не уверен, что они будут норм

[2017-09-07 11:08] aurusov commented on #578
querydsl выглядит интереснее imho. [Google Group](https://groups.google.com/forum/#!forum/querydsl) у них живой.

[2017-09-07 11:14] mikhailmineev commented on #578
У меня на работе в некоторых проектах используется именно querydsl, собственно и потому я на него в первую очередь посмотрел
Еще это для себя оставлю, пока не особо вник http://www.eclipse.org/eclipselink/#jpa

[2017-09-07 11:23] mikhailmineev commented on #578
Еще вопрос возник, как добавить библиотеки в проекты raox-runtime, как это сделано с классами rao.lib
![capture](https://user-images.githubusercontent.com/6087009/30160986-84d9b06a-93d7-11e7-8f11-d89f0739fca4.PNG)
Как добавить либы в сам ru.bmstu.rk9.rao.lib я понял. По примеру commons-math3. Но чтобы она отобразилась в рантайме, я не смог добиться

[2017-09-07 12:51] aurusov commented on #578
querydsl работает с jpa

[2017-09-07 12:51] aurusov commented on #578
В какой проект надо добавить либу ? В модель ? По примеру Xtend Library не получается ?

[2017-09-07 13:53] mikhailmineev commented on #578
Да, чтобы в модели была, по примеру Xtend Library не смог сообразить можно ли
Нашел вариант https://stackoverflow.com/questions/16918500/exporting-jar-libraries-in-an-eclipse-plugin
Пока не пробовал

[2017-09-07 14:30] aurusov commented on #578
Вот [тут](https://github.com/aurusov/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/execution/BuildUtil.java#L127) формируется class path для проекта модели.

[2017-09-09 16:28] mikhailmineev commented on #578
Проблема с тем, что не загружались Entity решена
Оставлю, чтобы не потерять ссылку
https://stackoverflow.com/questions/27304580/mapping-entities-from-outside-classpath-loaded-dynamically

[2017-09-17 17:03] Troideninc opened #580 "Реализация закона распределения для стандартного потока"
Необходимо реализовать закон генерации интервалов времени между событиями для потока однотипных независимых событий. Распределение для такого потока отличается от нормального.

https://ru.wikipedia.org/wiki/%D0%9F%D0%BE%D1%82%D0%BE%D0%BA_%D0%BE%D0%B4%D0%BD%D0%BE%D1%80%D0%BE%D0%B4%D0%BD%D1%8B%D1%85_%D1%81%D0%BE%D0%B1%D1%8B%D1%82%D0%B8%D0%B9

Вид распределения:
![501082_html_75a14764](https://user-i

[2017-09-17 17:35] Troideninc opened #581 "Доработка графиков. Японские свечи"
Необходимо доработать вывод графиков с возможностью вывода данных свечами.
Описание: https://ru.wikipedia.org/wiki/%D0%AF%D0%BF%D0%BE%D0%BD%D1%81%D0%BA%D0%B8%D0%B5_%D1%81%D0%B2%D0%B5%D1%87%D0%B8
Пример из коробки в используемой в данный момент библиотеке:
![jfreechartcandlestickdemo](https://user-images.githubusercontent.com/31829477/30523268-259df440-9be7-11e7-982c-874ad2c474e2.png)
Реализация:
h

[2017-09-30 00:58] AlexChernov commented on #546
merged to aurusov/raox in aurusov/raox#566 (Feature/logStatistics)

[2017-09-30 00:58] #546 closed, assigned to AlexChernov

[2017-09-30 09:01] aurusov opened #583 "Добавить в результаты min/max"

[2017-09-30 09:02] aurusov opened #584 "Добавить в результаты store-статистику с медианой"

[2017-09-30 09:25] #584 closed, assigned to AlexChernov

[2017-09-30 09:38] aurusov commented on #265
@AlexChernov
ping

[2017-09-30 09:44] aurusov commented on #227
@AlexChernov
Жду версию без измененного ini.

[2017-09-30 20:07] mikhailmineev commented on #578
У меня вопрос насчет dataprovider. Данную штуку можно же просто создавать как constant и не париться. Также не очень приятна идея хранить итератор в ресурсе глобальном, при автоматическом запуске скорее всего сбросится (не проверял), возможно стоит создать аналог constant, обозвав его а ля global, который будет модифицируемым.

[2017-10-01 08:48] aurusov commented on #578
М.б. я не понял. Хочешь отказаться от слова datasource в пользу constant ?

[2017-10-01 08:50] aurusov commented on #578
Что за глобальный итератор ? У каждого query свой итератор же.

Какая-то странная изменяема переменная global.

Итого: нужен пример как есть, как будет. А там сравним.

[2017-10-01 09:20] mikhailmineev commented on #578
По источнику данных
Как есть
```dataprovider data = new SqlDataProvider(...)```
Как будет
```constant data = new SqlDataProvider(...)```
Данные варианты после компиляции всё равно представляют одинаковые поля
```public static final SqlDataProvider = ...```
Собственно зачем тогда городить лишнее?

По итератору
Как есть
[code]
Как будет
[code]
И компилироваться данная штука должна будет в что-то тип

[2017-10-01 10:24] aurusov commented on #578
Как есть
```dataprovider data = new SqlDataProvider(...)```
Как будет
```constant data = new SqlDataProvider(...)```
Данные варианты после компиляции всё равно представляют одинаковые поля
```public static final SqlDataProvider = ...```
Собственно зачем тогда городить лишнее?

~~Давай попробуем.~~
Теряется читаемость. `dataprovider` лучше доносит мысль. Мы же не стремимся всех, кто будет `public s

[2017-10-01 10:27] aurusov commented on #578
Какое-то странное название `global`. Предлагаю `cursor`.

[2017-10-01 10:44] aurusov opened #585 "Создать архив с Эклипсом через Travis CI"
Создал экспериментальную ветку, минимально настроил тревис и подмержил в парку deploy [репу](https://github.com/aurusov/raox-deploy), отвечающую за деплой.
https://github.com/aurusov/raox/tree/release/3.8.0-travis

Т.к. тревис создает для сборки чистую виртуалку, то можно поступить так
- Поднять в ней локальный мавер-репозиторий, чтобы положить туда плагины
- Скачать через curl/wget архив с Эклипс

[2017-10-01 11:11] aurusov commented on #585
Сервер кафедры сейчас недоступен, поэтому с [логах](https://s3.amazonaws.com/archive.travis-ci.org/jobs/281884422/log.txt?X-Amz-Expires=30&X-Amz-Date=20171001T111058Z&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJRYRXRSVGNKPKO5A/20171001/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=host&X-Amz-Signature=7be3b5705545e8e30a427168ef3a485df9c5706cf315880f87d8ed86d572adf9) тревиса
`[WARNING] r

[2017-10-02 06:14] AlexChernov commented on #585
Ссылки на скачку 3.7.0 значит тоже сломались?

2017-10-01 14:11 GMT+03:00 Andrey Urusov <notifications@github.com>:

[2017-10-02 08:55] aurusov commented on #585
Ну да. Севак-то лежит. Или сеть до него недоступна - но от этого не легче.

[2017-10-02 11:27] aurusov opened #586 "Результат по временный ресурсам"
Хочется в момент удаления временного ресурса собрать о нем информацию. На уровне интерфейса дергать `update()` с параметром.

[code]

А то сейчас приходится заводить фиктивный постоянный ресурс для проксирования нужных параметров.

Сразу вдогонку на подумать
- Кажется, что надо синхронно менять интерфейс у `condition()`
или
- Кажется, что можно не менять интерфейсы, но начать относиться к параметр

[2017-10-02 13:47] mikhailmineev commented on #578
По рестарту модели, просится что-то такое в модели
[code]
Пока не реализовывал, но это кажется проще в реализации чем что-то вроде
[code]

[2017-10-02 18:22] AlexChernov commented on #586
Это уже реализованно, даже документация есть http://raox.ru/docs/reference/result.html

Предложенный кейс решается напрямую
[code]

Если нужно в update посложнее логику, то вместо evaluate() можно использовать просто функции, они вроде поддерживают ресурсы в качестве параметров

[2017-10-02 18:36] AlexChernov commented on #585
TO INVESTIGATE:
Возможно пора заморочиться с собсвенным пакетом eclipse, собирая только нужные плагины, перспективы и т.д (https://github.com/eclipse/epp.packages)

[2017-10-02 20:43] #343 closed, assigned to ViktorRakhmatulin

[2017-10-02 20:45] #563 closed, assigned to AlexChernov

[2017-10-02 20:46] #176 closed, assigned to ViktorRakhmatulin

[2017-10-02 20:48] #50 closed, assigned to nobody

[2017-10-02 20:56] #342 closed, assigned to nobody

[2017-10-02 20:56] #487 closed, assigned to nobody

[2017-10-02 20:57] #459 closed, assigned to nobody

[2017-10-02 21:00] #412 closed, assigned to nobody

[2017-10-02 21:06] #567 closed, assigned to AlexChernov

[2017-10-03 08:40] aurusov commented on #585
Поддерживаю. Можно еще splash-screen свой сделать. Задача выглядит минорной, но можно завести.

[2017-10-03 08:41] aurusov commented on #586
А почему результат не `ResultMode.MANUAL` ?

[2017-10-03 08:44] #341 closed, assigned to nobody

[2017-10-03 08:47] #440 closed, assigned to nobody

[2017-10-03 08:47] #441 closed, assigned to nobody

[2017-10-03 08:49] #437 closed, assigned to nobody

[2017-10-03 08:55] aurusov commented on #422
Добавил памяти виртуалке, тест прошел.

[2017-10-03 08:55] #422 closed, assigned to nobody

[2017-10-03 12:10] AlexChernov commented on #586
Результат без источника данных, как по мне, не может быть не ResultMode.MANUAL по определению

[2017-10-03 13:23] aurusov commented on #586
Отлично, просто хотел уточнить. Тогда закрываю.

[2017-10-03 13:23] #586 closed, assigned to AlexChernov

[2017-10-04 20:07] aurusov commented on #578
Ну тогда уж во множественном лице.
[code]
Не понимаю
- Что делает setup() ? Он вызывается один раз или перед каждым экспериментом ? Если да, то должен ли он вернуть true, чтобы эксперимент начался ?
- Что делает terminate() ? Останавливает серию экспериментов ? Если да, то будет непонятно, почему setup() запускает i-ый эксперимент, а terminate() завершает всё. Надо подумать над читаемостью.
- Расс

[2017-10-07 06:21] aurusov opened #587 "Не работает комбинаторный выбор"
Имена релевантного ресурса должно совпадать с именем типа, иначе ошибка комбинированного подбора.

[code]

[code]

[2017-10-07 06:24] aurusov commented on #61
Не работает. Можно проверить на модели. Надо вывести время прихода 167-го клиента.
[code]

[2017-10-07 07:23] AlexChernov commented on #61
repro steps?

сб, 7 окт. 2017 г. в 9:24, Andrey Urusov <notifications@github.com>:

[2017-10-07 09:23] aurusov commented on #61
Запустить модель и построить график времени прихода для 167-го клиента.

[2017-10-09 15:25] AlexChernov commented on #531
Я вроде залезал в этот кусок в грядущем пулл реквесте, напомните как импортировать модель без копирования, пожалуйста

[2017-10-09 15:51] aurusov commented on #531
![import _002](https://user-images.githubusercontent.com/5585202/31346774-e263a5ec-ad22-11e7-8f42-64def0718889.png)

[2017-10-09 15:52] AlexChernov commented on #531
Ок, спасибо, сегодня ночью посмотрю заодно

[2017-10-09 21:19] AlexChernov commented on #531
Не воспроизводится в alexchernov/raox/feature/result-tests.
pull request #588

[2017-10-10 09:17] aurusov commented on #531
А на 3.8.0 ?

[2017-10-10 19:42] AlexChernov commented on #585
https://github.com/LorenzoBettini/customeclipse-example

[2017-10-11 09:43] aurusov commented on #585
М.б. в виде отдельной таски ? В этой задача попроще imho.

[2017-10-11 16:47] aurusov commented on #531
Проверил твою ветку, ошибка осталась
![error _002](https://user-images.githubusercontent.com/5585202/31454124-0fdd94a6-aebd-11e7-8fd8-7495b3f16b2a.png)

[2017-10-11 16:49] aurusov commented on #531
Увидел новый пункт меню `Model/Export Results`. Он приводит к такой же ошибке. Что странно, потому что она про `trace writer`.

[2017-10-12 19:56] aurusov commented on #556
Если переименовать `erase` -> `release`, то все должно прийти в норму.

[2017-10-12 20:16] #430 closed, assigned to nobody

[2017-10-12 20:32] aurusov commented on #265
@AlexChernov
Надо бы закончить задачу, чего она столько весит.

[2017-10-12 20:37] aurusov commented on #134
Кажется, что задача неактуальна.

[2017-10-12 20:38] #134 closed, assigned to nobody

[2017-10-12 20:39] aurusov commented on #133
Кажется, что задача неактуальна.

[2017-10-12 20:39] #133 closed, assigned to nobody

[2017-10-12 21:14] aurusov commented on #531
Теперь работает.

[2017-10-13 17:05] aurusov opened #589 "Порядок значений в результатах"
От запуска к запуску меняется порядок значений, например, первый запуск
[code]
второй
[code]
Хочется, чтобы было стройность: сначала по значению перечислимого типа, потом по типу значения
[code]
На занятиях из-за это боль. Ну в тестах это стрельнуло.

[2017-10-14 12:53] aurusov commented on #580
@Troideninc
Подскажи, какое это именно распределение из [списка](https://en.wikipedia.org/wiki/List_of_statistics_articles) ?

[2017-10-14 12:56] #414 closed, assigned to nobody

[2017-10-14 12:57] #415 closed, assigned to nobody

[2017-10-14 15:09] Troideninc commented on #580
Из того, что я прочёл стационарный поток
Описывается распределение пуассона.

[2017-10-14 16:54] aurusov commented on #580
Т.е. вот этот https://en.wikipedia.org/wiki/Poisson_distribution ? Но Пуассон только для дискретных значений. Именно это и надо ?

[2017-10-16 07:26] AlexChernov commented on #587
Под виндой работало на защите лаб, а после фикса?
Это разве не покрыто тестами?

[2017-10-16 08:35] aurusov commented on #587
Кажется покрыто, но там не стреляло. Посмотри внимательно пример из таски и с [сайта](http://raox.ru/docs/reference/pattern.html), к примеру. На сайте все работало. В тестах могло быть также.

[2017-10-17 11:53] mikhailmineev commented on #578
Пробую реализовать второй подход, возникла трудность, код пока не пушил
Вот фрагмент кода, отвечающий за выполнение модели https://github.com/mikhailmineev/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/execution/ExecutionJobProvider.java#L80-L129
И его, получается, надо как-то передавать модели, чтобы она его выполняла в методе experiment(), а именно в методе somethingThatI

[2017-10-17 11:55] mikhailmineev commented on #578
Собственно в первом методе данная сложность не возникает, поскольку код перезапуска реализуется в данном классе, путем оборачивания вот [этого](https://github.com/mikhailmineev/raox/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/execution/ExecutionJobProvider.java#L80-L129) кода циклом

[2017-10-17 18:16] aurusov commented on #578
~~Для рестарта модели заведи другую таску.~~ Завёл https://github.com/aurusov/raox/issues/592. Бранч можно оставить этот (хотя...), но коммиты должны иметь правильные ссылки на задачи.

[2017-10-17 18:19] aurusov opened #592 "Добавить эксперименты"
https://github.com/aurusov/raox/issues/578#issuecomment-333539239, автор @mikhailmineev
====
По рестарту модели, просится что-то такое в модели
[code]
Пока не реализовывал, но это кажется проще в реализации чем что-то вроде
[code]

https://github.com/aurusov/raox/issues/578#issuecomment-334274039, автор @drobus
====

Ну тогда уж во множественном лице.
[code]
Не понимаю
- Что делает setup() ? Он вы

[2017-10-17 18:28] aurusov commented on #592
Ой не факт. Зависит от ошибки. Если ошибка компиляции, то да. Если runtime, то нет. Будет 10 из 10 красных экспериментов, ничего страшного не вижу. Зато сценарий эксперимента тработает до конца.

[2017-10-17 18:29] aurusov commented on #592
Не вижу ничего плохого в кидании исключения.

[2017-10-17 18:31] aurusov commented on #592
Я за более простой вариант. По твоим словам - это первый. Но он меня смущает, вопросы были [заданы](https://github.com/aurusov/raox/issues/578#issuecomment-334274039), но не ответов на них нет. Сейчас самое время ответить.

[2017-10-17 20:06] mikhailmineev commented on #592
setup() вызывается лишь 1 раз перед запуском экспериментов, там как раз создается итератор. Данный метод  - аналог init() на уровне экспериментов.

terminate() сообщает, нужно ли выполнять следующий эксеримент, аналог terminateCondition.
Запуск i-ого эксперимента скорее всего должен осуществляться в уже существующем методе init().

Насчет читаемости согласен, но пока не знаю, как нормально эти мет

[2017-10-17 20:44] aurusov opened #593 "LogStatistics пишет не в том формате"
- Разделитель должен быть `;`
- Вещественные значения надо выводить в формате операционной системы
- По документации непонятно как ей пользоваться
- Надо енкодить строковые значения

[2017-10-18 08:54] aurusov commented on #592
Ага, вот и первое недопонимание. Под экспериментом я подразумеваю один запуск модели. Более полное описание эксперимента
- подготовить исходные данные
- запустить модель, дождаться окончания (это называется прогон модели, на всякий)
- куда-то сохранить результаты (в файл, в переменные, в бд и т.д.)

Т.е. эксперимент - это исходные данные + прогон + результаты.

На практике ты хочешь провести *сери

[2017-10-18 13:27] mikhailmineev commented on #592
Я так понял, что experiment() вызывается каждый раз в начале прогона? Если да, то для такой цели уже существует init()

[2017-10-18 13:28] mikhailmineev commented on #592
Таким образом setup не нужен

Тут кажется самым простым создать функцию restartCondition() для перезапуска, как termintateCondition(), и модель будет перезапускаться, если функция определена и возвращает true

- создать поля, похожие на constant, только изменяемые (типа variable), но тут надо подумать.
- использовать файловые базы данных [hsqldb](http://hsqldb.org/)
- или [sqlite](https://bitbucke

[2017-10-18 14:34] aurusov commented on #592
Вполне хорошая лицензия.

[2017-10-18 14:47] aurusov commented on #592
И все таки, я не понимаю. Сейчас есть первый вариант, с кучей методов. Ты уже начинаешь от них отказываться. И второй вариант, который для меня выглядит как-то так.

[code]

Сейчас, в моем понимании, серия выглядит как один прогон
[code]
Предлагаю отрефакторить код под эту простейшую схему, без логики. При этом, если experiments() отсутствует, то и без него должно работать как сейчас.

Согласен с

[2017-10-18 15:04] mikhailmineev commented on #592
Да, пожалуй этот подход лучший

[2017-10-18 15:11] mikhailmineev commented on #578
А мне все равно будет нужно сливать их вместе, и две ветки в итоге будут указывать на один коммит, есть ли смысл вести две ветки тогда?

[2017-10-18 15:25] aurusov commented on #578
Вот поэтому и не хочется заводить второй бранч. Но тут есть момент - а давай мы отложим пока серию экспериментов. Ведь она не блочит твой курсач, как мне кажется. Лучше допилить интеграцию с БД и довести модель до ума.

[2017-10-18 15:52] mikhailmineev commented on #578
Да, на данный момент не блочит, тогда на модель переключаюсь

[2017-10-18 21:00] AlexChernov commented on #585
Постоянно лежит наш Nexus maven репозиторий, можно попробовать заиспользовать github как maven репозиторий https://stackoverflow.com/questions/14013644/hosting-a-maven-repository-on-github

[2017-10-19 09:37] aurusov commented on #585
Давай голосом обсудим.

[2017-10-19 10:27] AlexChernov commented on #585
Я бы не ждал субботы. Я готов по телефону почти в любое время и по скайп после 19-00

[2017-10-27 18:38] #531 closed, assigned to AlexChernov

[2017-10-27 18:38] #421 closed, assigned to AlexChernov

[2017-10-27 18:38] #587 closed, assigned to aurusov

[2017-10-27 18:39] #580 closed, assigned to aurusov

[2017-10-27 18:40] #589 closed, assigned to AlexChernov

[2017-12-25 12:25] #351 closed, assigned to nobody

[2018-12-26 00:35] #578 closed, assigned to mikhailmineev