[2014-04-19 17:41] k-alexandrovsky opened #8 "Проблема с параметрами DPT activity"
@aurusov
В РДО синтаксис имеет следующий вид:
`Имя_активности : Имя_паттерна Параметр1 Параметр2 ... Параметр N`

Правило запрещает использовать полноценные выражения для параметров, потому что разделителей нет и парсер не переносит леворекурсивные правила. Я сделал параметры атомарными. То есть идентификаторы и константы писать можно, что-либо сложнее нужно облачать в скобки.

Проблема возникает

[2014-04-19 18:19] aurusov commented on #8
Именно так

[code]

Не забудь `;`, может понадобиться.
Надо обновить конвертер и справку. Поставь себе задачу.

[2014-04-19 20:24] k-alexandrovsky commented on #8
Форкнуть РДО, создать issue, поменять конвертер, сделать pull request? А справка тоже есть в в виде репо?

[2014-04-21 06:00] aurusov commented on #8
[Справка](https://github.com/aurusov/rdo_studio/tree/dev/app/rdo_studio/help) с исходниками.

[2014-06-04 21:26] k-alexandrovsky opened #13 "Сбор статистики"
Связан с:
- [x] #12
- [x] #14

<hr>

Реализовать все методы в разделе Results.

[2014-06-04 21:30] k-alexandrovsky opened #14 "Отображение графиков"
Зависит от:
- [x] #11

<hr>

Связан с:
- [x] #12
- [x] #13

<hr>

Разобраться в доступных java-библиотеках отрисовки графиков. Интегрировать графики в интерфейс среды, через трассировку или напрямую.

[2014-06-07 19:54] aurusov opened #16 "Средства для графического редактора моделей"
В таску призываются @yulek1 и @AlexChernov.

В идеальном мире мы найдем удобную библиотеку для решения нескольких задач

<ol>
<li>Графический редактор модели.</li>
<li>Халявная анимация - a-la Arena, где очень клёво перемещались транзакты между блоками. Было удобно отлаживаться, не хватает такого в AnyLogic. Халявная - потому что разработчик ничего не делает для её получения.</li>
<li>Полноценная

[2014-06-07 20:43] aurusov commented on #16
@yulek1
Юля, ты можешь совместить libGDX и jgraphx ? Не представляю как заставить одно рисоваться поверх другого. Допускаю, что это очень сложно. Хочется, чтобы ты исследовала этот момент. Начни с кейса, когда главный libGDX.

[2014-06-07 20:50] yulek1 commented on #16
Сделаю, ориентировочно к среде.(11.06). Jgraphx пробовала, хороший.

[2014-06-07 20:55] aurusov commented on #14
Наткнулся на [jFreeChart](http://www.jfree.org/jfreechart/index.html)

[2014-06-08 20:49] k-alexandrovsky commented on #14
Да, выглядит круто, особенно секция с примерами. Я, правда, так и не разобрался, какие библиотеки он использует для отрисовки (в мире Java, оказывается, идет холивар между библиотекой `AWT/Swing` от Sun и  `SWT` из Eclipse), но скриншоты с графиками в эклипсе всюду есть, так что надо попробовать.

[2014-06-09 06:04] aurusov commented on #14
В чем сильные и слабые стороны библиотек ?

[2014-06-09 09:35] k-alexandrovsky commented on #14
Swing дает интерфейс как в NetBeans, то есть выглядит не очень нативно, но зато входит в состав JRE. SWT выглядит вполне нативно, но это отдельная библиотека, которая тоже полагается на платформозависимый нативный код, но не входит в состав виртуальной машины. Зато она входит в состав Eclipse, он весь на ней написан. Совмещать библиотеки можно через SWT_AWT Bridge, но он на линуксе и маке падает с

[2014-07-05 05:31] yulek1 commented on #16
Таска лежит в https://github.com/yulek1/TestLibGDX/
Совместились координаты, но как-то странно.

[2014-07-05 05:33] yulek1 commented on #16
Библиотека, кот может помочь сделать движение: http://www.aurelienribon.com/blog/projects/universal-tween-engine/

[2014-08-18 17:55] aurusov commented on #16
призывается @robotxet

[2014-09-06 09:24] aurusov commented on #14
Требования к системе отображения графиков
1. Прореживание данных
2. Масштабирование
3. Убедиться, что работает на больших объёмах данных (не хуже, чем текущее РДО)
4. Умеет накладывать несколько графиков на один
5. Умеет показывать изменения, произошедшие в один и тот же момент времени
6. Умеет стоить график на лету

[2014-09-06 10:12] k-alexandrovsky opened #17 "Ход модельного времени"
http://rdo.rk9.bmstu.ru/help/help/rdo_studio_rus/html/work_model/work_model_frame.htm

[2014-09-06 10:29] aurusov commented on #14
@AlexChernov

[2014-09-27 08:34] k-alexandrovsky opened #18 "Процессно-ориентированный подход"
Был сломан в xtext 2.7 и удален. Надо вернуть.

[2014-10-07 18:22] k-alexandrovsky opened #20 "Добавить совместимый со старым РДО способ отображения номеров временных ресурсов в трассировке"
Связан с:
- [ ] #12

[2014-10-07 18:51] aurusov commented on #20
Черкани пару мыслей о том как это сделать. То, что было в #12.

[2014-10-07 19:45] k-alexandrovsky commented on #20
Все индексы с недавнего времени хранят номера записей в общем списке `Database`. Для каждого временного ресурса берется номер последней записи (при условии, что она `Erase`) и первой (она всегда `Create`). Берутся пары `<Номер ресурса, номер записи>` и заносятся в массив. Массив сортируется по номерам записей (хронология!). Потом итерируем этот массив, каждая `Create` увеличивает каунтер, если спи

[2014-10-25 09:22] k-alexandrovsky commented on #14
В продолжение темы:

http://www.swtchart.org/
- Прореживание

- Маcштабирование

- Большие объемы и реальное время:

- Несколько графиков:

![screen1](http://www.swtchart.org/screenshots/img/multiple_axes.png)
![screen2](http://www.swtchart.org/img/chart.png)
- Изменения в один момент времени

Вроде решили, что никто не умеет и надо пилить самим.

<hr>

В любом случае, надо бы оттестировать. Выгля

[2014-10-25 10:19] k-alexandrovsky commented on #14
![](http://i.gyazo.com/a212b92156975d9a81381190f67f4b02.png) ![](http://i.gyazo.com/ec536c820c7f1e19a6c30192891d9878.png)
Как то так. 10^5 точек отрисовывает за 1.5 секунды, 10^6 уже за 5 секунд. Все, что меньше на порядок, можно сказать, что мгновенно. Но это все если включен режим отображения step.
Если его отключить, то отрисовка даже 10^6 очень быстрая. На большее количество данных не хватает

[2014-10-25 14:00] aurusov commented on #14
Почему решили отказаться от http://www.jfree.org/jfreechart/ ?

@AlexChernov
Леша, можешь сравнить быстродействие со старыми графиками ? Или это неактуально, т.к. надо переезжать на новые полюбому ?

[2014-11-01 17:32] bogachev-pa commented on #20
Надо обратить внимание вот на [этот](https://github.com/bogachev-pa/rdo_studio/commit/a00a498998cdf8f5276ae4d5d9797baadc9d05c4) коммит в моем форке rdo_studio и комментарии в нем.
Я правильно понимаю, что именно такую схему мы реализуем в качестве легаси (новосозданный ресурс получает наименьший из свободных айдишников) и не стремимся получить совсем-совсем легаси?

[2014-11-05 19:45] aurusov commented on #20
Нам нужна совместимость в каждом символе трассировки, чтобы прошли тесты.

[2014-11-05 21:26] bogachev-pa commented on #20
Дело в том, что номера временных ресурсов в моем и вашем форке отличаются.
Если вкратце, то в вашем номер нового ресурса это номер последнего освободившегося ресурса, а в моем это наименьший свободный номер на данный момент.

Если воспроизводим схему из моего форка, то мне нужно смержиться с вашим, а вам затем принять пул реквест.

[2014-11-05 21:40] aurusov commented on #20
Лучше твою, мержись.

[2014-11-07 20:46] bogachev-pa opened #23 "Неявное приведение integer к real не работает"
Если тип параметра ресурса real, а при его создании мы передаем ему интовое число, модель не собирается.
Например,
это работает:

[code]

А это падает:

[code]

Ошибка выводится в файле <имя_модели>Model:

[code]

Кирилл, поставь лэйбл bug, т.к. я в твоем форке не могу.

[2014-11-07 21:04] k-alexandrovsky commented on #23
Да валидации выражений вообще нет. Еще модель умеет

[code]

И это сгенерится в такую же некомпилируемую чепуху, конечно же.
Так что это не баг, это отсутствие вменяемого языка выражений. Я сейчас пытаюсь перейти на xbase, но там нужно перелопатить очень много всего, переписать грамматику и написать правила преобразования в модель на джаве, и это станет частью генератора.

[2014-11-13 22:02] bogachev-pa commented on #20
Задача решена в рамках коммита https://github.com/bogachev-pa/rdo-xtext/commit/7d85808d9290b964fbbc9b87c772bc11fe5239a2

[2014-11-14 07:56] aurusov commented on #20
https://github.com/bogachev-pa/rdo-xtext/issues/6#issuecomment-63021267

[2014-12-14 21:08] k-alexandrovsky commented on #17
@aurusov, @bogachev-pa
Вопрос по замедлению `DPT Search` и по поводу оповещений об изменении состояния системы. Хочется обсудить, что нужно считать атомарной операцией в search'е, и между какими операциями нужно вставлять delay? Потому что я задумался об анимации, и о том, когда ее оповещать об изменениях. Потому что search весьма свободно жонглирует слепками состояния системы, являясь этакой маши

[2014-12-15 13:01] aurusov commented on #17
С поиском сложно. Старое РДО разбивало задачу на две разных
1. Поиск мог прерваться, отдать управление ядру с результатом [must_continue](https://github.com/aurusov/rdo_studio/blob/dev/simulator/runtime/rdo.h#L24). В следующий цикл моделирования ядро понимало, что надо [передать](https://github.com/aurusov/rdo_studio/blob/dev/simulator/runtime/rdo.h#L32) управление прошлой задаче. И так до тех пор

[2014-12-15 18:35] k-alexandrovsky commented on #17
То есть с точки зрения скорости моделирования в старом РДО было примерно так:
`1/40с на поиск => delay от ползунка скорости моделирования => 1/40с на поиск => delay ...`?

Сейчас поиск ищет до победного в основном потоке, но при этом он подписан на прерывание моделирования, и ему выставляется флаг прерывания, тогда не будет порождено новых вершин и будет восстановлено начальное состояние ресурсов.

[2014-12-15 22:21] aurusov commented on #17
Да, про поиск и задержку так. На консультации говорил, что тебе надо посмотреть и понять работу старого РДО в этом месте
- [время](https://github.com/aurusov/rdo_studio/blob/c01873ec377625d7db3a1c8ad78498ffb00e8895/simulator/runtime/rdobase.cpp#L138)
- [переход к след. событию](https://github.com/aurusov/rdo_studio/blob/c01873ec377625d7db3a1c8ad78498ffb00e8895/simulator/runtime/rdo_simulator.cpp#L

[2014-12-15 22:59] k-alexandrovsky commented on #17
Чтобы графу не пришлось парсить записи. Но я не знаю, насколько это оправданно.

[2014-12-16 09:41] aurusov commented on #17
Вообще-то это его работа, не переживай. Если всё получится, то можно оформить эту часть графопостроителя в виде отдельного провайдера. Но пока непонятно кому это нужно кроме него самого.

[2015-01-01 22:13] #20 closed, assigned to nobody

[2015-01-02 08:48] bogachev-pa commented on #20
Возможно, рано закрыл, я еще не тестировал на heidel и барже.
Как протестирую, сюда напишу.

[2015-01-02 22:14] k-alexandrovsky commented on #20
Да я как то решил, что у этой issue узкая формулировка, а основной будем считать https://github.com/bogachev-pa/rdo-xtext/issues/6

[2015-01-18 18:30] aurusov opened #26 "Руководство пользователя по РДО"
- [x] Как скачать РДО
  - [x] [Эклипс скачивается с нашего сайта как архив, уже с плагином](https://github.com/aurusov/rdo-xtext/issues/26#issuecomment-139803565)
  - [x] [Эклипс с офф. сайта, плагин доставляется руками](https://github.com/LeKaitoW/rdo-xtext/issues/22#issuecomment-135145683)
- [ ] Как обновить уже установленный РДО (так же, как [Эклипс с офф. сайта, плагин доставляется руками](htt

[2015-01-23 18:01] bogachev-pa opened #27 "Новая грамматика языка"
@aurusov
@k-alexandrovsky

Предлагаю в этой теме обсуждать варианты новой грамматики.

Вкратце идеи по моему варианту:
- функции `initialize()`, `terminate_condition()` и `finish()` определяют, что происходит до запуска модели, терминальное условие и вывод результатов, соответственно
- ключевое слово `resource` служит для добавления ресурса в базу данных, имя можно задавать, а можно и не задавать

[2015-01-24 17:52] aurusov commented on #27
Сегодня обсудили синтаксис паттернов, жду от тебя новый синтаксис по релевантным ресурсам. Теперь общие замечания от меня
- `<-` непонятный символ. Выглядит как `is`. Но ты говорил, что он несёт смысл перегрузки в каких-то местах. (наш разговор во вторник). Или не ?. А еще лучше прокомментируй, что это за символ. Ему надо придумать название, а то очень не удобно.
- `set` - почему он перекрывает вн

[2015-01-25 08:56] bogachev-pa commented on #27
Сделал.

Я решил, что символ имел слишком много смыслов, и частично заменил его использование на `set`. Идея `<-` состоит в задании алиасов для функций, последовательностей, паттернов и т.п. Возможно, мне надо его еще чуть лучше продумать.
Согласен насчет `is`, вполне можно использовать это слово, оно везде смотрится неплохо. (Кроме точек принятия решений, возможно там нужен какой-то другой синтак

[2015-01-25 13:56] k-alexandrovsky commented on #27
Ну мой вариант мне уже самому не нравится, потому что я уже решил, что идеального варианта быть не может, но вот пример кода для грамматики, где сделано все до паттернов:

[code]

[2015-02-04 19:31] bogachev-pa opened #29 "Течет память"
@k-alexandrovsky
Пока тестировал ленивого трассировщика, обнаружил, что у нас, похоже, течет память. Судя по симптомам - в базе данных (возможно, массив сериализованных данных почему-то не почищается GC между прогонами).

Я закрыл все окна трассировки, а массива с трассировкой в ленивом трассировщика нет вообще, так что, скорее всего, это не она.

Воспроизвожу так: прогон с большим количеством дан

[2015-02-04 22:56] k-alexandrovsky commented on #29
Если мы не падаем с `OutOfMemory` через 100 прогонов, то все хорошо. Java немного себе на уме, когда речь заходит о потреблении памяти.

http://stackoverflow.com/questions/16137193/java-heap-size-grows-by-portions-up-to-some-limit?answertab=votes#tab-top

Программа начинает с `Xms` и растет до `Xmx`, при этом отдавать захваченное не собирается.

[2015-02-05 07:58] aurusov commented on #29
У жабы нет понятия утечки памяти :) Для контроля за утечкой и нужен ГК. И да, он себе на уме.

[2015-02-05 08:09] bogachev-pa commented on #29
Кажется, поведение именно такое, тогда все в порядке. Дома еще раз проверю.

Утечка не совсем правильный термин, но, насколько я понимаю, может быть такая ситуация, что логика программы сохраняет возможность еще использовать какой-то объект, хотя мы этого делать не собираемся. В итоге GC будет считать, что память освобождать не нужно.

[2015-02-05 09:14] aurusov commented on #29
Конечно, нужно освобождать все умные указатели на объекты.

[2015-02-05 14:44] k-alexandrovsky commented on #29
Ну да, потечь еще можно, если полезть в off-heap, типа direct байт-буферов и всяких быстрых off-heap коллекций. Но мы таким не занимаемся, у нас все байт-буферы обычные.

[2015-02-06 23:09] bogachev-pa commented on #29
Я закрыл окно трассировки и запускал модель на 500к записей раз 20-30 подряд, в итоге с 2gb памяти "поднялся" до 3gb. Но дальше вроде не расту и не протормаживаю особо, так что не очень понимаю, есть проблема или нет.

Edit: Предел количества записей, на которых умираем по GC, не уменьшается, если много раз предварительно запустить модель, а, значит, все ок. Наверное, JVM просто аллоцирует себе ещ

[2015-02-06 23:39] #29 closed, assigned to nobody

[2015-02-28 13:18] aurusov commented on #17
Задача закрыта, но решли сделать замедление DPT-search в ней же. Замедление нужно для по постепенной отрисовки графа.

[2015-02-28 14:17] aurusov opened #30 "Исправить RDO Status"

[2015-02-28 14:24] aurusov opened #31 "Графический процессно-ориентированный подход"
Надо начать с #16

[2015-03-06 15:06] k-alexandrovsky commented on #30
![screenshot from 2015-03-06 17 59 37](https://cloud.githubusercontent.com/assets/6878143/6527294/a6ba4f5c-c42a-11e4-90d6-dcb5ca99f14d.png)
В общем, теперь `RDOStatusView` восстал из пепла, и стал мощной и удобной штукой для отображения чего угодно. И стал еще божественнее, конечно же.

@bogachev-pa @LeKaitoW
Теперь все могут делать следующее (в целях отладки, например):

[code]

И в статусе все с

[2015-03-06 18:32] aurusov commented on #30
Круто, чё.

[2015-03-06 18:33] #30 closed, assigned to nobody

[2015-03-13 17:43] bogachev-pa commented on #27
Предлагаю это тему закрыть и продолжить обсуждение в https://github.com/bogachev-pa/rdo-xtext/issues/20.

[2015-03-13 18:29] aurusov commented on #27
А в чём смысл ?

[2015-03-13 18:44] bogachev-pa commented on #27
Мне удобнее референсить коммиты, например. Асайни можно меня поставить.

Все-таки уже решили, что задачей занимаюсь я.

[2015-03-14 05:25] aurusov commented on #27
Точно, не заметил, что мы у Кирилла.

[2015-03-14 05:26] #27 closed, assigned to nobody

[2015-03-14 07:48] k-alexandrovsky commented on #27
И кстати, насчет референсов на ишью в коммитах, можно всегда делать вот так:
`username/rdo-xtext/#N`
Пример коммита - https://github.com/k-alexandrovsky/rdo-xtext/commit/0995d86559f967452f35dc7859d6b439608b209c
И тогда при мерже друг у друга нам не будут прилетать левые референсы.

[2015-03-14 08:13] bogachev-pa commented on #27
Ну да, я так и делаю для референсов в другие репозитарии. В принципе, предлагаю взять за правило всегда писать референсы полностью, даже если они в твой репозитарий, чтобы избежать тупняков гитхаба на мержах.

[2015-03-14 08:15] bogachev-pa commented on #27
Собственно,
@aurusov
@kstrizhov
@LeKaitoW

Обратите внимание на два сообщения выше. Думаю, всем стоит всегда так делать.

[2015-03-15 07:26] aurusov commented on #27
Поддерживаю

[2015-04-22 19:54] bogachev-pa opened #32 "Ошибка при расчете статистики"
При расчете некоторых взвешенных величин в [статистике](https://github.com/k-alexandrovsky/rdo-xtext/blob/generator/ru.bmstu.rk9.rdo.lib/src/ru/bmstu/rk9/rdo/lib/Statistics.java#L159) используется итератор по очереди, и есть вызов `iterator.next()`, но проверки на `hasNext()` нет и при этом условие цикла тоже не завязано на наличие следующей записи в очереди.

В итоге возможно падение с нулпоинтер

[2015-04-23 08:54] bogachev-pa opened #33 "Путаница с префиксами имен"
Если ничего не путаю, проблема была в том, что на этапе кодогенерации все имена получают префиксы по имени проекта, а в либе по имени модели ( = файла).

Или что-то похожее, я уже подзабыл.

Так или иначе мне пришлось сделать [некрасивый хак](https://github.com/bogachev-pa/rdo-xtext/commit/f7ab5ba52e0e9213672b48741656c803ff1672bb#diff-0ebd572be6b381dafbfe793d93a51048R131), чтобы хранить `json`-стр

[2015-04-23 18:50] LeKaitoW commented on #32
Ошибка воспроизводится и при значении `Terminate_if Time_now >= 1000`.

[2015-05-11 10:15] bogachev-pa opened #34 "Не-legacy последовательности не работают"
Видимо, что-то не так с билдпасом. Он не может найти пэкэджи `org.apache`, использование которых захардкоженно в компиляторе последовательностей, если мы не указали ключевое слово `legacy`.

Скрин:
![org_apache_is_kill](https://cloud.githubusercontent.com/assets/6528492/7562772/abbcab88-f7df-11e4-8be3-ed1c3b026183.png)
Ошибка:
`org.apache cannot be resolved to a type`

[2015-05-19 09:22] bogachev-pa commented on #34
Задача решена вот этим коммитом: https://github.com/bogachev-pa/rdo-xtext/commit/9e37687a2283c193b8f747add96777ed83a35210

[2015-05-19 09:22] #34 closed, assigned to nobody

[2015-05-20 20:32] aurusov opened #35 "Путаница с ;"
В первый раз запустил новое РДО :smile:
Обнаружил, что `;` используется довольно часто. Это ok. Тогда предлагаю дописать его куда только можно. В простейшей модели нашел два места
- Описание типа ресурса

[code]
- Собираемые показатели

[code]

[2015-05-20 20:36] aurusov opened #36 "Не работает автозавершение"
- При создании ресурса после `:` не видно тип ресурса
- При создании активности в dpt после `:` не виден паттерн
- После `Choice from BarberShop_.` (это релевантный ресурс) выводится `.` и всё

[2015-05-20 21:42] bogachev-pa commented on #35
Согласен.

Сегодня предложил другу, совершенно незнакомому с РДО, написать простейшую на новой грамматике по моему туториалу. Что его больше всего смутило - именно непоследовательность в использовании точек с запятыми. На то же постоянно жалуется Кирилл (Стрижов).

Я сделал это в своей ветке по переделыванию грамматики, а в других ветках предлагаю отдельно не трогать.

[2015-05-20 21:56] bogachev-pa commented on #36
В новой грамматике:
1, 2. Работают (точнее, аналоги этих конструкций)
3. Проблема тоже все еще есть. Но чем сейчас выдумывать какие-то дополнительные схемы валидации, мне кажется, лучше как можно раньше приступить к переходу на язык выражений и там эта проблема будет решена сама собой.

[2015-05-21 07:52] aurusov commented on #36
Я помню, что это работало на консультациях. Или нет ?

[2015-05-21 08:12] bogachev-pa commented on #36
Не знаю. На каких именно консультациях и на чьих исходниках?
Если я правильно помню старую грамматику обращения к параметрам ресурсов, пункт 3 вряд ли мог когда-то работать.

[2015-05-21 08:13] aurusov commented on #36
На консультация Кирилла. Могу путать. @k-alexandrovsky ?

[2015-05-23 10:47] k-alexandrovsky commented on #36
Увы, это никогда не работало. В choice from'ах язык выражений, а он без автодополнения в принципе. Тут нужен xbase

[2015-05-23 17:38] aurusov commented on #36
А в теле паттерна работало ? Я же где-то видел выпадающий список с параметрами ресурса или бред ?

[2015-05-26 20:00] k-alexandrovsky commented on #36
Это работало только в such_as, да и даже это я считаю большим везением, если честно. Слишком сложно делать scoping для каких-то вложенных конструкций.

[2015-06-11 10:41] #14 closed, assigned to LeKaitoW

[2015-06-19 21:30] k-alexandrovsky opened #42 "Enum'ы в кодах выхода симулятора"
https://github.com/k-alexandrovsky/k-alexandrovsky.github.io/issues/1#issuecomment-113551504

[2015-06-20 09:01] k-alexandrovsky opened #43 "Изменить алгоритм ядра симулятора"
https://github.com/k-alexandrovsky/k-alexandrovsky.github.io/issues/1#issuecomment-113623550

[2015-06-27 07:33] aurusov opened #46 "Расставить final"
Чтобы не захламлять пул-реквест множеством однотипных комментов, решил вынести в отдельную таску.
1. `ru.bmstu.rk9.rdo.lib/src/ru/bmstu/rk9/rdo/lib/Database.java`, `Database(JSONObject modelStructure)`, очень много похожих мест

[code]

[code]

[2015-06-27 09:38] bogachev-pa commented on #46
Сделал. Можно настроить автоматическое добавление `final` и прочие штуки в эклипсе.
`Windows -> Preferences -> Code Style` создать новый профиль, основанный на стандартном эклипсовском и настроить его нужным образом.
Потом нажать правой кнопкой в коде -> `Source -> Clean Up`.

Может отдельным рефакторингом пройтись такой штукой по всему проекту?

[2015-06-27 09:52] aurusov commented on #46
Если честно, то не хочется захламлять код final. Не смог найти веских аргументов про final для локальных переменных. Оптимизатор и так может понять меняется ли переменная внутри метода imho. Кажется, что final **надо** указывать, когда хочешь гарантировать, что она не менятеся. Но в простом коде, как пример выше, это и так понятно.

[2015-06-27 09:53] aurusov commented on #46
Откатывать коммит не надо. Я вслух рассуждаю. Ты как сам думаешь ?

[2015-06-27 09:55] bogachev-pa commented on #46
Думаю, что в случае с локальными переменными это действительно только захламляет код.

Однако в случае с полями классов, на мой взгляд, надо указывать всегда. В `Code Style` можно, кстати, настроить, чтобы `final` добавлялся только перед неизменяемыми полями классов.
Насчет параметров методов не уверен, но думаю, тоже стоит всегда ставить.

[2015-06-27 10:08] aurusov commented on #46
По политическим решениям не хочется менять стил по умолчанию. Но давай заведем таску, в которую накидаем пожелания к новому стилю. Пусть глаза мозолит, поживем с ней. Если поймем, что этого не хватает, то будем внедрять свой стиль.

[2015-06-27 10:24] bogachev-pa opened #47 "Code Style"
@aurusov, @k-alexandrovsky, @LeKaitoW, @kstrizhov

Начало обсуждения тут: https://github.com/aurusov/rdo-xtext/issues/46, кто не видел, почитайте.

Таска про обсуждение код-стайла.
Уже обсуждали форматированием, там остановились на дефолтном форматере.
Но эклипс также позволяет автоматически править и код-стайл. В частности добавлять `final` где нужно, добавлять автоматические `@Override`, расстав

[2015-06-27 10:24] bogachev-pa commented on #46
Готово. Думаю, эту таску стоит закрыть.

[2015-06-27 10:42] #46 closed, assigned to nobody

[2015-06-27 10:43] aurusov commented on #47
Не, всем надо будет настроить эклипс на единый стиль. Мы же можем поправить переносы строк и т.д.

[2015-06-27 14:57] bogachev-pa commented on #35
Думаю, можно закрыть.

[2015-06-27 15:18] #35 closed, assigned to nobody

[2015-06-27 18:01] bogachev-pa opened #48 "Релиз RAO-XT к учебному году"
@aurusov, @k-alexandrovsky, @LeKaitoW, @kstrizhov

Метатаска для обсуждения задач, которые необходимы для релиза РДО.
#### Блокируют
##### Для пользователей (студентов)
- [x] [Новая грамматика](https://github.com/aurusov/rdo-xtext/pull/45) (@bogachev-pa)
- [x] [Документация по новой грамматике](https://github.com/bogachev-pa/rdo-xtext/issues/24) (@bogachev-pa)
- [ ] [Масштабирование графа](https:/

[2015-06-27 18:23] aurusov commented on #48
Выглядит полным. Систему тестирования очень хочется, но я бы вынес её за скобки.

[2015-06-27 18:56] aurusov commented on #48
Попробоуйте в своих тасках прописать ссылку на milestone `RAO-XT к учебному году`. В ваших форках гитхаб мне предлагаю создать новый milestone.

[2015-06-27 19:21] aurusov opened #49 "У графиков не появляются ползунки прокрутки"
Если вызвать приблизить/отдалить через меню, то не появляются ползунки прокрутки. Не работает для всех комманд из этих меню. Если масштабировать мышкой, то появляются.
![2015-06-27 22 19 00](https://cloud.githubusercontent.com/assets/5585202/8393495/8b5ebb14-1d1a-11e5-950d-7f4c781be90a.png)

[2015-06-27 19:23] bogachev-pa commented on #48
Milestone между форками не шарится, я так понимаю.

[2015-06-27 19:24] aurusov commented on #48
Печалька, прям хоть заводи задачи-прокси, как эта.

[2015-06-27 19:25] aurusov opened #50 "Перемещение по графику вправо-влево через колёсо мышки"
Никакие клавиши не зажаты

[2015-06-27 19:27] bogachev-pa commented on #48
Но мне кажется, вы по крайней мере можете поставить их на пул-реквесты.

[2015-06-27 19:28] aurusov commented on #48
Ага, хоть что-то. Почему-то не могу тебя назначать отвественным на задачи.

[2015-06-27 19:31] aurusov commented on #48
Сделал тебя колаборатором, теперь могу.

[2015-06-27 19:33] aurusov opened #51 "Масштабирование графика через колёсо мышки"
По оси X с зажатой `Ctrl`
По оси Y с зажатой `Shift`

[2015-06-27 19:54] aurusov opened #52 "Плагин пятнашек"
Проект делается в другом репозитарии

https://github.com/LeKaitoW/rdo-game5

[2015-06-27 19:56] aurusov opened #53 "Визард создания моделей"
Обязательные функции, блокирующие первую лабу
- [x] Визард должен сам выставлять `Source folder name = src-gen`
- [x] Спрашивать имя модели
- [x] Проверять имя на допустимое (https://github.com/aurusov/rdo-xtext/issues/69)
- [x] Автоматом добавлять пустой файл модели с именем модели + `.rao`
- [x] Выставлять кодировку проекту UTF-8

Не блокирующая опция
- [x] Добавить не пустую модель, а одну из б

[2015-06-27 20:22] aurusov opened #54 "Поднять систему тестирования"
Задача распалась на
- https://github.com/aurusov/rdo-xtext/issues/132
- https://github.com/aurusov/rdo-xtext/issues/133

[2015-06-27 20:59] aurusov opened #55 "Автоматический выбор действия над объектом"
Если в `Collected Objects` активен только один пункт меню, но он должен быть вызван по двойному клику на элемент. Во всех остальных случаях (нет активных или их больше одного) - ничего не делать.

[2015-06-28 07:51] aurusov opened #56 "Операция не попадает в индекс"
Модель простейшей СМО, операция `Образец_обслуживания_клиента` возвращает пустой индекс

[code]

Воспроизводится на https://github.com/aurusov/rdo-xtext/releases/tag/1.2.0
Модель

[code]

[2015-06-28 08:02] bogachev-pa commented on #56
Я выпилил все паттерны из дерева, там их и не должно быть, т.к. не самостоятельные сущности - в дереве только активности.

К сожалению, этот коммит затесался в ветку с новой грамматикой еще до формирования гитфлоу. С другой стороны, это связано с переделыванием паттернов и эвентов, потому что с новой грамматикой эвенты получили очень логичную отдельную вершину в дереве, так что, может быть, коммит

[2015-06-28 08:15] aurusov commented on #56
Т.е. в новой грамматике это исправлено и, в том числе, графики по операциям можно будет строить ?

[2015-06-28 08:21] bogachev-pa commented on #56
Чтобы построить график по операции вам нужно в дереве выбрать `имя_dpt` > `имя_активности` > `Plot`. Это работает и так.

Вместо с новой грамматикой я просто убрал из дерева пункт `Patterns`, чтобы он не сбивал с толку.

[2015-06-28 08:25] aurusov commented on #56
Точно, вчера строил, а сегодня нет. Думал, что сломал. Тогда это не бага. Закрываю.

[2015-06-28 08:25] #56 closed, assigned to nobody

[2015-06-30 19:27] aurusov opened #60 "Графики для одного и того же момента времени"
Переменная может несколько раз измениться в один момент времени

[2015-06-30 19:28] aurusov opened #61 "График из одной точки"
Если параметр был задан в начале моделирования, а потом не изменялся, то даже первой точки не будет на графике.

[2015-06-30 20:17] aurusov opened #62 "Продумать предоставление данных ModelStructureCache для ui"
Пришлось вкорячить https://github.com/kstrizhov/rdo-xtext/blob/abfe9376946331de32d35280bbb020a0a549bf86/ru.bmstu.rk9.rdo.lib/src/ru/bmstu/rk9/rdo/lib/ModelStructureCache.java#L49

 Надо не забыть **удалить** этот костыль.

Хочется, чтобы ui имело доступ через

[code]

[2015-07-02 19:49] aurusov opened #65 "Ошибка запуска двух DPT"
Модель запускает DPT1, потом DPT2 и завершается. А должна в бесконечном цикле
`DPT1 -> DPT2 -> DPT1 -> DPT2 -> ...` (как качели)

[code]

[2015-07-02 20:36] aurusov opened #66 "Ошибка запука модели big_std.rdo"
[code]

[2015-07-02 20:37] aurusov opened #67 "Ошибка запука модели small_std.rdo"
[code]

[2015-07-02 20:41] aurusov opened #68 "Модель не собирается после копипасты"
- вставляем первую модель
- запускаем
- вставляем вторую модель
- запускаем, но она не компилируется
- удаляем руками папки `src-gen/model` и `src-gen/rdo_model`
- запускаем, работает
### Модель1

[code]
### Модель2

[code]

[2015-07-02 20:51] aurusov opened #69 "Нельзя называть модель model.rao"
Надо запретить на уровне визарда добавление файла с запрещенным именем. Запрещенные имена
- [x] `model.rao`
- [x] `1.rao`
- [x] `<любые цифры>.rao`
- [x] `name<space>subname.rao`
- [x] [ключевые](http://docs.oracle.com/javase/tutorial/java/nutsandbolts/_keywords.html) слова Java

[2015-07-02 20:59] aurusov commented on #67
Проблема в aurusov/rdo-xtext#69

[2015-07-02 20:59] #67 closed, assigned to nobody

[2015-07-02 21:00] aurusov commented on #66
Проблема в aurusov/rdo-xtext#69

[2015-07-02 21:00] #66 closed, assigned to nobody

[2015-07-02 21:05] aurusov commented on #68
Проблема в aurusov/rdo-xtext#69

[2015-07-02 21:05] #68 closed, assigned to nobody

[2015-07-04 07:12] aurusov opened #72 "Настроить thirdparty"
Начало тут https://github.com/aurusov/rdo-xtext/pull/64
- добавить скрипт, который
  - выкачивает либы
  - перепаковывает исходники
  - кладет в thirdparty
- обновить readme
- обновить манифест

[2015-07-04 08:47] bogachev-pa commented on #72
Готово. Мне инструкцию по использованию этого скрипта надо куда-нибудь добавить?
Собственно, она будет выглядеть так:

[code]

[2015-07-04 09:13] bogachev-pa commented on #72
Еще такой вопрос: если запустить скрипт 2 раза подряд, он перепакует исходники и они будут считаться `modified`.
Как тут лучше поступить?

Можно, например, впилить флажок, который будет говорить, игнорить уже существующие зипы или все перезаписать.

[2015-07-04 09:50] aurusov commented on #72
Поставь пул-реквест

нет

А что отличается в новом архиве ?

[2015-07-04 10:03] aurusov opened #73 "Заливать площадь под графиком"
Удобно для графика загрузки. Опциональная возможность. Надо встроить как команду popup-menu.

![vbm_lix1leo](https://cloud.githubusercontent.com/assets/5585202/8512279/bdf086d6-2344-11e5-9bc9-083637687199.jpg)

![qqq](https://cloud.githubusercontent.com/assets/5585202/8512284/d99f728e-2344-11e5-8ab8-a689b03a95c9.png)

[2015-07-04 10:03] aurusov commented on #73
@LeKaitoW
Оля, ты находила настройку, когда изучала графики ?

[2015-07-04 10:05] bogachev-pa commented on #72
Пока не могу понять. Может, какие-то таймштампы в зиповском формате?

[2015-07-04 10:09] bogachev-pa commented on #72
Пул реквест поставил: https://github.com/aurusov/rdo-xtext/pull/74

[2015-07-04 11:12] aurusov commented on #72
Залил исправления
Сейчас посмотрю что там с бинарниками

[2015-07-05 10:36] #55 closed, assigned to aurusov

[2015-07-05 13:04] LeKaitoW commented on #73
Сейчас это настроено в коде: https://github.com/LeKaitoW/rdo-xtext/blob/feature/game5/ru.bmstu.rk9.rdo.ui/src/ru/bmstu/rk9/rdo/ui/contributions/PlotView.java#L139
Думаю, если в стандартном меню этого нет, то можно переписать меню, добавив туда такой пункт. (Когда думали делать экспорт, то столкнулась с проблемой, что в стандартное меню JFreeChart'а нельзя добавлять какие-то пункты, только переписы

[2015-07-05 13:15] aurusov commented on #73
Посмотри пожалуйста в стандартном меню.

[2015-07-05 13:31] LeKaitoW commented on #73
Нашла в стандартном меню.
Properties... -> Plot -> Appearance -> Background paint.

[2015-07-05 13:52] LeKaitoW commented on #73
Занятость выглядит неплохо (или мне так только кажется), хотя надо бы убрать квадратики как-то:
![default](https://cloud.githubusercontent.com/assets/10632455/8511955/4fb745de-233e-11e5-9693-11bfff35413d.jpg)
А вот для графиков типа "количество в очереди" такое лучше не делать:
![default](https://cloud.githubusercontent.com/assets/10632455/8511957/5d6f324a-233e-11e5-8b6f-d84f61ed0d20.jpg)

Честно,

[2015-07-05 13:53] aurusov commented on #73
Уже неплохо. Посмотри как убрать квадратик.

[2015-07-05 13:54] aurusov commented on #73
А почему у загрузки пропали названия по оси Y ?

[2015-07-05 13:57] LeKaitoW commented on #73
Потому что это ещё один забытый минус - параметр занятость_парикмахера является boolean, а не enum. А boolean так и остался со значениями 0 и 1.

[2015-07-05 14:24] LeKaitoW commented on #73
Про квадратики - все методы оказались deprecated, кроме одного: http://www.jfree.org/jfreechart/api/javadoc/org/jfree/chart/renderer/xy/XYItemRenderer.html#setSeriesShape-int-java.awt.Shape-
Но этот метод хочет в качестве второго параметра awt-фигуру. Если передать ему null - опять квадратики.

[2015-07-05 14:26] aurusov commented on #73
Что у тебя за модель ?

[2015-07-05 14:27] aurusov opened #77 "Отображать boolean на графиках как enum"
Сейчас график строится между [0..1]. Лучше завести значения `True` и `False`.

![2016-02-27 12 07 43](https://cloud.githubusercontent.com/assets/5585202/13372132/c5ed2284-dd4a-11e5-85a2-1cdd1a2831e5.png)
![2016-02-27 12 07 49](https://cloud.githubusercontent.com/assets/5585202/13372134/c76b3268-dd4a-11e5-9da6-9d07a5b2295a.png)

[code]

[2015-07-05 14:29] aurusov commented on #73
Передай ему прямоуголник http://docs.oracle.com/javase/7/docs/api/java/awt/Rectangle.html без ширины и высоты.

[2015-07-05 14:42] LeKaitoW commented on #73
Прямоугольник без ширины и высоты сработал. Но, может, не будем заливать?
![default](https://cloud.githubusercontent.com/assets/10632455/8512105/a22313a0-2345-11e5-8cfb-b6c8310c8570.png)

[2015-07-05 14:45] aurusov commented on #73
А что тебя смущает ? Все верно, показана площать под графиком. Фигово, что нет линии, идущей по нулю, но и на двух пред. графиках она отсутствует.

[2015-07-05 14:55] bogachev-pa commented on #73
Если кому-то интересно мое мнение, то заливка без нижней линии выглядит странно, будто график определен не на всей оси, а только на ее частях. Мало того, непонятно как отличить постоянно меняющийся график от заливки (тут что-то может решить прореживание, но его же пока нет), а еще теряются моментальные изменения графика вниз-вверх внутри заливки.

В общем, по умолчанию должно быть явно как раньше.

[2015-07-05 15:32] aurusov commented on #73
Заливка без нижней линии - это вообще не то, что, нам надо. И да, все говорят правильно. Но есть ли другой режим или придется писать отображение с нуля ? Да еще без прореживания ? Такое слово, как компромис есть в словаре ?

[2015-07-05 15:33] aurusov commented on #73
Ну если как минимум, то научи, а я пул-реквест попринимаю.

[2015-07-05 15:41] bogachev-pa commented on #73
Ок, когда закончу более приоритетные задачи, примусь за эту.

[2015-07-05 15:49] LeKaitoW commented on #26
Перенесу из lekaitow/rdo-xtext#22:

Эклипс скачивается с нашего сайта как архив, уже с плагином:
- Download Eclipse
- Run Eclipse
- `Window` > `Open Perspective` > `Other` > `RDO`

Эклипс с офф. сайта, плагин доставляется руками:
- Download Eclipse
- Download RDO in `.../eclipse/dropins`
- Run Eclipse
- `Window` > `Open Perspective` > `Other` > `RDO`

Эклипс с плагином, но пользователь хочет обнов

[2015-07-05 19:18] bogachev-pa commented on #72
Вроде можно закрыть.

[2015-07-05 19:18] #72 closed, assigned to bogachev-pa

[2015-07-07 20:42] aurusov opened #79 "Шрифт оси Y графиков под Виндой"
Шрифт по оси Y отличается от оси X и от шрифта в других местах Эклипса

![2015-10-04 15-07-41 rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/10267739/c313dd1e-6aa9-11e5-8a3c-325790b796de.png)

Цифры выводятся нормальными
![2015-10-04 15-08-06 rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/10267743/d0d790ee-6aa9-11e5-886c-71ab9d49b48a.png)

[2015-07-07 20:44] aurusov opened #80 "Ужасные кнопки в статус баре в режиме disable"
![2015-07-07 23-42-59 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8556798/0d082558-2502-11e5-8a91-72a43e4fb26e.png)
![2015-07-17 23-34-15 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8756634/6f66ab3e-2cdc-11e5-8771-eb500862b536.png)

[2015-07-07 20:45] aurusov opened #81 "Какая-то fancy yellowish вместо темы"
Как выглядит под Windows 8.1
![2015-07-07 23-44-57 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8556837/3b725a30-2502-11e5-9c91-2a7e95db784e.png)

Что получилось
- Windows 8.1
  ![2015-07-15 00-45-10 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8685956/da1fdaee-2a8a-11e5-86b0-fdb1dd8fa878.png)
  ![2

[2015-07-08 03:55] bogachev-pa commented on #81
грубовато
тема-то стандартная

я предлагаю заставить всех пользоваться гномом, там самое красивое оформление эклипса (см. скрин из ридми)

[2015-07-08 06:54] aurusov commented on #81
У меня и винда и эклипс рисуют бегущий ползунок зеленым цветом. Откуда берётся этот ?

[2015-07-08 07:09] bogachev-pa commented on #81
Винда не позволяет настраивать цвета прогрессбара кроме как выставлением состояний (`SWT.NORMAL`, `SWT.PAUSED`, `SWT.ERROR`).

Вот что я нашел в коде:
https://github.com/aurusov/rdo-xtext/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/simulation/SpeedSelectionToolbar.java#L45

Подробности вам стоит выяснить у Кирилла.

[2015-07-08 07:16] aurusov commented on #81
Не, название стало мерзко толерантным, а это именно поносная хрень, которую в коментах ласково назвали `fancy yellowish`.

[2015-07-08 07:20] bogachev-pa commented on #81
Ну у вас вообще как-то эклипс страшно выглядит. Почему-то умерли все обводки и эффекты.
Под моей семеркой вот так:
![muheclipse](https://cloud.githubusercontent.com/assets/6528492/8565078/c755d006-255a-11e5-8dda-6fd3b85299ea.png)

[2015-07-08 08:27] aurusov commented on #81
И это ключевая фраза. У тебя хотя бы похоже на желтый, глянец по краям, как в теме винды. У меня тема плиток (8.1), т.е. никакого глянца. Обводка осталась, но она тоже плоская. Это норм, но в целом цвет ужасный. Эффект первого запуска отвратительный. С этим просто хочется что-то сделать, чтобы не травмировать психику студентам. Конечно, это повод пересадить их под убунту, но не такой ценой :)

[2015-07-08 08:30] aurusov commented on #81
И таки да, ползунок под семеркой выглядит намного лучше, бросаться править нет желания. Но в идеальном мире и он должен быть в теме process-bar'а.

[2015-07-11 12:17] LeKaitoW opened #84 "Ломается PlotView после экспорта"
Обновила ветку мастера до release/current. После экспорта при попытке закрыть эклипс отображается ошибка про PlotView, а эклипс не закрывается, пока не получит kill -9.

[2015-07-11 12:34] bogachev-pa opened #85 "Версии rao"
@aurusov
В `MANIFEST.MF` (вот [здесь](https://github.com/aurusov/rdo-xtext/blob/release/current/ru.bmstu.rk9.rao.ui/META-INF/MANIFEST.MF#L5)) указывается версия плагина. Я думаю, надо обновлять их в соответствии с нашими релизами.
Рекоммендации по ведению версий плагина можно найти здесь: https://wiki.eclipse.org/Version_Numbering. Они, в принципе, совпадают с правилами, которым следуем мы в нашей

[2015-07-11 13:00] bogachev-pa commented on #84
У меня такое тоже было, но теперь не могу воспроизвести.

[2015-07-11 16:48] aurusov commented on #84
- Удали все папки `*.rdo.*` из исходников
- Удали папку `runtime-EclipseXtext`

[2015-07-11 16:49] aurusov commented on #84
Помогло ?

[2015-07-11 16:52] aurusov commented on #85
Да, допиши прям в `release/current`.

[2015-07-12 07:12] bogachev-pa opened #87 "NullPointerException при двойном клике по дереву сериализованных объектов"
Происходит в том случае, если листовая вершина не содержит индекса:
![npe](https://cloud.githubusercontent.com/assets/6528492/8636817/d3930f2a-287d-11e5-8da6-e54cec778b4a.png)

Причина в том, что в методе [`isEnabled()`](https://github.com/aurusov/rdo-xtext/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/graph/GraphView.java#L20) класса `GraphView` нет проверки на `index == null`.

[2015-07-12 09:27] aurusov commented on #87
- Пусть будет
- Проверки должны стоять на уровень выше, перед
  - https://github.com/aurusov/rdo-xtext/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/serialization/SerializedObjectsView.java#L67
  - https://github.com/aurusov/rdo-xtext/blob/release/current/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/serialization/SerializedObjectsView.java#L76

[2015-07-12 15:38] bogachev-pa commented on #85
Дописал.

[2015-07-12 15:38] #85 closed, assigned to nobody

[2015-07-12 16:55] aurusov commented on #85
Не вижу ссылки на коммит

[2015-07-12 18:13] aurusov opened #92 "Не запускается release/current"
Под виндой.

![2015-07-12 21-12-33 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8639190/ce80cf56-28da-11e5-8a05-966e7f157e4b.png)

[code]

[2015-07-12 18:32] aurusov commented on #92
Ты поменял ключевые слова для собираемых показателей ? Не могу найти в каком коммите. Если да, то покажи где и измени примеры моделей.

[2015-07-12 18:33] aurusov commented on #92
Или наоборот, ты забыл подлить эти изменения ?

[2015-07-12 18:35] aurusov commented on #92
Нашел https://github.com/bogachev-pa/rdo-xtext/commit/769b81a76c9b2de6213132271be220b76a99f085.

[2015-07-12 19:07] aurusov commented on #92
Выпустил релиз 2.1.1, проблема ушла.

[2015-07-12 19:07] #92 closed, assigned to nobody

[2015-07-12 19:09] aurusov opened #93 "Странная расцветка чисел"
Сейчас
- целые числа почему-то серым
- вещественные черным

Хочется их сделать одним цветом, например, черным, как в жабе эклипса.

![2015-07-12 22-07-45 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8639428/78f99894-28e2-11e5-971c-1adc796cd704.png)

[2015-07-12 19:10] aurusov commented on #93
@bogachev-pa
Паша, тебе известна история вопроса ?

[2015-07-12 20:18] bogachev-pa commented on #92
Если вкратце, но коммит с выбрасывание исключений вместо возврата `null` вскрывал проблему более явно (раньше просто пропадали записи в трассировках и, наверное, не строились бы графики) и совсем крашил прогон.
Багфикс был в ветке `2.1`, все правильно.

Видимо, такие багфиксы надо заливать сразу, но я что-то запутался в гитфлоу как раз на нем.

[2015-07-12 20:24] bogachev-pa commented on #85
https://github.com/aurusov/rdo-xtext/commit/2500e99e3d78ddc7274ddcabe1105c8ae2424bcb

[2015-07-12 20:29] bogachev-pa commented on #93
Нет, не известна. Надо разбираться.

[2015-07-12 21:16] aurusov commented on #92
Как я понял, это вылезло из-за изменений в рефакторинге. Мне кажется, что исправлять это место было там же, а не в отдельной ветке.

[2015-07-12 21:27] bogachev-pa commented on #92
Изменения в грамматике привели к этой ошибке, а рефакторинг с эксепшенами ее вскрыл. Почему-то я сразу не заметил, когда рефакторил эксепшены, и в итоге уже замержил их в релиз/карент. Потому и создал ветку отдельно.

[2015-07-14 12:33] aurusov opened #95 "Заменить регулятор скорости на Scale"
Сейчас используется неподходящий объект. Надо использовать http://help.eclipse.org/juno/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fapi%2Forg%2Feclipse%2Fswt%2Fwidgets%2FScale.html
Пример использования http://www.java2s.com/Tutorial/Java/0280__SWT/ScalesetPageIncrement.htm

Как в старом РДО
![progon_speed](https://cloud.githubusercontent.com/assets/5585202/8673976/90278564-2a43-1

[2015-07-14 21:21] aurusov commented on #95
`Scale` не умеет быть мелким, выглядит отвратно, так
![2015-07-15 00-03-13 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8685429/3b6d6806-2a87-11e5-825c-e182aad79571.png)
или так
![2015-07-15 00-20-43 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8685454/5b0bc5b8-2a87-11e5-9c0d-2464299dd75e.png)

[2015-07-14 21:22] aurusov commented on #95
Попробовал `Slider`, тоже не то
![2015-07-15 00-19-09 rao - barber barber rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/8685484/92e4fed2-2a87-11e5-9a9f-fa224fe9997d.png)

[2015-07-14 21:23] #95 closed, assigned to aurusov

[2015-07-19 16:08] #87 closed, assigned to nobody

[2015-07-19 16:09] aurusov commented on #81
Решено тут https://github.com/aurusov/rdo-xtext/pull/96

[2015-07-19 16:09] #81 closed, assigned to aurusov

[2015-07-25 13:01] aurusov opened #100 "Рефакторинг Database"
- Очень большой класс. Хочется вынести сущености в отдельные классы.
- Будет ли хуче читаться, если `DbIndexHelper` -> `IndexHelper` ? Надо посмотреть места использования и есть ли уже такой класс.

[2015-07-25 13:15] aurusov opened #101 "Неверное время моделирования"
В трассировке и на графиках верное, модель https://github.com/aurusov/rdo-xtext-models/blob/master/models/barber_clients.rao

[code]

В `Status View` - нет.

Как повторить
- изменить условия окончания на `currentTime >= 7 * 12 * 6`
- сохранить модель
- запустить модель
- изменить условия окончания на `currentTime >= 7 * 12 * 60`
- запустить модель (без сохранения)
- сохранить модель
- запустить мо

[2015-07-25 13:20] aurusov opened #102 "Сохранять модель перед запуском"

[2015-07-25 13:21] aurusov commented on #101
Кажется, что это должно полечиться после #102, но хочется понять причину. Может быть есть отдельная ошибка.

[2015-07-26 08:15] aurusov opened #103 "Смена разрешения экрана и графы"
Графы не должны пережить смену разрешения монитора в опреционной системе из-за константы `GraphControl.monitorBounds`, которая инициализируется только один раз.

[2015-07-26 08:18] aurusov commented on #103
Достаточно пересоздать окно графа через gui. Поэтому закрываю.

[2015-07-26 08:18] #103 closed, assigned to nobody

[2015-07-29 19:00] bogachev-pa commented on #17
Собственно, было решено в ходе рефакторинга нотификаций вот этим https://github.com/aurusov/rdo-xtext/commit/dd266128622d83f77ef7ff1267f48a76659cc864 коммитом.

Я как-то не сообразил, что из-за этого нотификации надо было, наверное, мержить как фичу, а не как рефакторинг. Так или иначе, я их уже замержил, ну а эта задача решена.

[2015-07-29 19:00] #17 closed, assigned to nobody

[2015-07-29 19:02] bogachev-pa commented on #8
Кажется, таска потеряла смысл.

[2015-07-29 19:03] bogachev-pa commented on #23
Таска потеряла смысл, валидация выражений будет решаться средствами `xbase`.

[2015-07-29 19:03] #23 closed, assigned to nobody

[2015-07-29 19:05] bogachev-pa commented on #42
Непонятно, о чем это.

@aurusov , @k-alexandrovsky
Пока еще не все забылось, напишите, о чем тут речь.

[2015-07-29 19:06] bogachev-pa commented on #43
Как и в таске про енумы, непонятно, о чем речь. Нужно краткое описание. По ссылке все поехало.

[2015-07-30 07:25] k-alexandrovsky commented on #42
Это вроде закрыто уже. У симулятора `run()` же больше не вываливается с волшебными константами?

[2015-07-30 09:09] aurusov commented on #8
Нет. Это изменения для старого РДО. Если этого не сделать в старом, в то в новом нельзя будет написать конвертер из старого синтаксиса в новый.

[2015-07-30 09:11] aurusov commented on #43
@bogachev-pa
https://github.com/k-alexandrovsky/k-alexandrovsky.github.io/issues/1#issuecomment-113613594
https://github.com/k-alexandrovsky/k-alexandrovsky.github.io/issues/1#issuecomment-113627685

[2015-07-30 09:12] aurusov commented on #43
@k-alexandrovsky
Кирилл, напомни: ты исправил код, когда делал дисты ?

[2015-07-30 09:14] aurusov commented on #42
Кирилл, проверь это место. Если кто последний и правил, то это ты imho.

[2015-07-30 13:33] k-alexandrovsky commented on #42
Ничего не исправил, оказывается. Но пока руки не доходят.

[2015-07-30 13:36] k-alexandrovsky commented on #43
Видимо, у себя в локальном репозитории, который убил после того, как был переезд. Решил, что вряд ли там были сильно важные изменения. Сейчас вот вспоминаю, что были.

[2015-07-30 13:39] k-alexandrovsky commented on #8
Старое РДО не собиралось в релизе на винде (вроде как именно в такой комбинации). В общем, была какая то одна сборка, которая мешала замержиться там и закрыть эту таску. Пулл-реквест все еще висит:
https://github.com/aurusov/rdo_studio/pull/23

[2015-07-30 13:50] aurusov commented on #43
Фигово. Ты можешь восставновить/воспроизвести код ? Если нет, то опиши задачу нормальными словами вместо ссылки.

[2015-07-30 13:53] aurusov commented on #8
Уже увидел непонятное место, отписался там. Надо смотреть пул-реквест. Неработающую сборку надо дебажить, но никто этого не делал. Кирилл ?

[2015-07-30 14:24] k-alexandrovsky commented on #8
Непонятная сборка падала у меня, у Лехи, на нее было потрачено как минимум несколько десятков часов разными людьми в сумме. Повторить у себя на компьютерах никому не удавалось.
Насколько я помню, там просто консольное РДО на какой то модели виснет в конвертере.

[2015-07-30 14:45] aurusov commented on #8
И, если не путаю, то и мной тоже. Но ошибка никуда не ушла. Предлагаю вспомнить проблему. Кажется, что не проходил конвертор конкретной модели ? Надо поднять у себя подобную сборку и подебажить. Или добавить кучу логов и запускать на сервере.

[2015-07-30 14:45] aurusov commented on #8
Изменения в конвертере были довольно большие.

[2015-07-30 14:55] k-alexandrovsky commented on #8
В прошлый раз уже решили, что надо брать радмин, и дебажить прямо там. Не знаю, возможно ли это сейчас и в каком состоянии и качестве сейчас сервер.

[2015-08-08 19:27] LeKaitoW opened #107 "Заполнение дерева сериализуемых объектов"
После обновления кнопки прогона модели (точнее, ее disable/enable), в плагине пятнашек могла бы отпасть необходимость в кнопке Simulation, если бы не проблема в окошке Monitoring configuration:
![screenshot from 2015-08-08 22 23 51](https://cloud.githubusercontent.com/assets/10632455/9151858/400588dc-3e1c-11e5-9540-a547b46da72e.png)
Окошко пустое, поэтому для трассировки необходимо открыть эдитор

[2015-08-08 19:37] bogachev-pa commented on #107
1. Галочка по умолчанию не решит проблему, потому что нужно сначала сформировать дерево объектов, которые можно сериализовать. Пока он формируется при открытии эдитора (плюс регистрируется листенер на изменения в эдиторе).
   Тем не менее, я думаю, галочку по умолчанию действительно стоит сделать проставленной - просто для удобства.
2. Что касается решения проблемы, кажется, правильнее всего запол

[2015-08-09 08:31] aurusov commented on #107
2 Поддерживаю. Если этот код будет заточен на плагин, то и разместить его надо в исходниках плагина.

[2015-08-09 08:49] LeKaitoW commented on #107
2 Но ведь этот код не должен быть заточен на плагин (хотя для плагина эта возможность важна).
Если в проекте 3 файла `.rao`, которые описывают одну модель, то в дерево попадут объекты не всех трех файлов, а только одного, который открыт на данный момент.

[2015-08-09 08:57] aurusov commented on #107
2 Должен, и только под плагин. Не вижу аргументов, почему это должно стать для РДО режимом по умолчанию. Такого никогда не было, даже в старом. Наоборот, модель будет тупить.

[2015-08-09 09:19] bogachev-pa commented on #107
Здесь два принципиально разных момента. Проставление галочек и формирование дерева. Оба независимы от плагина (давайте его пока не рассматривать вообще), но их важно не путать.

1**.** Режим по умолчанию с галочками или без.

Доводы за галочки:
- позволит избавить пользователя от лишнего клика на простых моделях

Доводы против:
- заставит пользователя делать лишний клик на больших моделях, причем

[2015-08-09 09:20] aurusov commented on #101
Только что создал [модель](https://github.com/aurusov/rdo-xtext-models/blob/master/models/barber_simple.rao) с нуля, запустил, получил
![2015-08-09 12 10 01](https://cloud.githubusercontent.com/assets/5585202/9154276/a0ca2164-3e8f-11e5-852e-1c0aefeef7ef.png)

[2015-08-09 09:23] aurusov commented on #107
Ну да же. Мне нечего дополнить. Про певрое не говорил, потому что ты на него ответил полно. Не понимаю, зачем так долго это обсуждать.

[2015-08-10 19:00] bogachev-pa commented on #107
Сделал. Подход такой:
Как только открывается новый эдитор, проверяем, в каком он находится проекте, и заносим его в мапу `<IProject, Set<IEditorPart>>` (т.е. с каждым проектом связано произвольное число эдиторов). Далее проходимся по проекту, ищем в нем все файлы `.rao` и добавляем их все в дерево, по пути занося в мапу `<IResource, SerializationNode>` (естественно, если кто в мапе уже присутствуе

[2015-08-10 20:08] bogachev-pa commented on #107
Также добавил в сериализейшн конфиг вью простое апи - `checkAll()` и `uncheckAll()`.

[2015-08-11 00:30] bogachev-pa commented on #107
Исправил все это. Теперь даже если менять содержимое неоткрытых файлов программно (здесь ограничение эклипса - либо через апи ресурсов, либо синхронизировать воркспейс после изменений), эти изменения подтягиваются в дерево.

[2015-08-11 08:46] bogachev-pa commented on #102
Замержено в ветку `feature/2.3`.

[2015-08-11 08:46] #102 closed, assigned to nobody

[2015-08-11 08:47] bogachev-pa commented on #101
Замержено в ветку `feature/2.3.`

[2015-08-11 08:47] #101 closed, assigned to bogachev-pa

[2015-08-14 11:19] aurusov commented on #107
Ты можешь резюмировать отставшиеся косяки ?

[2015-08-14 12:20] aurusov opened #111 "Неисправляемая ошибка"
Использовал вот эту версию РДО ebe40fbbe7f8fe309b07f5cfe4eebd4e36cd6339 (на момент написания таски - это `release/current`)

Создаём модель

[code]

Запускаем. Модель отрабатывает с причиной `no more events`. Пока все хорошо. Меняем модель
`BarberState barberState = BarberState.free2;`
Сохраняем, запускаем, получаем ошибку. Пока все хорошо (сама ошибка полный отстой, ничего не понятно, надо смотре

[2015-08-14 12:21] aurusov commented on #111
Возможно, причина в этом

[code]

[2015-08-14 15:18] bogachev-pa commented on #107
Заметил только один - если проект удалить целиком, содержимое его файлов из дерева не исчезнет. Пока еще разбираюсь, как лучше исправить.

[2015-08-14 20:11] bogachev-pa commented on #111
Уже исправлено в ветке `2.3`.
Некорректно очищались подписки в случае ошибок прогона. Лечилось перезапуском плагина.

[2015-08-14 20:11] #111 closed, assigned to bogachev-pa

[2015-08-15 14:03] aurusov opened #112 "Watch-dog для GC"
Запуск вот такой модели приводит к вечному циклу

[code]

Это нормально. Модель отлично отстанавливается по команде `Model/Stop`. Но если включить мониторинг, то среда зависает. На остановку не реагирует.

Предлагается добавить [watch-dog](https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D0%BE%D1%80%D0%BE%D0%B6%D0%B5%D0%B2%D0%BE%D0%B9_%D1%82%D0%B0%D0%B9%D0%BC%D0%B5%D1%80) для `GC`. При достижении неких

[2015-08-15 14:25] aurusov opened #113 "Последовательность не компилируется"
Модель не компилируется

[code]

[2015-08-15 18:59] aurusov opened #115 "Не обновляется src-gen"
После переименования элементов модели, например, последовательности, в папке `src-gen` остаётся исходник для старого названия.

[2015-08-15 19:03] aurusov opened #116 "Нельзя создать пустое событие"
Вот это не компилируется

[code]

с сообщением

[code]

[2015-08-16 09:36] bogachev-pa commented on #112
Конечно, зависает. Мы в бесконечном цикле добавляем записи о совершении события в базу данных и очень скоро у нас кончается память. Попробуйте запустить в режиме `normal speed` - все будет ок.

[2015-08-16 11:06] bogachev-pa commented on #116
Да, пустые события грамматикой запрещались. Хотя, действительно, почему бы и нет, так что я разрешил (пока локально) везде пустые наборы стейтментов.

Выглядеть это будет, например, так:

[code]

Теперь возникло несколько вопросов:
1. Можно ли разрешать паттерну жить без релевантных ресурсов? Если да, то какое ожидается поведение - всегда может выполниться?
2. Можно ли разрешать паттерну вообще не

[2015-08-16 12:18] aurusov commented on #112
Это в корне неправильное понимание работы любой IDE. Запущенный из неё процесс может быть прибит в любое время. А у нас запущенный процесс прибивает IDE. Может приведешь аналоги, которые ведут себя так же ?

[2015-08-16 12:28] bogachev-pa commented on #112
В таком случае неправильное понимание работы `IDE` не у меня, а у разработчиков `eclipse` - потому что я могу руками написать такой код на джаве и `eclipse` зависнет. Своей `IDE`-то у нас нет теперь.

Конечно, ничто не мешает нам не ровняться на эклипс и попытаться своими силами эту проблему для нашего случая решить. У вас есть идеи? Мне пока приходила в голову только идея свопа бд, но она не реша

[2015-08-16 12:43] aurusov commented on #116
1. Холиварная даже для меня тема. Ну пусть будет без релевантных. Всегда выполнять. Тут есть нюансы независимо от рел. ресурсов. Старое РДО проверяло не только условие запуска, но и изменится ли состояние системы после выполнения. Если не изменится, то паттерн не запускался.
2. Да. Да.

[2015-08-16 12:51] aurusov commented on #112
Всё она умеет

[code]

`Console/Terminate` (красная кнопка в окне консоли)

Даже если бы Эклипс не умел, то пользователю мы предлагаем IDE. Все остальное - наши проблемы.

Идеи
- Мы точно умеем останавливать бесконечный цикл. УМЕЕМ, Карл. Не теряй эту мысль.
- Надо понять почему в случае БД такое происходит. Если это из-за `GC`, то надо научиться
  - Перехватывать его сообщения о проблемах и стопи

[2015-08-16 18:00] bogachev-pa commented on #112
Бесконечный цикл тут ни при чем. Умирает `gc` из-за слишком большого количества объектов в памяти. Точно такое же поведение вы можете наблюдать, если запустите обычную модель на очень большое время, включив сериализацию. Если заглянете во время этого "зависания" в родительский эклипс, то сможете увидеть (возможно, через какое-то время) сообщения в `stderr` в духе `OutOfMemoryError: GC overhead lim

[2015-08-16 19:07] aurusov commented on #112
Да, опечатался.

[2015-08-16 19:19] aurusov opened #117 "Последовательности типа yield"
Сейчас у нас есть перечислимая последовательность

[code]

Хочется перейти на более общее решение:
- массивы
- yield

Пример на питоне

[code]

На РДО может выглядеть так

[code]

Для простоты можно оставить и старый вариант, но делать кодо-генерацию в более общий.

[2015-08-16 19:23] aurusov opened #118 "Добавить запятые в enumerative sequence"
Сейчас

[code]

Хочется

[code]

[2015-08-17 20:05] bogachev-pa commented on #107
Все починил, а также убрал апдейты и поиски файлов, когда это не нужно.
Теперь в дереве у нас отображаются все `rao`-файлы всех открытых проектов.

[2015-08-18 18:58] bogachev-pa opened #120 "Полноценное логирование (с уровнями и стеком)"
Начало обсуждения тут: https://github.com/aurusov/rdo-xtext/pull/110#discussion_r37145644

[2015-08-18 19:11] bogachev-pa commented on #120
Вопросы:
1. Для чего будет применяться логирование? Для внутренних ошибок / в качестве дебага / для вывода конечному пользователю?
2. Нужны ли нам либы (`log4j` или `slf4j`) или достаточно `java.util.logging`? Вопрос пока риторический, надо погуглить.

[2015-08-18 19:43] aurusov commented on #120
1.
- Читаемость. По сообщению должно быть понятно что произошло. Помимо стека нужно описание ошибки. Стек вообще вторичен. Если сообщение уникально, то место ищется в исходниках. Стек скорее нужен как контекст. Если нужен - пусть будет. Если нет - не надо его в лог пихать. Можно выводить имя файла и номер строки, но не обязательно. Т.е. главное читаемость логов, а не их объем. Пусть будут меньше,

[2015-08-18 20:41] bogachev-pa commented on #116
Основное сделал, осталось вот это:

[2015-08-18 21:10] aurusov opened #122 "Прокачать рулы"
В старом РДО условие запуска `rule`'а было сложным
- сначала проверялось условие из `choice from`
- если оно выполняется, то
  - создается клон симулятора (делается бекап базы)
  - на клоне запускается событие
  - симулятор [проверяется](https://github.com/aurusov/rdo_studio/blob/dev/simulator/runtime/rdo_rule.cpp#L97) с клоном
  - если разницы нет, то `rule` не запускается

Такая схема позволяла

[2015-08-18 21:10] aurusov commented on #116
https://github.com/aurusov/rdo-xtext/issues/122

[2015-08-19 12:15] bogachev-pa opened #123 "Собираемые показатели"
@aurusov, @LeKaitoW, @k-alexandrovsky

Из таски про документацию:

Вкратце мое мнение по поводу текущих собираемых показателях по отдельности:
1. `getValue()`. Ок.
2. `watchState()`. Ок.
3. `watchQuant()`. В основном ок, но вместо передачи `any` вторым параметром стоит сделать просто вызов без второго параметра вообще. А еще, наверное, надо переименовать в `watchQuantity()`.
4. `watchValue()`. Цит

[2015-08-19 12:48] bogachev-pa opened #124 "Синтаксис функций"
@aurusov, @LeKaitoW, @k-alexandrovsky

Пока писал страничку документации по функциям, возникли некоторые мысли по поводу функций типа `list` и `table`. Когда я переделывал грамматику рдо, их внутренний синтаксис я не менял. В итоге:

1**.** `list`
Из старой справки:

Выглядит сейчас вот так:

[code]

Смысл, я думаю, понятен.

Вот еще магия из старой справки:

Надо бы проверить, как это вообще рабо

[2015-08-19 13:01] k-alexandrovsky commented on #123
Да тут уже все есть и даже работает

[code]

В итоге выходит, что требуется два типа - для сбора статистики (можно назвать `continuous`), и единичный, который "выстреливает" лишь один раз (`singular`, как вариант).
Задача каждого результата - просто добавить число в последовательность. Это можно сделать по условию, либо безусловно. То же самое для единичных - по условию или без (без условия будет

[2015-08-19 13:10] k-alexandrovsky commented on #123
Что нибудь такое

[code]

Отлавливать моменты удаления через ручные (`manual`) результаты. Просто в конвертерах им кидать объекты. Либо придумать систему подписок на подобное, чтобы в десяти удаляющих паттернах не пришлось копипастить вызов. Но это еще запилить надо.

[2015-08-19 13:21] aurusov commented on #124
Список и таблица - не взаимозаменяемы. Список может иметь пропуски, таблица - нет.
1. `list`. Придумаывать `mswitch` не стоит. Он сводится к обыкновенному свичу над [tuple](http://en.cppreference.com/w/cpp/utility/tuple)

[code]

Можно свести к контейнеру

[code]
1. `table`. Табличная функция - это по сути многомерная матрица, доступная по чтению.

[code]

Ну или вложенный массив

[code]

[2015-08-19 13:26] aurusov commented on #123
Просто в виде наброса, чтобы понять разницу между данными и алгоритмом. Можно к показателям отнестись как пустым контейрам, в которые из любого места модели дописываются данные. Тип контейнера определяет, какой математический расчет (алгоритм) над добавляемыми данными выполняется. Но придется выискивать все места в модели, из которых надо дергать добавление - это неудобно.

[2015-08-19 13:32] aurusov commented on #123
В старом РДО можно
- Объеденять показатели в группы
- У каждой группы есть команды [запуска/остановки](https://github.com/aurusov/rdo_studio/blob/master/simulator/runtime/result/result_group_i.h#L12) наблюдения. Они дергаются из паттернов.

[2015-08-19 13:47] aurusov commented on #123
Переименовать - да.

Переименовать можно. В момент удаления, потому что
- Надо же задать в какой момент собирать данные ? Если не в момент удаления, то надо вводить еще одно условие (или дописыать в текущее через `and`). Т.е. не надо делать вид, что его нет. Иначе подсчитаем непонятно что.
- В момент удаления, потому что параметры уже больше не поменяются. М.б. не гибко, но вполне логично.

Можно.

[2015-08-19 17:10] bogachev-pa commented on #123
@aurusov

В смысле их может включать/выключать пользователь кодом на РДО?

Но мы же не задаем такое для `watchState()` или `watchParameter()`, например? Если я правильно понимаю, они пересчитываются при каждом изменении состояния системы. Почему нельзя делать так же для `watchValue`?

Здесь не очень понял. Мы рассчитываем произвольно арифметическое выражение, ну не поменяются уже параметры одного

[2015-08-19 17:19] bogachev-pa commented on #124
Точно, упустил это. Точнее будет сказать, `table` - частный случай `list` (в терминах РДО).
1. Мне нравится `switch(tuple())`. Боюсь, правда, с джава-подобным синтаксисом придется все в явном виде параметризовать, но посмотрим.
2. Кажется, таблицы должны иметь смысл только для енумов. Рэнжед инты мне очень не нравятся как концепция, а как-то понимать, какие значения вообще подразумеваются для табл

[2015-08-19 18:05] aurusov commented on #124
Времени осталось мало. Я бы не стал распыляться и закончил текущие задачи.

[2015-08-19 18:11] aurusov commented on #123
Да

Потому что это не надо :) Этот показатель собирает данные только в момент удаления. Все остальные значения ему не нужны. Его нельзя рассматривать отдельно от этого предиката. Но предикат модно задать в явном виде (прямо сейчас нельзя). Про что и написано выше. Т.е. ему сейчас замены просто нет.

Кончено, делать так можно. Я сокрее говорю, что для обратной совместимости надо как-то вытащить уда

[2015-08-19 18:16] bogachev-pa commented on #123
Смущает вот это. Написано - `арифметического выражения`. А вы говорите, данные приходят из удаляемого ресурса. Но для произвольно арифметического выражения данные могут приходить из разных ресурсов, не только из удаляемого. Из ресурсов другого типа. Системные данные, да что угодно.

Предлагаю обсудить это в скайпе, я смогу примерно минут через 40.

[2015-08-19 18:17] aurusov commented on #123
Через 40 минут не смогу, еще не дома.

[2015-08-19 18:24] aurusov commented on #123
Теперь понял тебя. Это гибче, чем я писал. Главное, что это последняя возможность что-то спросить у ресурса перед удалением. Считаей, что только его параметры и константы могут использоваться в этом арифметическом выражении, например, `par1 + 2 * par2`. Но запрета на более сложное выражение тоже нет. Не вижу в этом проблемы. Главное тут тригер - удаление. Т.е. не надо лазить по паттернам и думать

[2015-08-19 22:26] aurusov commented on #123
Удаление - только через подписку. Иначе отчеты могут содержать ошибки из-за невниматеольности разработчика.

Сама идея с ручным набросом данных в собираемые показатели мне нравится.

[2015-08-19 22:33] aurusov commented on #123
Подход Кирилла мне тоже нравится. Давай те придумаем еще пары `continuous`/`singular`. Может `dataset`/`value` ?

[2015-08-20 07:22] #113 closed, assigned to aurusov

[2015-08-27 09:26] bogachev-pa commented on #118
Уже в `release/current`, закрываю.

[2015-08-27 09:26] #118 closed, assigned to aurusov

[2015-08-27 09:27] bogachev-pa commented on #116
Под прокачку рулов таска отдельная, так что закрываю эту.

[2015-08-27 09:27] #116 closed, assigned to nobody

[2015-08-27 09:27] bogachev-pa commented on #107
Все сделано и замержено.

[2015-08-27 09:27] #107 closed, assigned to bogachev-pa

[2015-08-27 09:33] bogachev-pa commented on #49
Это сейчас работает?

[2015-08-29 17:17] aurusov commented on #49
Нет, я не подливал

[2015-08-30 13:55] bogachev-pa commented on #49
Что-то блокирует?

[2015-08-30 13:56] aurusov commented on #49
Свободное время

[2015-08-31 09:37] aurusov opened #130 "Сборка проекта через maven"
Цель - получить набор `*.jar` - файлов
Текущие подзадачи
- [x] Настроить открытие перспективы `Rao` (https://github.com/aurusov/rdo-xtext/issues/175)
- [x] Актуально для Убунты, возможно и для Мака. В корне архива лежит eclipse, который потерял флаг, что он запускаемый. Т.е. разархивировав, не смог его запустить.
- [x] Сравнил папки архива с исходным эклипсом. Не понял, почему поменялись конфиги и

[2015-08-31 09:40] aurusov opened #131 "Настроить автосборку"
Шаги
- [x] завести задачу на дженкинсе
- [x] выкачать исходники `rdo-xtext`
- [x] собрать исходники через maven (https://github.com/aurusov/rdo-xtext/issues/130)
- [x] ~~выкачать архив с Эклипсом (Eclipse IDE for Java and DSL Developers)~~
- [x] ~~разархивировать его~~
- [x] перенести бинарники rdo в папку с плагинами
- [x] заархивировать папку с Эклипсом
- [x] выложить в инет
- [x] настроить неск

[2015-08-31 09:50] aurusov opened #132 "Настроить юнит-тесты"
- добавить 1-2 фейковых `JUnit`-теста
- обернуть их сборку и запуск в maven

[2015-08-31 09:53] aurusov opened #133 "Настроить регрессионные тесты со старым РДО"
Они основаны на запуске моделей и проверки их результатов с эталонными. Для её решения существуют
- легаси генератор случайный чисел
- легаси трассировщик

Задача кажется минорной, потому что писать легаси код может быть сложнее, чем перевести модели руками и сравнить результаты моделирования руками.

[2015-08-31 11:20] aurusov opened #134 "Конвертер"
Из синтаксиса последней версии [RAO-studio](https://github.com/aurusov/rdo_studio) в новый синтаксис РДО.

[2015-08-31 20:00] aurusov commented on #130
У меня получилось скомпилять `rao.lib`, а `xtext` - нет. Свой опыт с grade'ом выложил тут
https://sites.google.com/site/raoxgradle/

[2015-08-31 20:01] aurusov commented on #130
Задача довольно срочная, прошу продолжить.

[2015-09-01 06:07] bogachev-pa opened #135 "Строить граф при клике на трассироку ресурсов при поиске по графу"
Клик на специальные записи об изменениях ресурсов (`SRK`, `SRE`, `SRC`) тоже должен приводить к построению графа.

[2015-09-01 18:36] bogachev-pa opened #136 "Внести изменения в грамматику"
Пока писал документацию накопился ряд замечаний к текущей грамматике, чтобы их не потерять, пишу здесь:
- [ ] Оформить отбор ресурсов по всем возможным комбинациям как метод:
  `relevantSet withMin(...);` -> `relevantSet.withMin(...);`
- [ ] Структурировать тело табличных и списочных функций (временное решение, про более координальное решение есть соответствующая таска). Вероятно, заключить числа

[2015-09-05 12:51] aurusov opened #138 "Невозможно запустить пятнашки после ошибки компиляции"
Если написать невалидную экристику, а потом её исправить, то запуск всеравно обламывается с исключением
`ru.bmstu.rk9.rao.lib.simulator.SimulatorException: Simulation is already initialized`

[2015-09-05 14:11] aurusov commented on #112
Предлагается добавить watch-dog для GC.

[2015-09-05 20:01] aurusov opened #139 "Стиль кода моделей"
Открыл модель `game5`, нажал `Ctrl+Shift+F`, получил
![2015-09-05 23 00 18](https://cloud.githubusercontent.com/assets/5585202/9701045/e7a8e10e-5421-11e5-9043-893c6e45bb2e.png)
Надо или настроить его или отключить.

**Подробнее**:

Настройка форматирования производится в методе `configureFormatting()` класса `/ru.bmstu.rk9.rao/src/ru/bmstu/rk9/rao/formatting/RaoFormatter.xtend`.

Пример того, как

[2015-09-06 17:59] aurusov commented on #8
Старое РДО починено.

[2015-09-10 09:35] bogachev-pa opened #145 "Починить анимацию"

[2015-09-10 09:36] bogachev-pa opened #146 "Добавить документацию по анимации"
Зависит от: https://github.com/aurusov/rdo-xtext/issues/145

[2015-09-12 11:51] aurusov opened #147 "Перенести форматирование Луны на Марс"
Попробовал применить стиль Луны на Марс и Неон. Файл стиля переносится без проблем, но результаты форматирования отличаются. В обоих случаях (Луна -> Марс и Луна -> Неон) результат одинаковый.
![2015-09-13 14 17 45](https://cloud.githubusercontent.com/assets/5585202/9836432/3bb7b346-5a22-11e5-867a-5ee5fd0950d8.png)

Т.е. даже собственный стиль не решит проблему, потому что у эклипса поменялась лог

[2015-09-12 11:55] aurusov opened #148 "Настроить автозакрытие тасок при закрытии пулреквеста"
Пока нашел только такое
https://github.com/blog/1506-closing-issues-via-pull-requests

У Стеша такое реализуется через триггеры
https://confluence.atlassian.com/jira/configuring-workflow-triggers-656539662.html

У Гитхаба есть API, через которое можно попробовать запилить задачу
- поймать [нотификацию](https://developer.github.com/v3/activity/events/types/#pullrequestevent) от пул-реквеста
- измен

[2015-09-12 13:05] #138 closed, assigned to bogachev-pa

[2015-09-12 13:08] #115 closed, assigned to nobody

[2015-09-12 13:11] aurusov opened #149 "Отображать информацию о графе в отдельном диалоговом окне"

[2015-09-12 18:01] aurusov opened #150 "Масштабирование графа"
Начало тут https://github.com/kstrizhov/rdo-xtext/issues/11

[2015-09-12 18:05] aurusov commented on #26
## Эклипс скачивается с нашего сайта как архив, уже с плагином
- Download Eclipse
- Run Eclipse
- `Window` > `Open Perspective` > `Other` > `Rao`

[2015-09-12 18:11] aurusov commented on #26
Оля, напиши инструкцию по двум последним пунктам
- Как импортировать существующую модель
- Как создать новую (на русском)

[2015-09-12 18:13] aurusov commented on #48
Закрываю, т.к. топик уже состоялся. Постарался вытащить самое важно и незаконченное в два других раздела
- [К первой лабе](https://github.com/aurusov/rdo-xtext/milestones/%D0%9A%20%D0%BF%D0%B5%D1%80%D0%B2%D0%BE%D0%B9%20%D0%BB%D0%B0%D0%B1%D0%B5)
- [Ко второй лабе](https://github.com/aurusov/rdo-xtext/milestones/%D0%9A%D0%BE%20%D0%B2%D1%82%D0%BE%D1%80%D0%BE%D0%B9%20%D0%BB%D0%B0%D0%B1%D0%B5)

[2015-09-12 18:13] #48 closed, assigned to nobody

[2015-09-12 18:19] aurusov commented on #43
@k-alexandrovsky
ping

[2015-09-12 18:20] aurusov commented on #42
@k-alexandrovsky
ping

[2015-09-12 18:21] bogachev-pa commented on #42
Не думаю, что имеет смысл пинговать кирилла, он ведь уже не работает на РДО. Предлагаю просто перевести эти две таски на меня.

[2015-09-12 18:22] aurusov commented on #13
@k-alexandrovsky
Не понимаю про что задача. Поясни.

[2015-09-12 18:23] #8 closed, assigned to nobody

[2015-09-12 18:24] aurusov commented on #42
Пингую, чтобы он задачу вспомнил, а не решил.

[2015-09-13 11:20] aurusov commented on #147
@bogachev-pa @LeKaitoW
Кто что думает ?

[2015-09-13 12:17] bogachev-pa commented on #147
Раз хорошего решения нет, то я готов смириться с длиной строк в 120 символов.
Давайте в субботу снова организованно проведем полное форматирование проекта.

[2015-09-13 12:20] LeKaitoW commented on #147
А меня и 120 символов устраивает. Удобно,что из коробки, хотя минусом является blame.

[2015-09-13 16:52] aurusov opened #153 "Выделить Graph API в отдельный интерфейс"
И научиться передавать его клиенту, плагину пятнашек.
Предистория https://github.com/aurusov/rdo-xtext/pull/151#issuecomment-139891131

[2015-09-13 17:05] aurusov opened #154 "Тонкий клиент"
Хочется научиться запускать модель через браузер. Как минимум
- отправить с клиента модель (или выбрать из фиксированного списка)
- пока идет прогон, наблюдать за статусом моделирования (работает/завершено)
- после прогона получить результаты

Следующий левел, с понижением приоритета
- пока идет прогон, менять режим моделирования и скорость
- добавить анимацию на клиенте
- добавить просмотр график

[2015-09-13 17:06] aurusov opened #155 "Разработать модель для первой лабы в новом синтаксисе"
Эту задачу блочит вот эта https://github.com/aurusov/rdo-xtext/issues/157

[2015-09-13 18:02] aurusov opened #156 "Точка с запятой после enum"
Перастало компилиться

[code]

Если убрать точку с запятой, то все ok

[2015-09-13 18:15] aurusov commented on #156
В документации точка с запятой есть. Чему верить ?

[2015-09-13 18:15] aurusov opened #157 "Ошибка запуска модели"
Итого, после обсуждений.
@bogachev-pa
Есть три ошибки:
1. Путаница с перфиксами имен - https://github.com/aurusov/rdo-xtext/issues/33
2. Удаление src-gen и bin ведет к падению - https://github.com/aurusov/rdo-xtext/pull/167
3. Текущая таска - я понял причину, сломались дефолтные параметры

Модель не содержит ошибок, но не запускается

[code]

[code]

[2015-09-13 18:17] aurusov commented on #157
Очень неудобно писать модель, когда IDE не говорит, почему ошибка :(
Не понимаю, как такое отдавать студентам :(

[2015-09-13 18:18] bogachev-pa commented on #157
Выглядит, как внутренняя ошибка. Посмотрю.

[2015-09-13 18:22] aurusov commented on #157
Проект и файл модели названы одинаково. М.б. в этом проблема.

![2015-09-13 21-21-38 rao - fms_laba fms_laba rao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/9838123/8b02946c-5a5d-11e5-8ccf-bb492d3ea426.png)

[2015-09-13 18:24] bogachev-pa commented on #157
Даже есть таска. https://github.com/aurusov/rdo-xtext/issues/33
Но я не ожидал таких фатальных последствий.

[2015-09-13 18:34] aurusov commented on #157
Переименовал `fms_laba.rao` -> `fms.rao`. Не помогло.

[2015-09-13 18:35] aurusov commented on #157
Тот же

[code]

[2015-09-13 18:39] aurusov commented on #157
Закрыл оба Эклипса, удалил папки `bin` и `src-gen`, перезапустил Эклипсы. Получил

[code]

[2015-09-13 18:47] bogachev-pa commented on #157
Если удалить обе папки все падало, да, это несвязанная ошибка, починится визардом.

[2015-09-13 18:55] aurusov commented on #157
1. Что с моделью делать-то ?
2. Если ошибки не связаны, то одну таску ты привел. Вторая есть или текущая сойдёт ?

[2015-09-13 19:00] bogachev-pa commented on #157
Есть три ошибки:
1. Путаница с перфиксами имен - привел таску.
2. Удаление src-gen и bin ведет к падению - решается, вероятно, визардом.
3. Эта проблема - я понял причину, сломались дефолтные параметры, можете пока отлаживать модель без них, я смотрю, где именно сломались.

Новые таски заводить не нужно.

[2015-09-13 19:38] bogachev-pa commented on #157
3**.** Починил.

[2015-09-13 20:03] bogachev-pa commented on #156
В документации неправильно написано, выходит.

В таком случае, как мы хотим сделать?
1. Обязательно без `;`. Так сейчас.
2. Обязательно с `;`. Не очень хочется, потому что типы их не имеют.
3. Ставить `;` опционально. Так в джаве. Давайте тоже так сделаем тогда?

[2015-09-13 20:19] LeKaitoW commented on #53
Что ещё стоит добавить:
- Выводить сообщение, если проект с таким именем уже существует
- Украшательства (см. скрины, явно не хватает заголовка окошка, надписей как в джава-визарде про `Create a Java Project` и `Enter a project name`, картинки-иконки туда же. Может, чем-то ещё пространство под шаблонами заполнить?)
  ![wizard](https://cloud.githubusercontent.com/assets/10632455/9838826/e8c6da30-5a

[2015-09-13 21:59] k-alexandrovsky commented on #53
А Project name == model name? Можно добавить галочку "specify model name", под ней будет текстбокс с возможностью поменять имя. При отжатой галочке текстбокс будет задизейблен, а в нем будет имя проекта. Если уж говорить об украшательствах и заполнении пустоты в визарде.

[2015-09-13 22:13] k-alexandrovsky commented on #13
не хватало всяких watch_quant, watch_value. сейчас вроде есть уже все. это скорее к @bogachev-pa вопрос

[2015-09-13 22:30] LeKaitoW commented on #53
Сейчас пока тупо к введенному имени добавляется "_project". :(

[2015-09-13 22:32] k-alexandrovsky commented on #53
Интересно. Но благо в эклипсе все можно переименовать потом. Вопрос, будет ли пользователь обижен до глубины души таким поведением :)

[2015-09-14 05:20] bogachev-pa commented on #53
Можно было бы назвать их одинаково, но это лучше делать после того, как я исправлю https://github.com/aurusov/rdo-xtext/issues/33.

[2015-09-14 05:22] bogachev-pa commented on #13
Все виды сбора статистики из старого РДО уже реализованы.

[2015-09-14 05:22] #13 closed, assigned to nobody

[2015-09-14 06:34] aurusov commented on #53
Оля, обновил шапку. Лучше там обновлять итого, чтобы не искать потом в таске.

[2015-09-14 06:37] aurusov opened #161 "Динамический визард моделей"
Хочется к исходникам модели подкладывать файл, понятный визарду. Там может жить
- краткое описание, которое и так есть у визарда для выбора модели
- полное описание, которое может появляться при жмаке на модель
- набор произвольных картинок или скриншов анимации, которые могут появляться при жмаке на модель
- возможность задания имени модели, отличного от имени проекта, https://github.com/aurusov/

[2015-09-14 06:39] aurusov commented on #53
Мой ответ на вопрос про украшательства тут https://github.com/aurusov/rdo-xtext/issues/161
Но это не сейчас.

[2015-09-14 06:45] aurusov opened #162 "Отображать информацию о вершине в пятнашках"
Сейчас появилось отдельное окошко. Его надо доработать
- Статистику по графу ([левая часть](https://github.com/aurusov/rdo-xtext/pull/152#issuecomment-139915116)) вынести в отдельное окно или научиться скрывать. Если второе, то по умолчанию должно быть скрыто.

[2015-09-14 06:47] aurusov opened #163 "Граф по центру"
Граф размещается у левого края, а не по центру, если он умещается на экран целиком. [Пример](https://github.com/aurusov/rdo-xtext/pull/152#issuecomment-139915116).

[2015-09-14 06:48] bogachev-pa commented on #162
В основном РДО этого быть не должно, а для плагина уже есть отдельная таска (https://github.com/LeKaitoW/rdo-game5/issues/8).

Когда будет время, хочу сделать из этого красивую таблицу, в которой в том числе можно будет скрывать информацию по графу/вершине.

[2015-09-14 06:55] aurusov commented on #162
Да, таска есть. Неудобно, что часть тасок там, часть [тут](https://github.com/aurusov/rdo-xtext/milestones/%D0%9A%D0%BE%20%D0%B2%D1%82%D0%BE%D1%80%D0%BE%D0%B9%20%D0%BB%D0%B0%D0%B1%D0%B5). Прям хоть дубли со ссылками заводи.

Насчет таблицы не понял.

[2015-09-14 06:57] aurusov commented on #162
Обновил шапку

[2015-09-14 07:05] aurusov opened #164 "Распилить большие классы графа"
Пилить по комментариям типа
https://github.com/aurusov/rdo-xtext/blob/master/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/graph/GraphView.java#L83
https://github.com/aurusov/rdo-xtext/blob/master/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/graph/GraphView.java#L275
https://github.com/aurusov/rdo-xtext/blob/master/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/graph/GraphView.java#L409
и т.д.

Что-то м

[2015-09-14 07:08] aurusov commented on #156
Пусть будет без `;`. Обновлю документацию.

[2015-09-14 07:24] aurusov commented on #53
Еще раз обновил шапку

[2015-09-14 07:26] bogachev-pa opened #165 "Улучшить алгоритм zoom-to-fit графа"
Предистория [тут](https://github.com/aurusov/rdo-xtext/pull/152#issuecomment-139915116).

Предполагается такой алгоритм: вычисляем максмимальный размер ноды, чтобы уместить по высоте, затем вычисляем максимальный размер ноды, чтобы уместить по ширине, и берем меньший из них.

Вычисление максимального размера для умещения графа по высоте уже есть. Производится через максимальную глубину графа.

С в

[2015-09-14 07:38] bogachev-pa commented on #162
Насчет таблицы тогда попробую сделать сначала и потом отпишу.

[2015-09-14 08:51] aurusov commented on #165
Т.е. задача сводится именно к zoom-to-fit. А уже потом можно шлифануть zoom-to-height до полной картины. Про это и было замечание.

[2015-09-14 10:14] LeKaitoW commented on #161
Поддержу Кирилла, https://github.com/aurusov/rdo-xtext/issues/53#issuecomment-139922043 стоит добавить после закрытия таски #33.
(Раз уж это таска про "украшательства на потом".)

[2015-09-14 10:22] aurusov commented on #161
Тогда впиши это в шапку

[2015-09-14 10:26] LeKaitoW commented on #161
Вписала.

[2015-09-14 10:54] bogachev-pa commented on #149
Пул-реквест замержен: https://github.com/aurusov/rdo-xtext/pull/152

[2015-09-14 10:54] #149 closed, assigned to bogachev-pa

[2015-09-14 10:54] bogachev-pa commented on #150
Пул-реквест замержен: https://github.com/aurusov/rdo-xtext/pull/152

[2015-09-14 10:54] #150 closed, assigned to bogachev-pa

[2015-09-14 19:45] #156 closed, assigned to aurusov

[2015-09-14 21:21] aurusov opened #166 "Режим отладки"
Хочется добавить
- пошаговое выполнение
- точки останова
- просмотр переменных текущего контекста
  - локальные переменные текущего паттерна или функции
  - релевантные ресурсы текущего паттерна
- просмотр стека от текущего контекста до паттерна
- просмотр базы данных модели
- просмотр базы знаний модели

[2015-09-15 08:27] bogachev-pa commented on #157
2**.** Тоже починил.

Остался пункт 1 - под него есть отдельная таска.

[2015-09-15 08:30] bogachev-pa commented on #53
Проблема была в модел билдере. https://github.com/aurusov/rdo-xtext/pull/167

[2015-09-15 11:25] aurusov commented on #53
Проверил ?

[2015-09-15 11:26] aurusov commented on #53
Разве это исправлено ?

[2015-09-15 11:27] LeKaitoW commented on #53
Да, я ночью делала коммиты. :(

[2015-09-15 11:43] aurusov commented on #26
@LeKaitoW
Пингую, посмотри пред. сообщение.

[2015-09-15 11:45] aurusov commented on #53
Если Паша проверил, то надо ставить пул-реквест.

[2015-09-15 12:35] bogachev-pa commented on #53
Вечером еще проверю, что нет конфликтов с визардом, но, по идее, с новым подходом не должно быть.

Edit: после исправлений в моем пул-реквесте все ок.

[2015-09-15 17:11] bogachev-pa commented on #53
Еще момент: вероятно, надо добавить визард в `exported packages`.

[2015-09-15 22:24] bogachev-pa commented on #157
2**.** Зачинил окончательно. (:

[2015-09-16 11:40] LeKaitoW commented on #53
Визард в экспорт добавила.

Обновила проверку на существование проекта, теперь точь-в-точь как в джава-проекте.
`enum ProjectWizardStatus` используется только для обработки ошибок при создании проекта.

Ставлю пулл-реквест.

[2015-09-16 11:58] LeKaitoW commented on #26
Имеется в виду копипаста из файла в файл? Или что?

[2015-09-16 13:22] aurusov commented on #26
Да. Но только думай пользователем, который открыл пустое РДО. Т.е. сначала надо создать модель, потом на гибхаб за моделью, потом копипаста.

Описания сильно отличаются, а был нужен только перевод. Надо
- или перевести весь раздел Running
- или почистить его, если он упростился после визарда

[2015-09-16 13:28] LeKaitoW commented on #26
Уже обновила ридми в ветке визарда.

[2015-09-16 13:31] aurusov commented on #53
Тогда надо поставить галку у

[2015-09-16 13:31] aurusov commented on #26
Увидел. Отличаются строчкой про перспективу.

[2015-09-16 13:34] LeKaitoW commented on #53
Поставила. :(

[2015-09-16 13:37] LeKaitoW commented on #26
Так вроде так и должно быть. Что-то исправить в этой инструкции нужно или нет?

[2015-09-16 13:39] aurusov commented on #53
Дело же не в клике, а в ответственности за него. Лучше бы сам Паша поставил. Или он тебе делегировал ? :)

[2015-09-16 13:40] aurusov commented on #26
Хорошо, можно без перспективы. Переношу в отдельное сообщение

[2015-09-16 13:40] LeKaitoW commented on #53
Я и надеялась, что он поставит, поэтому не ставила сама. :(
А перед пулл-реквестом спросила у него в контакте, проверял ли он.

[2015-09-16 13:40] aurusov commented on #26
## Создать новую
- `File` > `New` > `Project...` > `Rao` > `Rao Project` > `Next` > `Project name:`
  - ввести имя проекта
  - выбрать шаблон модели
- `Finish`

[2015-09-16 13:41] aurusov commented on #53
И что же он ответил ?

[2015-09-16 13:43] LeKaitoW commented on #53
Дословная цитата:

[2015-09-16 13:44] aurusov commented on #53
Разобрались, Паша крайний.

[2015-09-16 13:45] LeKaitoW commented on #53
Ураа.

[2015-09-16 17:42] #53 closed, assigned to LeKaitoW

[2015-09-16 17:43] #69 closed, assigned to nobody

[2015-09-16 17:52] LeKaitoW commented on #26
## Импортировать существующую модель
- `File` > `New` > `Project...` > `Rao` > `Rao Project` > `Next` > `Project name:`
  - ввести имя проекта
  - выбрать шаблон "Пустая модель"
- `Finish`
- Скопировать текст [модели](https://github.com/aurusov/rdo-xtext-models) в файл `*.rao`

[2015-09-16 18:25] aurusov commented on #26
Хорошо. Теперь подумаю как это оформить для студентов. Переключаю задачу на себя.

[2015-09-16 21:19] bogachev-pa commented on #157
Под пункт 1 есть отдельная задача, остальное замержено, закрываю.

[2015-09-16 21:19] #157 closed, assigned to bogachev-pa

[2015-09-17 12:12] aurusov opened #169 "Руководство пользователя по первой лабе"

[2015-09-19 12:39] #52 closed, assigned to LeKaitoW

[2015-09-19 13:46] aurusov opened #172 "Добавить в инструкцию сборки виндовый вариант"

[2015-09-19 13:58] aurusov commented on #147
Обсудили с Пашей. Решили после мержа [анимации](https://github.com/aurusov/rdo-xtext/issues/145) переформатировать под Неон.

[2015-09-19 13:59] aurusov opened #173 "Добавить валидатор на совпадение идентификаторов с именем модели"

[2015-09-20 07:45] aurusov opened #175 "Автоматическое открытие перспективы Rao"
При запуске Эклипса с РДО

[2015-09-20 07:51] aurusov opened #176 "Прореживание в графиках"
Создаем модель простейшей СМО через визард. Увеличиваем условие остановки по времени на два порядка: `return currentTime >= 7 * 12 * 6000;`. Пытаемся построить график длины очереди.

[2015-09-20 08:02] aurusov opened #177 "Удаление пробелов справа в момент записи модели"
И табуляцию туда же.

[2015-09-20 08:17] aurusov opened #178 "Подсветка ключевых слов"
- `init`
- `terminateCondition`
- `begin`
- `end`
- `duration`

в справке подсвечиваются, а в Эклипсе - нет. Надо свести к одну стилю. Хочется как в справке.

PS: М.б. есть и другие слова.

[2015-09-20 08:26] aurusov opened #179 "Добавить контекст для релевантных ресурсов"
Сейчас приходится писать так

[code]

Хочется так

[code]

[2015-09-20 14:59] aurusov commented on #155
Задача выполняется в другом месте, https://github.com/aurusov/rdo-xtext-models/issues/1

[2015-09-20 14:59] #155 closed, assigned to aurusov

[2015-09-21 06:17] bogachev-pa commented on #139
Я немного повозился с этим, в целом, все делается довольно просто, но есть некоторые тонкости, надо которыми надо подумать. Может быть неплохой задачей на практику новым студентам.

[2015-09-21 07:01] bogachev-pa commented on #173
@aurusov, @LeKaitoW
Добавил валидацию, но осталась такая проблема: что, если пользователь при выборе шаблона в визарде назовет модель так же, как назван один из элементов в модели? Получается, только что созданная визардом модель не будет валидной.

Мне пока приходит в голову только один вариант: при генерации модели из шаблонов задавать им фиксированные имена. Но вроде планировалось давать пользо

[2015-09-21 09:04] aurusov commented on #139
Отпишись о том, что накопал. Лучше прямо в первом сообщении.

[2015-09-21 09:11] aurusov commented on #173
Можно и фиксированные. Отсюда вывод: имя модели не должно жить в одном скопе с идентификаторами. Я всю дорогу говорю, но вы игнорите простой подход, который изначально не позволяет накосячить таким образом:
- пусть модель называется `model`
- если все ресурсы разместить в `model.DB.*`
- а паттерны в `model.KB.*`
- то конфликтов имен вида `model.DB.model.parametr`, где второй `model` - это имя ресу

[2015-09-21 12:11] bogachev-pa commented on #173
Мисклик.

Там есть несколько проблем, попозже распишу их подробно. Отдельную таску не нужно.

[2015-09-21 18:22] bogachev-pa commented on #139
Обновил шапку.

[2015-09-21 19:47] aurusov commented on #139
Промежуточный результат куда-то закоммичен ?

[2015-09-21 19:57] bogachev-pa commented on #139
Нет, только локально, т.к. не доведен до ума. Никаких особых откровений там нет, по примеру в шапке можно быстро научиться такое написать, но, если надо, могу выложить в том или ином виде.

[2015-09-21 20:28] aurusov commented on #139
Лучше выложить. Проще всего в виде текста конфига прямо в сообщении imho.

[2015-09-21 20:40] bogachev-pa commented on #139
Залил на `pastebin`, кажется, так удобнее.

[2015-09-25 19:14] aurusov opened #181 "Вывод чисел и перечислений в команде text"
Сейчас только через [явное](https://github.com/aurusov/rdo-xtext-models/commit/3b81f096cfe564796e76df670bf8ad10a3935ef8#diff-f16bf73f68231cfe1f7b2f14eca97a02R420) преобразование в строку

[code]

Хочется

[code]

В том числе для перечислений. Сейчас для них приходится писать [вот такое](https://github.com/aurusov/rdo-xtext-models/commit/3b81f096cfe564796e76df670bf8ad10a3935ef8#diff-f16bf73f68231cf

[2015-09-25 19:16] bogachev-pa opened #182 "Возможность задавать цвета в анимации енумами"
Вместо `color(255, 255, 255)` хочется иметь возможность задать что-то вроде `color.white`. И для прозрачного цвета тоже.

[2015-09-25 19:29] aurusov opened #183 "В анимации нельзя вывести параметр ресурса"
[code]

Если открыть java-код, то

[code]

`Станок_1 cannot be resolved to a variable`

[2015-09-25 19:40] bogachev-pa commented on #183
Вот так у меня работает:

[code]

В `Java`-коде сгенерилось:

[code]

Если так:

[code]

Не работает, но это из-за преобразования типов, т.к. генерится:

[code]

Вроде делаю то же самое. Выложите полный код модели на `pastebin`.

[2015-09-25 20:04] aurusov commented on #183
Целое значение через одно место, но вывел. Можно закрыть, потому что есть https://github.com/aurusov/rdo-xtext/issues/181.

[2015-09-25 20:04] #183 closed, assigned to bogachev-pa

[2015-09-25 20:08] aurusov opened #184 "Добавить перегрузку функций"

[2015-09-26 07:52] AlexChernov commented on #130
Вместо gradle используется maven. https://github.com/AlexChernov/rdo-xtext/tree/feature/maven

[2015-09-26 08:06] AlexChernov commented on #130
[code]

ru.bmstu.rk9.rao\target\ru.bmstu.rk9.rao-[version].jar
ru.bmstu.rk9.rao.lib\target\ru.bmstu.rk9.rao.lib-[version].jar
ru.bmstu.rk9.rao.tests\target\ru.bmstu.rk9.rao.tests-[version].jar
ru.bmstu.rk9.rao.ui\target\ru.bmstu.rk9.rao.ui-[version].jar

[2015-09-26 10:47] aurusov opened #186 "Добавить подписку на открытие окна с информацией о графе"
Блокирует https://github.com/LeKaitoW/rdo-game5/issues/8

[2015-09-26 11:00] aurusov opened #187 "Добавить компоненты в палетту инструментов"
Нам нужна паллета, состоящая из
- `Select`
- `Marquee`
- `Connection`
- Закладки компонент с элементами процессного подхода
  - `Generate`
  - `Seize`
  - `Advance`
  - `Release`
  - `Terminate`
  - `Resources`

[2015-09-26 13:34] LeKaitoW commented on #16
Выбранная библиотека: https://eclipse.org/gef/

[2015-09-26 13:34] #16 closed, assigned to LeKaitoW

[2015-09-26 13:54] aurusov opened #188 "Добавить прокрутку колесом мышки в анимации"

[2015-09-26 13:56] bogachev-pa commented on #145
Анимация работает.

[2015-09-26 13:56] #145 closed, assigned to bogachev-pa

[2015-09-26 13:57] bogachev-pa commented on #146
Готово.

[2015-09-26 13:57] #146 closed, assigned to bogachev-pa

[2015-09-26 13:58] #162 closed, assigned to bogachev-pa

[2015-09-26 17:21] aurusov opened #189 "Нельзя запустить модель из анимации"
Если активно окно анимации, то вываливается довольно ожидаемая для разработчика ошибка. Но она нифига не очевидна для пользователя. Если зачинить сложно, то оставим так. Прошу посмотреть срочно, т.к. блочит [Руководство пользователя](https://github.com/aurusov/rdo-xtext/issues/26).
![2015-09-26 20-17-26 2](https://cloud.githubusercontent.com/assets/5585202/10118837/11a1dd06-648c-11e5-9fc8-24c5ac98

[2015-09-26 17:37] bogachev-pa commented on #189
Тут все сложнее. Как понять, какой проект запускать, если активным является окно анимации, ведь оно может относиться к любому проекту?

Сейчас запускается проект активного эдитора, для этого проверка и сделана.

[2015-09-26 18:54] aurusov commented on #189
Да, в общем случае решить сложно. Но решение есть в частных случаях
- если только одна модель, то все просто
- если несколько, то
  - последнюю запущенную
  - выбранную в проекте
  - ту, от которой текущий фрейм в анимации (этот вариант покрывает все imho)

Сейчас хотя бы сделать для одной модели. Это сложно ?

[2015-09-26 19:11] bogachev-pa commented on #189
Не правильнее ли будет анимацию сделать эдитором (как графики)?

Только тогда встает проблема, как его правильнее открывать.

[2015-09-26 19:22] aurusov commented on #189
Мне не совсем понятны сложности едитор/не едитор. По сути это не редактор, как и графики, но окно, которое должно быть большим, а не ютиться в доках. Я так понимаю, что это термин эклипса для всех `больших` окон ? Странное название, попахивает ошибкой проектирования. ~~И открываются они не через View, а через файлы проекта ?~~ Можно ли открыть такое окно через view ? Если нет, то можно сделать кно

[2015-09-26 19:45] bogachev-pa commented on #189
Еще одно отличие эдитора - он имеет привязку к проекту. По-хорошему, он должен соответствовать какому-то файлу в этом проекте (не уверен, что использовать его без файла - хороший стиль), плюс, да, он может быть помещен в отдельную область.

Открываются либо через файлы проекта либо программно.

Вообще, наверное, стоит оставить его в качестве `View`.
Я предлагаю сделать так:
- если открыт один прое

[2015-09-27 06:44] aurusov commented on #189
Хорошо

[2015-09-27 21:41] bogachev-pa commented on #186
Переименовал, т.к. проблема была в другом.

И, `Done`.

[2015-09-27 22:56] bogachev-pa commented on #181
`Done`

[2015-09-30 13:20] bogachev-pa opened #193 "Обновлять папку lib rao-проекта, если библиотека изменилась"
Проблема в следующем: либа обновилась, но в проекте осталась старая.

Надо либо научиться обнаруживать либу старой версии в класспасе проекта, либо удалять ее из класспаса и добавлять новую при каждой запуске проекта.

[2015-09-30 20:37] aurusov opened #194 "Некорретно работает автоматическое переименование"
1_._ С енумами

[code]

Если встать на `станок_1` и нажать `Shift + Alt + R`, то переименование не активизируется.

2_._ С ресурсами
Имя ресурса можно переименовать с помощью `Shift + Alt + R`.
Встаем на `Накопитель_2` -> `накопитель_2`

[code]

В релевантных ресурсах всё хорошо

[code]

В других местах плохо

[code]

[code]

[2015-09-30 20:44] bogachev-pa commented on #194
Я, честно говоря, даже не знал, что оно работает.

Так или иначе, сейчас проверил, оно работает только вне языка выражений, т.е. там, где у нас честна описана грамматика. Еще одна проблема, которую решит только `xbase`.

[2015-09-30 20:49] aurusov opened #195 "Переименование ресурса"
Имя ресурса можно переименовать с помощью `Shift + Alt + R`.
Встаем на `Накопитель_2` -> `накопитель_2`

[code]

В релевантных ресурсах всё хорошо

[code]

В других местах плохо

[code]

[code]

[2015-09-30 20:50] aurusov commented on #194
Ну значит у них с https://github.com/aurusov/rdo-xtext/issues/195 одна проблема

[2015-09-30 20:50] bogachev-pa commented on #195
Ответил в другой таске, это общая проблема:
https://github.com/aurusov/rdo-xtext/issues/194#issuecomment-144537624

[2015-09-30 20:50] #195 closed, assigned to nobody

[2015-09-30 20:52] bogachev-pa commented on #194
Отредактировал заголовок и первое сообщение, чтобы обобщить таску.

[2015-10-01 10:51] AlexChernov commented on #131
https://github.com/AlexChernov/rdo-xtext/commit/2a235b94900a7c4e394c00e9e3ac22ebce24aa6c

[2015-10-01 11:06] AlexChernov commented on #131
1. Выкачать исходники

[code]

.
2. `cd rdo-xtext`
3. Запустить сборку

[code]

После этого в папке  rdo-xtext-mvn/rdo-xtext/assembly/target появится zip архив с собранными jar'никами
Для получения готового к развертыванию архива необходимо
4. Скачать Eclipse IDE for Java and DSL Developers и распаковать его
5. Запустить сборку с параметром `-Declipse-path`

[code]

PathToEclipseRoot задается в аб

[2015-10-01 11:27] AlexChernov commented on #131
По поводу автоматизации скачки eclipse
1. Мавен умеет скачивать файлы по url, и умеет их распаковывать в нужное место, а так же умеет создавать профили

[code]

Но пока не знаю умеет ли в таком случае maven скачивать архив только в первый раз, как он это делает через `dependencies`
2. Мавен умеет копировать необходимые зависимости в нужное место, проблема в том чтобы указать eclipse, как зависимос

[2015-10-02 21:37] aurusov commented on #186
Вошло в релиз

[2015-10-02 21:37] #186 closed, assigned to bogachev-pa

[2015-10-02 21:38] #181 closed, assigned to bogachev-pa

[2015-10-02 21:40] aurusov commented on #182
Вошло в релиз

[2015-10-02 21:40] #182 closed, assigned to bogachev-pa

[2015-10-02 22:04] aurusov opened #196 "Ошибка юникода в визарде"
Под виндой
1. Скомпилить РДО в эклипсе, назовем его первым
2. Скачать свежий Марс, это второй эклипс
3. Экспортировать джарники через первый эклипс во второй
4. Запустить второй эклипс с РДО

![2015-10-03 01-03-16 new rao project](https://cloud.githubusercontent.com/assets/5585202/10258843/af3f79e6-696a-11e5-89c7-96012cf739a1.png)

[2015-10-04 11:40] aurusov commented on #131
Задачи про мавен перенес в его таску https://github.com/aurusov/rdo-xtext/issues/130

[2015-10-04 11:46] aurusov commented on #130
Обновил шапку

[2015-10-04 11:57] aurusov opened #197 "Мобильная версия справки"
На телефонах и на десктопе с маленьким разрешением справка выглядит не очень. Левый столбец (содержание) имеет фиксированную ширину. Правый (содержимое) выводится по остаточному принципу.

![2015-10-04 14-59-46 mozilla firefox](https://cloud.githubusercontent.com/assets/5585202/10267725/96edb71a-6aa8-11e5-99e6-ea3c0deb6822.png)

[2015-10-04 12:01] #196 closed, assigned to LeKaitoW

[2015-10-04 12:03] aurusov commented on #169
Готово
http://www.rdostudio.com/phpbb/viewtopic.php?f=9&t=28

[2015-10-04 12:03] #169 closed, assigned to aurusov

[2015-10-04 12:11] aurusov commented on #47
Давно не актуально, закрываю.

[2015-10-04 12:11] #47 closed, assigned to nobody

[2015-10-04 13:24] LeKaitoW commented on #175
Решение: http://blog.vogella.com/2011/11/02/eclipse-setting-the-default-perspective-via-config-ini/
В нашем случае нужно в файл `eclipse.ini` писать:

[code]

Работает и на Луне, и на двух Марсах. :)

Если дописать в конец файла, то не срабатывает (по ссылке об этом упоминается).
Я пишу перед строчкой:

[code]

[2015-10-04 13:34] aurusov commented on #175
Отлично, надо добавить это в мавен

[2015-10-04 13:36] LeKaitoW commented on #175
Тогда таска переходит на Лёшу?

[2015-10-04 13:36] aurusov commented on #175
Да. А ты хотела бонус ?

[2015-10-04 13:41] LeKaitoW commented on #175
Конечно. ;)

[2015-10-04 14:10] LeKaitoW commented on #79
Шрифт такой же, как у лейбла под графиком:
![plotfont](https://cloud.githubusercontent.com/assets/10632455/10268225/1d2d42d6-6ac3-11e5-9c5b-da116887acaf.png)

[2015-10-04 14:16] aurusov commented on #79
Думаешь я фотошопил ? Мой скрин
raox 2.7.1, windows 10, x64, mars 1

Где назначается шрифт ?

[2015-10-04 14:18] LeKaitoW commented on #79
Я написала это после коммита!
Имела в виду, что в коммите использовала такой шрифт. :(

Назначается имя шрифта, от него уже делается `new Font()`.

[2015-10-04 15:21] aurusov commented on #79
Ааа, коммита то я и не заметил.

[2015-10-04 15:22] aurusov commented on #79
Все клёво, ставь пул-реквест

[2015-10-04 15:26] LeKaitoW commented on #79
Поставила на `release/2.8`.
Заметила, что ваш пулл-реквест про документацию стоит на `release/2.7`. На какую ветку ставить?

[2015-10-04 15:48] aurusov commented on #79
Ответь на два вопроса
1. это фича или бага ?
2. какая текущая версия ?

[2015-10-04 16:42] LeKaitoW commented on #79
1. с меткой `bug`, значит, бага
2. 2.7

Переставила на 2.7.

[2015-10-04 18:48] aurusov commented on #79
Да. Для полноты картины изменю тип таски. Перевел с бага, когда думал про бонусы.

[2015-10-04 19:05] #79 closed, assigned to LeKaitoW

[2015-10-06 08:05] AlexChernov commented on #175
Пока два варианта:
1. Скопировать файл eclipse.ini из папки eclipse, лежащей рядом, дописать в него перспективу. Если нет такого файла/папки, сборка закончится с ошибкой(раньше создавался архив с папкой `dropins`)
2. Хранить файл `eclipse.ini` так же как и `eclipse` рядом с исходниками. В исходниках хранить не получится, потому что в `eclipse.ini` есть платформозависимая строчка `plugins/org.eclip

[2015-10-06 08:07] aurusov commented on #175
Мне нравится первый вариант

[2015-10-06 08:10] aurusov commented on #175
Оставь возможность создавать архив только с РДО. Ведь можно завести отдельную задачу в мавене типа `mvb raox-jars` ?

[2015-10-06 09:36] bogachev-pa commented on #173
Обсудили на консультации, резюмируя:
1. Валидатор готов.
2. [Есть проблема](https://github.com/aurusov/rdo-xtext/issues/173#issuecomment-141895055). Возможное решение: завести фиксированные таблицы недопустимых имен для моделей с шаблонами и проверять их в визарде.
3. Более правильное радикальное решение: по-другому расположить файлы проектов, возможно так, как описано [здесь](https://github.com/a

[2015-10-06 10:29] aurusov commented on #173
Эту закрыть полюбому. А вот 2 и 3 про разное
- 2 - Про визард
- 3 - Про то, чтобы разделить объекты модели по **удобный** скопам. Если это решит и (2), то только как бонус. Если для решения 2 через 3 придется сделать неудобные пути - это не то, что нам нужно.

Есть еще и 4
- 4 - скомпилить модель из визарда в фоне, проверить введенное имя с индентификаторами модели

[2015-10-06 10:29] #173 closed, assigned to bogachev-pa

[2015-10-06 10:33] aurusov opened #201 "Валидировать имя модели из визарда"
Пользователь при выборе шаблона в визарде может назвать модель так же, как назван один из элементов в модели, например, ресурс. Получается, только что созданная визардом модель не будет валидной.

Решения
- завести фиксированные таблицы недопустимых имен для каждого шаблона и проверять их в визарде
- скомпилить модель из визарда в фоне, проверить введенное имя с индентификаторами модели
- кардинал

[2015-10-06 10:36] aurusov opened #202 "Расположить объеты с своих скопах"
Предположим, что у нас работает code completion. Тогда все объекты модели вываливаются одним списокм. Кажется, что это неудобно. Предлагается размещать объекты в своих скопах, например
- `model.resources.*`
- `model.events.*`
- `model.operations.*`
- `model.results.*`
- `model.frames.*`

Как бонус, это станет альтернативным решением для https://github.com/aurusov/rdo-xtext/issues/201. Например,
-

[2015-10-06 10:43] aurusov commented on #173
https://github.com/aurusov/rdo-xtext/issues/201
https://github.com/aurusov/rdo-xtext/issues/202

[2015-10-08 21:14] aurusov commented on #130
Обновил шапку

[2015-10-09 20:16] bogachev-pa opened #205 "Добавить гистограммные последовательности типа boolean"
Добавить гистограммную последовательность типа boolean:

[code]

Синтаксис последовательностей хочется поменять на что-то более вменяемое, например:

[code]

[2015-10-10 10:49] aurusov opened #206 "Упростить смену версии"
Кажется, что будет проще всего настроить команду

[code]

, которая будет изменять номер релиза в поме и всех манифестах.

[2015-10-10 12:19] aurusov opened #207 "Предлагать перспективу"
При создании нового проекта лучше спросить нужно ли открыть перспективу `Rao`. Поведение должно напоминать создание Java-проекта.

[2015-10-10 12:34] aurusov opened #208 "Включить Xbase в грамматику"
После включения можно будет писать выражения на xbase, должен заработать code complete, но сломается компиляция в Java-код.

[2015-10-10 14:13] zvedenyuk opened #209 "Падает сбор статистики с использованием watchQuant"
Модель `bggt`:

[code]

Ошибка:

[code]

Файл `стата.java`, в котором обнаруживается ошибка:

[code]

[2015-10-10 14:23] aurusov commented on #209
Это полный код модели ?

[2015-10-10 14:24] aurusov commented on #209
Как называется модель ?

[2015-10-10 14:27] zvedenyuk commented on #209
Да, полный. Название модели bggt

[2015-10-10 14:30] LeKaitoW commented on #187
Заготовка палитры:
![screenshot from 2015-10-10 17 29 43](https://cloud.githubusercontent.com/assets/10632455/10411630/88eb1cd6-6f74-11e5-9996-23596645f68e.png)

Не хватает: `Connection`

[2015-10-10 14:30] aurusov commented on #31
Задача превратилась в [milestone](https://github.com/aurusov/rdo-xtext/milestones/%D0%93%D1%80%D0%B0%D1%84%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81%D0%BD%D0%BE-%D0%BE%D1%80%D0%B8%D0%B5%D0%BD%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D1%8B%D0%B9%20%D0%BF%D0%BE%D0%B4%D1%85%D0%BE%D0%B4)

[2015-10-10 14:30] #31 closed, assigned to nobody

[2015-10-10 14:32] aurusov commented on #187
Кажется, что с палеттой всё. Предлагаю закрыть задачу. `Connection` и блоки лучше делать в отдельных тасках.

[2015-10-10 14:32] zvedenyuk opened #210 "Сбор статистики через watchParameter для параметров, тип которых определен через enum"
Модель `bggt`:

[code]

В данном случае строка:

[code]

Срабатывает нормально. В то время как строка:

[code]

Даёт ошибку:

[code]

[2015-10-10 14:35] aurusov commented on #210
Включите оформление тасок, как у https://github.com/aurusov/rdo-xtext/issues/209. Таску можно редактировать.

[2015-10-10 14:38] zvedenyuk commented on #210
Сделал

[2015-10-10 18:33] tfazli opened #211 "Удаление ресурса в rule"
Удаление ресурса методом `erase()` из `rule` не работает. В момент, когда модель доходит до этого места в коде, она вылетает с ошибкой `Execution failed`. Кроме того, данная ошибка крашит весь эклипс. Впоследствии нельзя запустить даже заведомо рабочую модель, пока не перезапустишь эклипс. Модель - упрощенная модель с лабораторной работы: имеется два накопителя, две детали и робот, который перекид

[2015-10-12 11:33] LeKaitoW commented on #187
Окей.
Тогда буду заводить таски по блокам.

[2015-10-12 11:33] #187 closed, assigned to LeKaitoW

[2015-10-12 19:37] aurusov commented on #130
В папке dropins оказывается джарник с тестами (ru.bmstu.rk9.rao.tests-*.jar). Он не нужен. Если это быстро делать, то лучше в этой таске, если нет, то заведи отдельную.

[2015-10-12 20:15] AlexChernov commented on #130
ru.bmstu.rk9.rao.tests-*.jar там я так понимаю быть не должно?

[2015-10-12 20:15] aurusov opened #212 "Настроить свойства rao-плагинов"
![2015-10-12 23-13-45 eclipse installation details](https://cloud.githubusercontent.com/assets/5585202/10437642/24b7757e-7137-11e5-82b2-1d1a91ccf8c8.png)

[2015-10-12 20:16] aurusov commented on #130
Да

[2015-10-12 20:30] aurusov opened #213 "Перенести теорию из старой справки в новую"
Откуда
- [web](http://rdostudio.raox.ru/help/help/rdo_lang_rus/html/rdo_theory/rdo_theory.htm)
- [репозиторий](https://github.com/aurusov/rdo_studio), [путь к документации](https://github.com/aurusov/rdo_studio/tree/master/app/rdo_studio/help/)

Куда
- [web](http://raox.ru/docs/reference/base_types_and_functions.html)
- [репозиторий](https://github.com/aurusov/raox), [путь к документации](https://

[2015-10-12 20:43] aurusov opened #214 "Добавить в справку описание трассировки"
Трассировка стала намного понятнее, но требуется
- расшифровка сокращений
- других непонятных мест, если найдутся

Старое описание
http://rdostudio.raox.ru/help/help/rdo_lang_rus/html/rdo_res/rdo_res_trace_descr.htm
http://rdostudio.raox.ru/help/help/rdo_lang_rus/html/rdo_res/rdo_res_trc.htm
http://rdostudio.raox.ru/help/help/rdo_lang_rus/html/rdo_res/rdo_res_trc_events.htm
http://rdostudio.raox.r

[2015-10-14 20:36] bogachev-pa commented on #210
Сбор статистики по параметрами типа `enum` уже обсуждали (https://github.com/bogachev-pa/rdo-xtext/issues/11), это нужно имплементить как отдельную фичу.

На данный момент можно сделать валидатор, запрещающий использование енумов в `watchParameter()`.

[2015-10-15 07:58] bogachev-pa commented on #177
Можете пояснить, о чем таска?

[2015-10-15 09:09] aurusov commented on #177
Тоже самое, но по английски
http://stackoverflow.com/questions/1043433/how-to-auto-remove-trailing-whitespace-in-eclipse
Пояснил ?

[2015-10-15 09:13] aurusov opened #217 "Добавить валидатор на watchParameter для перечислимого типа"
Без валидатора наблюдается проблема https://github.com/aurusov/rdo-xtext/issues/210. Там же хороший пример.

[2015-10-15 09:14] aurusov opened #218 "Добавить watchParameter для перечислимого типа"
Сейчас просто не работает, https://github.com/aurusov/rdo-xtext/issues/210. Там же хороший пример.

[2015-10-15 09:16] aurusov commented on #210
Что-же не завел таски ?

Эту закрываю, потому что распилил на
- https://github.com/aurusov/rdo-xtext/issues/217
- https://github.com/aurusov/rdo-xtext/issues/218

[2015-10-15 09:16] #210 closed, assigned to nobody

[2015-10-15 09:20] bogachev-pa commented on #177
Просто "пробелов слева" - почему слева-то, если они `trailing`?

Как бы там ни было, теперь понятнее, кажется, это решается авто-форматированием?

[2015-10-15 09:30] aurusov commented on #177
Потому что перепутал.
Автоформатирование имеет полное право не решать эту проблему. В настройках нетбинса - это разные вещи.

[2015-10-15 09:32] aurusov commented on #177
Т.е. я за отдельные таски для форматирования и пробелов справа. Если эклипс не может удалить пробелы без форматирования, то тогда задачи придется решать вместе.

[2015-10-16 08:46] GavrilenkovRK9 opened #219 "Ошибка запуска модели с убранной панелью Console"
При запуске модели с убранной панелью Console вылетает ошибка:
![widgetdisposederror](https://cloud.githubusercontent.com/assets/15154787/10537492/3e2bfcb8-7403-11e5-8871-51c083029f37.png)

Если вернуть панель Console через window->show view,  то все работает.
Данная ошибка вылетает независимо от того, что написано в модели, даже если она пустая:
![widgetdisposederror_emptymodel](https://cloud.git

[2015-10-16 16:49] GavrilenkovRK9 opened #220 "Ошибка инициализации double целочисленным значением"
Если завести параметр ресурса типа `double`

[code]

или константу

[code]

, а инициализировать ее как целое число, то вылетит ошибка типа
![typemismatch](https://cloud.githubusercontent.com/assets/15154787/10547418/79014766-7445-11e5-9049-701ac9e0d08c.png)
В тоже время, инициализация переменной типа `double` целым значением не вызывает ошибок, если написать это, например, в теле события `Событие

[2015-10-16 19:25] GavrilenkovRK9 opened #221 "РДО перестало запускать модели"
Неделю назад был скачан дистибутив в РДО с сайта.
С какого-то момента РДО перестал отрабатывать модель:
![modedoesnotrun](https://cloud.githubusercontent.com/assets/15154787/10551089/fcf37646-745b-11e5-9b1b-4ed99531cb61.png)
Обычно модель прогоняется за пару секунд, здесь же прождал минуту - никакого результата, в трассировке то же самое. Перезагрузка компьютера ничего не дала. При нажатии на кноп

[2015-10-16 19:31] GavrilenkovRK9 commented on #221
Удалите, пожалуйста, тему, сам понял в чем дело. Была нажата кнопка "Пауза"

[2015-10-16 19:35] #221 closed, assigned to nobody

[2015-10-17 08:45] GavrilenkovRK9 opened #222 "Отрицательная медиана при использовании watchParameter"
При использовании функции watchParameter получается отрицательная медиана:
![negativemedian](https://cloud.githubusercontent.com/assets/15154787/10557845/86f20ed2-74cc-11e5-9669-6b919709bd0b.png)

Код модели:

[code]

[2015-10-17 10:49] aurusov commented on #222
Добавьте форматирование к коду, как у других тасок.

[2015-10-17 10:52] aurusov opened #223 "Добавить регистрирование фабрик"

[2015-10-17 11:03] aurusov opened #224 "Добавить блок Generate"
- [x] Задать геометрию/форму (shape) отличную от квадрата
  - Arena Simulatiuon System Create
  - Gensym ReThink blocks
  - Anylogic Source
- [x] Вывести имя блока
- [x] Вывод имени блока сделать опциональным
- [x] Добавить смену цвета

[2015-10-17 11:03] aurusov opened #225 "Добавить блок Terminate"
- [x] Задать геометрию/форму (shape) отличную от квадрата
- [x] Вывести имя блока

[2015-10-17 12:57] aurusov opened #226 "Добавить сборку только джарников"
- [x] Изменить сборку по умолчанию: Собрать все jar, перенести их в одну папку. Никаких архивов, никакого эклипса.
- [x] Завести задачу на Дженкинсе, которая заканчивается выгрузкой архива. Имя плагина не должно зависеть ни от платформы, ни от разрядности, например, `raox-2.7.1-plugins.zip`.
- [x] Завести новый профиль `package-as-eclipse-dropins`,  который бы срабатывал, если параметру `-Declipse

[2015-10-17 12:57] #130 closed, assigned to AlexChernov

[2015-10-17 13:01] #175 closed, assigned to AlexChernov

[2015-10-17 13:06] aurusov opened #227 "Добавить автосборку под mac-x64"
Запустил под Маком, увидел две ошибки
- После разахивирования получается папка `raox`. Надо чтобы было `*.app`, лучше `Rao X.app`
- Со вторым не стал разбираться, просто скрин. Может быть права за запуск не выставлены
  ![2015-12-07 16-44-38](https://cloud.githubusercontent.com/assets/5585202/11628385/7174c9c4-9d02-11e5-952e-9600b7915b0e.png)

[2015-10-17 14:06] bogachev-pa commented on #209
Отправлена на пул-реквест.

[2015-10-17 14:06] #209 closed, assigned to bogachev-pa

[2015-10-17 14:06] #193 closed, assigned to bogachev-pa

[2015-10-17 14:06] #32 closed, assigned to bogachev-pa

[2015-10-17 14:06] #42 closed, assigned to bogachev-pa

[2015-10-17 14:07] #219 closed, assigned to bogachev-pa

[2015-10-18 20:28] bogachev-pa commented on #208
Готово.

[2015-10-18 20:28] #208 closed, assigned to bogachev-pa

[2015-10-18 20:35] bogachev-pa opened #228 "Компиляция констант и функций с помощью xbase"
Необходимо начать генерировать `Java`-код для функций и констант и убедиться, что константы можно будет в функциях использовать, и что для них будет работать `code complete`.

[2015-10-18 20:42] bogachev-pa commented on #212
Настраиваются [здесь](https://github.com/aurusov/rdo-xtext/blob/release/current/ru.bmstu.rk9.rao.ui/META-INF/MANIFEST.MF#L4) и в аналогичных местах. А что там должно быть?

[2015-10-18 20:56] bogachev-pa commented on #211
Падение происходит только если включена сериализация. Приблизительная причина: для создания записи в бд пытаемся получить номер у ресурса, который уже удален.

Модель выше очень сильно перегружена, вот без всего лишнего:

[code]

Аналогичным образом удаление ресурса падает в `operation` -> `begin()`.

Удаление ресурса из тела событий и конца операций работает корректно.

[2015-10-19 09:10] aurusov commented on #212
Главное не что, а как: единообразно для левого столбца. Сейчас в _этом_ ошибка. В нём лучше написать `rdostudio.com`. В правом - _краткое_ описание каждого плагина.

[2015-10-19 09:12] aurusov commented on #208
Заработал `code complete` ? Можешь скинуть пару скринов с примерами ?

[2015-10-19 17:52] bogachev-pa commented on #208
Т.к. никаких маппингов в джава-код я на тот момент еще не делал, то он был довольно пустой, подсказывал только ключевые слова самого `xbase`.

Сейчас (после https://github.com/bogachev-pa/rdo-xtext/commit/c4f7f5301894e9df27e52e7aba8346024f6b79ed) работает уже вот так:
![2015-10-19-204809_1366x768_scrot](https://cloud.githubusercontent.com/assets/6528492/10586054/13969038-76a3-11e5-9d8c-a158113d464

[2015-10-19 18:29] bogachev-pa opened #229 "Добавить джарники xbase.lib в buildpath rao-проекта"
Это необходимо для корректной работы `xbase` валидатора.

[2015-10-19 18:32] bogachev-pa opened #230 "Структура rao-проекта с использованием xbase"
Необходимо продумать и заимплементить структуру проекта: из каких он будет состоять пакетов и классов.

[2015-10-19 18:36] bogachev-pa opened #231 "Реализовать событийный подход с использованием xbase"
Для этого необходимо:
- [x] генерировать код для событий
- [x] генерировать код `set init()` и `set terminateCondition()`
- [x] импортировать rao.lib в генерируемые классы
- [x] инициализировать симулятор в точке входа модели и запускать прогон
- [x] реализовать работу с глобальными переменными модели, в частности `currentTime`
- [x] исправить имеющиеся проблемы (см. пост ниже)

[2015-10-19 18:38] #229 closed, assigned to bogachev-pa

[2015-10-19 18:38] bogachev-pa commented on #228
Готово.

[2015-10-19 18:38] #228 closed, assigned to bogachev-pa

[2015-10-19 19:50] bogachev-pa commented on #231
Это готово. Если быть точным, класс не импортируется, а используется по полному имени, но это имя формируется самим инферером.

[2015-10-19 19:56] LeKaitoW commented on #224
Пример:
![screenshot from 2015-10-19 22 55 11](https://cloud.githubusercontent.com/assets/10632455/10589533/816b6d02-76b4-11e5-9508-adecaf6b8d4a.png)

Необходимо задать элементам постоянные размеры (запретить resize) и затем отцентрировать имя блока.

[2015-10-19 19:58] LeKaitoW commented on #225
Пример см. https://github.com/aurusov/rdo-xtext/issues/224#issuecomment-149328632

[2015-10-20 08:47] aurusov commented on #208
Хорошо

[2015-10-20 08:48] aurusov commented on #230
Набросаешь своё видение или от меня ждешь ?

[2015-10-20 08:52] aurusov commented on #224
1. Почему надо запретить `resize` ?
2. Почему бы не отцентрировать независимо от первого утверждения ?

[2015-10-20 08:53] aurusov commented on #224
Надеюсь, это не картинки, а полигон ?

[2015-10-20 09:23] bogachev-pa commented on #230
Набросаю. Ваше мнение примерно помню, если не лень, зафиксируйте тоже письменно, будет удобно.

[2015-10-20 09:26] LeKaitoW commented on #224
А зачем нам блоки на весь экран? Можно ведь добавить опцию а-ля "Отображать блоки: большие/средние/маленькие", но разрешенный ресайз выглядит странно. :/

Потому что с фиксированными значениями это удобнее делать.

Полигон.

[2015-10-20 13:20] aurusov commented on #224
Это зависит от пожелания юзера. Не вижу причин ограничивать его в этом месте. Движок нам это дает из коробки. Нужны веские причины для обратного.

Т.е. твой алгоритм будет заточен на фиксированную ширину блока, например, 100 пикселей ?

[2015-10-21 17:49] aurusov commented on #132
@bogachev-pa
Ты можешь написать 1-2 нормальных `JUnit`-теста ? Или подсказать какие можно сделать ?

[2015-10-21 18:41] bogachev-pa commented on #132
Могу, но сейчас занят чуть более приоритетными задачами (имя проекта в всплывающей подсказке и иксбейз), так что не уверен, что сделаю к субботе (или мне и не нужно их интегрировать и коммитить?).

Как бы там ни было, простейший тест на корректность работы трассировщика будет выглядеть как-то так:

[code]

[2015-10-21 18:47] bogachev-pa opened #233 "Убрать обращения к симулятору из трассировщика"
Пока придумывал `JUnit`-тест на трассировщик, осознал, что трассировщику незачем обращаться к симулятор и вообще знать о его существовании. Ему нужна только структура модели, ее можно передавать ему в конструктор, ну, и обновлять, когда необходимо каким-нибудь сеттером.

Зависимость от симулятора будет скорее всего мешать его тестированию.

[2015-10-21 18:59] #131 closed, assigned to AlexChernov

[2015-10-21 19:56] aurusov commented on #132
Отлично, благодарю.

[2015-10-22 07:59] AlexChernov commented on #226
Это выглядит, как поведение по умолчанию, без профиля.  Кажется, что сборка, описанная в aurusov/rdo-xtext#131 должна быть отдельным профилем, который бы срабатывал, если параметру `-Declipse-path` присвоено какое-либо значение.

[2015-10-22 08:06] aurusov commented on #226
Да, звучит разумно. Т.е. оно уже и так работает ? Осталось настроить Дженкинс ?

[2015-10-22 11:35] AlexChernov commented on #226
Обновил шапку

[2015-10-22 19:47] AlexChernov commented on #206
[code]

Эта команда автоматически меняет версию во всех `pom.xml` и `MANIFEST.MF`. Из минусов: придется отказаться от переменной `${rao-version}`, которой сейчас задается версия, из-за чего при изменении версии будут меняться 10 файлов.

[2015-10-22 21:11] aurusov commented on #206
Это что ?

[2015-10-23 08:13] #226 closed, assigned to AlexChernov

[2015-10-23 08:19] AlexChernov commented on #206
Обновил комментарий выше

[2015-10-23 08:35] aurusov commented on #206
Круто. Пул-реквест ?

[2015-10-23 08:37] AlexChernov commented on #206
Сейчас уберу ${rao-version}, обновлю `gitflow.md` и сделаю пул-реквест

[2015-10-23 08:38] aurusov commented on #206
Поясни всетаки, как правильно работать с версиями. Я думал, что запуская `mvn package` версия определится через гит. Если так, то зачем торчать наружу `mvn release <release_number>` ?

[2015-10-23 09:05] AlexChernov commented on #206
[code]

Имелась в виду команда

[code]

Это запуск команды плагина `maven-release-plugin`, суть которой поменять pom.xml, MANIFEST.MF, т.е. **назначить** версию (автоматизировать `release/version` в https://github.com/aurusov/rdo-xtext/blob/release/current/gitflow.md)
Вместо нее будет использоваться команда

[code]

Просто другой плагин, суть таже
В `mvn package` версия **определятся** на основе `

[2015-10-23 10:03] aurusov commented on #206
Т.е. вызывая `mvn package` я получу только версию для _имени архива_. Она не будет применена к помам и манифестам ?

[2015-10-23 11:26] AlexChernov commented on #206
Да, но можно вызывать этот плагин на каком-либо шаге сборки, тогда версия будет назначаться и для */pom.xml */MANIFEST.MF, а следовательно и для *.jar

[2015-10-23 11:51] aurusov commented on #206
Это не можно, а нужно сделать. Понимаешь разницу ?
Как я вижу ситуацию
_1. `mvn package` собирает архив с плагинами
- Имя архива содержит версию из гита
- Сами плагины тоже, обязательно, содержат версию из гита. Как может быть по другому ? Сейчас в этом месте ошибка ?

_2. `mvn package -Declipse-path -Dtarget-os -Dtarget-bitness` собирает Эклипс с плагином
- Имя архива содержит версию из гита
- Са

[2015-10-23 16:59] #189 closed, assigned to bogachev-pa

[2015-10-23 20:28] AlexChernov commented on #206
Версия не ставится в манифесте:
[ERROR] Version 2.3.1-201-g30ca097 is not valid for MANIFEST.MF
[Bundle-Version: 1.2.3.four](http://wiki.osgi.org/wiki/Bundle-Version)

[2015-10-23 20:47] aurusov commented on #206
А если через точки `2.3.1.201.g30ca097` ?

[2015-10-23 20:49] bogachev-pa commented on #206
Исходя из того, что я читал о версиях эклипсовских плагинов, может сработать что-то вроде `2.3.1.201-g30ca097`

[2015-10-23 21:41] bogachev-pa commented on #231
Событийный подход (без ресурсов) реализован. Прогон запускается, события планируются, модель корректно останавливается по `terminate condition`.

Появившиеся удобства:
- контент-ассист для произвольных методов в произвольном месте модели, например, подсказывается метод `plan` эвента
- автоматическое переименование (есть некоторые проблемы - см. ниже)

Но есть ряд проблем и недоделок:
- [**done**]

[2015-10-24 10:11] AlexChernov commented on #206
`2.3.1.201-g30ca097` - можно
`2.3.1.201.g30ca097` - нельзя
`2.3.1.g30ca097` - можно

[2015-10-24 11:12] aurusov commented on #206
Первый отлично смотрится.

[2015-10-24 12:57] aurusov opened #237 "Проверить tabbed режим в Property Sheet'е"
Пример https://eclipse.org/articles/Article-Tabbed-Properties/tabbed_properties_view.html

[2015-10-24 12:58] aurusov opened #238 "Добавить разделение свойств по группам в Property Sheet"
Например, как тут http://doc.qt.io/qt-4.8/images/designer-property-editor.png

[2015-10-24 13:59] aurusov opened #239 "Удаление старых деплоев"
- [x] Нужен питонячий скрипт, который по ftp удаляет устаревшие выкладки
- [x] Прописать его вызов на Дженкинсе

[2015-10-24 14:00] aurusov opened #240 "Генерация странички для доступа к деплою"
- [x] Нужен питонячий скрипт, который по ftp определяет выкладки и генерит html страничку их загрузки
- [x] Прописать его вызов на Дженкинсе

[2015-10-24 14:05] #54 closed, assigned to AlexChernov

[2015-10-24 19:48] aurusov commented on #206
Сейчас выпускал релиз 2.8. Не получилось изменить версию ни через
`mvn release <release_number>`
ни через
`mvn org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=2.9.0 -Dartifacts=parent,ru.bmstu.rk9.rao,ru.bmstu.rk9.rao.lib,ru.bmstu.rk9.rao.tests,ru.bmstu.rk9.rao.ui`

Вместо манифестов меняются помы:

[code]

Причем `git diff` довольно странный.

[2015-10-24 19:57] AlexChernov commented on #206
Потому что
1. Эта ветка не полита, чтобы diff был не странный
2. Версии помов и манифестов были разные. Они меняются вместе, только если до изменения были одинаковые, что тоже произошло, потому что эта ветка не подлита

[2015-10-25 11:01] AlexChernov commented on #239
Ок

[2015-10-25 15:06] aurusov commented on #239
Я вот думаю, не вытащить ли этот файлик в отдельный репозитарий. Ведь после появления плагина пятнашек придется его изменять. Получится, что эта репа будет знать про соседнюю. Склоняюсь в переносу.

[2015-10-25 15:27] aurusov commented on #239
Перенёс https://github.com/aurusov/raox-deploy

А ты `ok` для пул-реквеста написал ?

[2015-10-25 16:39] #239 closed, assigned to aurusov

[2015-10-25 18:01] aurusov commented on #240
http://www.rdostudio.com/download.html

[2015-10-25 18:01] #240 closed, assigned to aurusov

[2015-10-25 18:02] aurusov commented on #240
@AlexChernov
Посмотри скрипт https://github.com/aurusov/raox-deploy/blob/master/scripts/update_download_web_page.py

[2015-10-26 19:51] LeKaitoW opened #244 "Репозиторий с джарниками РДО"
Для
- сборки [Game5](https://github.com/aurusov/raox-game5)
- сборки любых плагинов в последующем
- [создания архива с Эклипсом](https://github.com/aurusov/raox-deploy/issues/1)

хочется выкачивать джарники РДО из мавен-репозитария. При этом, собирать джарники и инсталить в мавен нужно тогда, когда в мавене лежит более страя версия, чем есть в матсер-бранче гита.

[2015-10-26 22:14] aurusov commented on #244
Зачем заводить. Джарники собираются тут
http://rdo.rk9.bmstu.ru:81/job/raox-plugins/

[2015-10-29 20:06] bogachev-pa opened #246 "Состояние поля под графом"
@aurusov
Перенесено из: https://github.com/LeKaitoW/rdo-game5/issues/43

Граф закрывает состояние поля. Очень неудобно, когда окно графа на весь экран.

![1_010](https://cloud.githubusercontent.com/assets/5585202/10710254/100bd64e-7a59-11e5-8a28-ca9835b6efb2.png)

Хочется, чтобы поле было всегда сверху

![1_011](https://cloud.githubusercontent.com/assets/5585202/10710255/1a98ead4-7a59-11e5-9757-f6

[2015-10-29 20:07] bogachev-pa commented on #246
Т.е. окно `Graph Info` должно быть поверх всех окон? Или нужно как-то привязать его к окну графа?

[2015-10-29 20:09] bogachev-pa opened #247 "Окно с раскладкой меняет свои размеры"
@aurusov
Перенесено из https://github.com/LeKaitoW/rdo-game5/issues/41

При переходе к следующему состоянию изменяется _размер_ диалога, кнопки уезжают.

![1_003](https://cloud.githubusercontent.com/assets/5585202/10710224/a27770c6-7a57-11e5-856e-cbf6beac9b7f.png)
![1_004](https://cloud.githubusercontent.com/assets/5585202/10710225/a52b1f98-7a57-11e5-9987-d62107e2443e.png)

[2015-10-29 20:50] bogachev-pa commented on #246
При использовании свойства `SWT.ON_TOP` эффект довольно странный:
![on_top](https://cloud.githubusercontent.com/assets/6528492/10831477/e04d9d9c-7e96-11e5-92bb-b1ac93400570.png)

Данное окно не меняется в размерах и не двигается из этого угла, а также не имеет верхней панели из-за чего возникают проблемы с тем, чтобы его закрыть (Alt+F4 закрывает заодно и диалог с графов).

Кажется, это свойство с

[2015-10-29 20:57] aurusov commented on #246
Главное, чтобы поверх графа. Если будет поверх всех, тоже сойдет.

А если добавить `SWT.CLOSE | SWT.BORDER | SWT.TITLE` ?
А что сделает `SWT.MODELESS` ?

[2015-10-29 21:02] bogachev-pa commented on #246
Все эти константы игнорируются. Везде советуют пилить собственные листенеры для перемещений и прочего (http://stackoverflow.com/questions/24959177/is-there-a-way-to-make-a-swt-shell-moveable-and-on-top). Пока что хорошего решения не нашел.

[2015-10-29 21:16] aurusov commented on #246
Можно ли задать окно графа как парент для окна с информацией ?

[2015-10-31 13:22] aurusov commented on #212
Название продукта `Rao X`
Название компании `rdostudio.com`
Название бинарников/исходников/репы гитхаба/задач на Дженкинсе `raox`
Название языка `Rao` или `РДО`

[2015-10-31 14:34] bogachev-pa opened #248 "Дублирование состояние на графе"
На данной раскладке:

[code]

Вершина 0 и вершина 3 имеют одинаковое состояние.

![123](https://cloud.githubusercontent.com/assets/6528492/10864159/f348454a-7ff5-11e5-8c28-7d75806ded51.png)

[2015-10-31 14:38] bogachev-pa opened #249 "Лишняя вершина в графе после решения"
Воспроизводится на раскладке:

[code]

Вершина 18 не должна была попасть в граф.

![123](https://cloud.githubusercontent.com/assets/6528492/10864176/1c31ebdc-7ff6-11e5-85ab-f5091e866783.png)

[2015-10-31 18:34] aurusov opened #251 "Переименовать в maven-сборке rao -> raox"

[2015-10-31 18:59] aurusov opened #252 "Продвижение версии через maven под виндой"
Запустил над 2.9.0
`mvn org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=2.9.1`
Получил ошибку. Перегрузился в линуха - все сработало.

[2015-10-31 19:04] AlexChernov commented on #252
Запустил над 2.9.1
`mvn org.eclipse.tycho:tycho-versions-plugin:set-version -DnewVersion=2.9.2`
Не удалось воспроизвести, какая ошибка была(хотя бы примерно)? Может отсутствовал интернет и не смог скачаться плагин?

[2015-10-31 19:08] aurusov commented on #252
Запускал из-под Power Shell (консоль виндового гитхаб-клиента)

[code]

[2015-10-31 19:09] aurusov commented on #252
Как-то неправильно парсится версия
`git diff`

[code]

[2015-10-31 19:11] AlexChernov commented on #252
Это было понятно, там выше написано, что он пытался менять версию на 2, а потом не смог запустить фазу 9.1

Попробуйте `mvn org.eclipse.tycho:tycho-versions-plugin:set-version "-DnewVersion=2.9.1"`

[2015-10-31 19:36] aurusov commented on #252
Получилось. Надо
- проверить, работает ли это под линухами
- обновить инструкцию

[2015-10-31 21:42] #249 closed, assigned to bogachev-pa

[2015-10-31 21:42] #248 closed, assigned to bogachev-pa

[2015-10-31 22:05] AlexChernov commented on #252
Паша проверил, завтра обновлю инструкцию и наверное отправлю баг репорт, правда не придумал кому power shell или разработчикам плагина

[2015-11-01 14:49] #206 closed, assigned to AlexChernov

[2015-11-02 12:31] aurusov commented on #135
Если с задачей все, то ставь пул-реквест.

[2015-11-02 12:32] aurusov commented on #247
Какой прогноз по срокам ?

[2015-11-02 13:08] bogachev-pa commented on #135
Планировал залить вместе с остальными исправлениями по графу, т.к. она сделана в той же ветке.

[2015-11-02 13:09] bogachev-pa commented on #247
Планирую во вторник-среду поставить пул-реквест.

[2015-11-03 13:14] Seitenov opened #256 "Ошибка метода withMin"
В исходном варианте, когда подбор ресурса производится по умолчанию результаты имеют вид
![_](https://cloud.githubusercontent.com/assets/15458980/10908804/6e302812-8245-11e5-955d-43eba963382e.png)

Метод withMin не правильно работает. Он подбирает ресурсы также как withMax.
![_ _](https://cloud.githubusercontent.com/assets/15458980/10908507/6661787c-8243-11e5-9ec8-d3d439b4efcd.png)

Модель:

[code

[2015-11-03 14:01] aurusov commented on #256
Спасибо за репорт. Хочется еще больше упростить модель, например, убрать из неё `Клиентов` и событие прихода.

[2015-11-03 15:21] Seitenov commented on #256
Примерно так,

[code]

[2015-11-03 16:11] bogachev-pa commented on #256
Исправил и залил отдельную тестовую модель. Пул-реквест https://github.com/aurusov/rdo-xtext/pull/257

[2015-11-03 16:11] #256 closed, assigned to bogachev-pa

[2015-11-04 08:29] aurusov opened #258 "Падение под Убунтой при отображении графа"
Валится Эклипс при отображении графа
- raox-game5-1.4.0
- rdo-xtext-2.10.0
- eclipse-dsl-mars-1-linux-gtk-x86_64
- workspace удалял
- **openjdk-8-jdk 8u66** (на 8u40 работает нормально)

Под виндой отработало нормально.

![2015-11-02 01-13-53](https://cloud.githubusercontent.com/assets/5585202/10871692/06b2b930-80ff-11e5-931f-27926e08e909.png)

[code]

[2015-11-04 08:29] aurusov commented on #246
Падение вынес в отдельную таску https://github.com/aurusov/rdo-xtext/issues/258
Почистил обсуждение

[2015-11-04 08:30] aurusov commented on #258
У меня не пашет никакая версия, воркспейс удалял.

[2015-11-04 08:31] aurusov commented on #258
Попробовал, не помогло.

[2015-11-04 08:40] aurusov commented on #258
@LeKaitoW
Оля, вышли на почту или г-диск полный архив с Эклипсом, который у тебя запускается.

[2015-11-04 09:06] LeKaitoW commented on #258
[Полный архив](https://drive.google.com/open?id=0B3RV5tRbg_npclZPQ2VRMUZtRW8)

[2015-11-04 09:14] aurusov commented on #258
- не запускается первый прогон
- если руками собрать трассировку и показать граф, то вижу вот такое (пустое окно, которое даже не может залить свой фон). На скрине эффект из-за ресайза окошка

![2015-11-04 12-11-59](https://cloud.githubusercontent.com/assets/5585202/10933947/65cb0716-82ed-11e5-8f2c-afe8c692ba3d.png)

[2015-11-04 09:21] LeKaitoW commented on #258
Джарник пятнашек вчерашний.

Сейчас запустила эклипс из архива - всё работает.
Какая версия убунты?

[2015-11-05 08:41] aurusov commented on #258
2.10.0 + 1.4.0 (ubuntu 15.10)
Валится сразу при запуске через `Run experiment`

[2015-11-05 08:42] #252 closed, assigned to AlexChernov

[2015-11-05 08:42] #251 closed, assigned to aurusov

[2015-11-05 08:48] #247 closed, assigned to bogachev-pa

[2015-11-05 08:48] #246 closed, assigned to bogachev-pa

[2015-11-05 08:49] aurusov commented on #244
Еще актуально ?

[2015-11-05 08:49] #135 closed, assigned to bogachev-pa

[2015-11-05 08:50] #212 closed, assigned to aurusov

[2015-11-05 12:11] aurusov commented on #258
[code]

[2015-11-05 12:19] aurusov commented on #258
Выглядит как ошибка интеграции awt в swt. Раньше она валилась на жмаке по вершине (открывался swt-диалог), сейчас сразу, потому что граф переделали.

[2015-11-05 12:44] aurusov commented on #258
Ошибка повторяется и без плагина. Достаточно построить граф из трассировки.

`ProgressBar(Widget).checkWidget() line: 420`

[code]

[2015-11-05 14:29] LeKaitoW commented on #244
Если текущий вариант (при сборке любого плагина требуется предварительно собирать само рдо) является постоянным, то кажется неактуальным.

[2015-11-05 14:42] aurusov commented on #244
Я только за. Леша ?

[2015-11-05 16:39] bogachev-pa commented on #244
Мне это кажется неудобным. Сейчас получается, что чтобы собрать плагин через мавен нужно сначала самому собрать рдо (ещё и версию самому правильную найти). Вариант с выкачиванием рдо нужной версии через мавен намного правильнее, на мой взгляд. Но я не знаю, насколько сложно создать свой внешний репозиторий и включить его в мавен. Это, скорее, вопрос к Леше. Если несложно, то я за то, чтобы таска б

[2015-11-05 18:27] aurusov commented on #244
У нас нет возможности открыть еще один порт для мавена на кафедральном сервере. Если получится повесить на 80 или 81 порт (на них уже крутятся службы), то хорошо.

[2015-11-05 18:28] aurusov commented on #244
И да еще. На локальной машине либу РДО надо собрать один раз. Потом она и в локальном мавене и готова для копирования в Эклипс. Если только для Эклипса, то можно скачать с Дженкинса или нового сайта.

[2015-11-06 11:37] bogachev-pa commented on #258
При использовании `openjdk 8u66`, если создать простейший проект с вызовом метода `SWT_AWT.new_Frame()`, `jvm` падает с той же ошибкой.

Сегодня потестил `oracle jdk 8u66`. Все работает (и граф и тестовый проект). Предлагаю соответствующим образом поправить инструкцию и настройки мавена, чтобы использовать `oracle jdk` по крайней мере до тех пор, пока `openjdk` не исправят у себя эту проблему.

[2015-11-06 15:37] aurusov commented on #258
Согласен. Поправишь (прямо в release/current) ?

[2015-11-06 16:17] abelozerov93 opened #261 "Ошибка в модели fms.rao"
В операции

[code]

при подборе релевантных ресурсов не указано положение робота. Его необходимо указать, поскольку в момент начала операции необходимо, чтобы робот находился в том же положении, что и станок.
( операция Возврат_робота() будет всегда возвращать робота в положение Тележка.1К, как только он станет свободным, отсюда видно,что в момент начала операции Перегрузка_со_станка_на_тележку ро

[2015-11-06 16:51] bogachev-pa commented on #258
Если это не срочно, то я бы отложил до понедельника, т.к. буду очень занят в выходные.

[2015-11-06 16:55] aurusov commented on #258
ok

[2015-11-07 18:52] aurusov opened #262 "Вершины алогритма A* не должны хранить список потомков"
Вот от [этого](https://github.com/aurusov/rdo-xtext/blob/release/current/ru.bmstu.rk9.rao.lib/src/ru/bmstu/rk9/rao/lib/dpt/DecisionPointSearch.java#L124) надо избавиться.

[2015-11-08 09:41] asquad commented on #207
![xkpyvxw](https://cloud.githubusercontent.com/assets/1443857/11019681/8a82f940-8614-11e5-8d0f-b95b42c04df4.png)
Прикрутил стандартное окошко. Все работает.
Есть вопрос: я достаю из настроек среды значение, показывающее, прожимал ли пользователь чекбокс "Запомнить моё решение" ранее. Делаю это также, как делал визард создания ява-проекта - через internal-библиотеки. При этом вешается варнинг, гово

[2015-11-08 09:54] bogachev-pa commented on #207
Без кода трудно что-то ответить. Поребейзись на последний `release/current` и открывай пул-реквест на ветку `release/2.11`.

В сообщении к коммиту укажи имя таски:
`<описание коммита> (aurusov/rdo-xtext#207)`

[2015-11-08 10:04] asquad commented on #207
Окей, как до дома доберусь.

[2015-11-08 11:39] aurusov commented on #207
Эклипс в любой момент может поменять internal-библиотеку. Скорее всего, ворниг предупреждает об этом (не читал его). Конечно, лучше найти api-решение. Если поиск ничего не даст, то оставим так.

[2015-11-08 19:03] AlexChernov opened #263 "Ошибка поиска по графу"
Нужно исправить алгоритм поиска.

Должен быть такой:
- корневая вершина помещается в список Open
- достается очередная вершина из списока Open, с минимальной `f`
- она проверятеся с конечной, если да, то выход (**ничего больше делать не надо**)
- вершина порождает потомков или сразу списком или по одному (это не важно)
- потомки еще на стеке, их нет ни в одном из списков
- для каждого потомка запу

[2015-11-09 08:59] aurusov commented on #263
Паша предложил годное решение https://github.com/aurusov/rdo-xtext/pull/253#issuecomment-154731783

[2015-11-09 11:57] aurusov commented on #261
Да что же такое. В какой репе живет указанная модель ?

[2015-11-10 14:12] aurusov commented on #261
@abelozerov93, ошибка заведена не в том репозитарии. Вы понимаете, куда её надо перенести ?

[2015-11-10 18:33] aurusov opened #265 "Перейти в Эклипсе на maven-проекты"
Хочется начать использовать мавен-проект для сборки РДО
- чтобы не поддерживать оба типа проектов
- чтобы не поддерживать во многих местах версии (https://github.com/aurusov/rdo-xtext/blob/release/current/gitflow.md)
- чтобы не поддерживать во многих местах требования к версиям (https://github.com/aurusov/raox-game5/issues/62)

[2015-11-10 18:54] abelozerov93 commented on #261
В rdo-text-models

[2015-11-10 18:57] abelozerov93 commented on #261
Все перенес

[2015-11-10 20:37] aurusov commented on #261
Переехало сюда https://github.com/aurusov/rdo-xtext-models/issues/4

[2015-11-10 20:37] #261 closed, assigned to nobody

[2015-11-11 09:49] bogachev-pa commented on #263
Ещё проблема:
Проверять потомков при их порождении неправильно, т.к. если стоимость шагов будет неодинаковой и более одного потомка с разной стоимостью приводят к решению, мы можем выбрать не того. Именно поэтому проверка и осуществлялась раньше при раскрытии вершины. Надо переделать по-другому.

[2015-11-11 10:20] aurusov commented on #263
Ты говоришь про смену родителя. Если этой процедуры нет, то это вообще залет. Нужно ставить БАГУ.

[2015-11-11 11:34] bogachev-pa commented on #263
Нет, я говорю про проверку на решение. Смена родителя есть. Пишу здесь, потому что это связанные проблемы, и алгоритм надо в целом переработать.

[2015-11-11 12:26] aurusov commented on #263
Хм.. Смена родителя подразумевает сравнение со всеми вершинами из списков Open и Closed. Или ты говоришь, что надо сначала породить всех непосредтсвенных потомков, а только потом проверять на решение ?

[2015-11-11 12:37] bogachev-pa commented on #263
Допустим мы породили двух потомков, текущая `g = 1`, стоимость пути до первого потомка `2`, стоимость пути до второго потомка `1`. Пусть они оба ведут к решению (в пятнашках это невозможно, но `A*` не запрещает). Сейчас мы будем последовательно проверять их на решение никак не сортируя по значению `f`. И выберем первого потомка в качестве решения, хотя оно дороже, чем решение через второго потомка

[2015-11-11 12:57] aurusov commented on #263
Пример понятен, остальное путано. Всё же просто
- достается очередная вершина из списока Open, с минимальной `f`
- она проверятеся с конечной, если да, то выход (**ничего больше делать не надо**)
- вершина порождает потомков или сразу списком или по одному (это не важно)
- потомки еще на стеке, их нет ни в одном из списков
- для каждого потомка запускает процедура смены родителя, после чего он или

[2015-11-11 13:08] bogachev-pa commented on #263
Вы все описали правильно, а заимплеменчено сейчас не так. Это я и пытался сказать.

[2015-11-11 13:22] aurusov commented on #263
Заведешь задачу ?

[2015-11-11 13:28] bogachev-pa commented on #263
Предлагаю решать в рамках этой таски, обновил шапку.

[2015-11-12 17:16] #262 closed, assigned to nobody

[2015-11-12 19:10] #207 closed, assigned to nobody

[2015-11-13 09:43] LeKaitoW opened #268 "Перемещение по графу вверх"
Перенесено из: https://github.com/aurusov/raox-game5/issues/58

Для любой вершины, кроме рута, надо дать возможность ходить вверх.
![9985c146-83b4-11e5-9a7f-45c7721fb10b](https://cloud.githubusercontent.com/assets/10632455/11143144/14ebbfe8-8a04-11e5-876d-6fac431a9413.png)

[2015-11-14 09:09] AnanasCocos opened #271 "Лаб раб Пятнашки"
.evaluate() работает только с int, когда я использовала double в своей эвристике, модель выдавала эту ошибку. Я конвертировала double в int, ошибка не исчезла. Последний шаг - ввод в окно Heuristic Code кода из программы c измененным названием и ошибка не исчезла (фото прикреплены):

[code]

![rdo1](https://cloud.githubusercontent.com/assets/15844161/11162883/870bcd30-8ac6-11e5-8097-a09a850c59e9.p

[2015-11-14 09:18] bogachev-pa commented on #271
Не видно полностью поля `Heuristic`, что там?

[2015-11-14 09:25] AnanasCocos commented on #271
То, что я написала в прикрепленном коде, то и в окошке.

[2015-11-14 09:27] bogachev-pa commented on #271
Поле `Heuristic`, не `Heurisric code`. Там, где эвристика выбирается, а не описывается.

[2015-11-14 09:29] AnanasCocos commented on #271
Расстояние_фишки_до_места_2()

[2015-11-14 09:31] AnanasCocos commented on #271
Расстояние_фишки_до_места_2()

[2015-11-14 09:31] bogachev-pa commented on #271
Функция

[code]

принимает два параметра.

Ошибка возникает из-за того, что в поле выбора эвристики ей не передается ни одного:

[code]

Ошибка исчезнет, если написать, например, так:

[code]

[2015-11-14 09:53] AnanasCocos commented on #271
Спасибо. Извини, можешь удалить

[2015-11-14 09:57] bogachev-pa commented on #271
нп

[2015-11-14 09:57] #271 closed, assigned to nobody

[2015-11-24 13:16] #268 closed, assigned to nobody

[2015-11-24 19:46] aurusov commented on #263
Ведь всё исправлено ?

[2015-11-24 20:01] bogachev-pa commented on #263
Да.

[2015-11-24 20:01] #263 closed, assigned to nobody

[2015-11-24 21:00] aurusov opened #274 "Пропало слово eclipse из имени артефакта"
http://rdo.rk9.bmstu.ru:81/job/raox-eclipse-linux-x64/ws/assembly/target/
`raox-2.11.0-linux-x64.zip` вместо
`raox-eclipse-2.11.0-linux-x64.zip`

[2015-11-24 21:26] #274 closed, assigned to AlexChernov

[2015-11-24 21:37] #43 closed, assigned to bogachev-pa

[2015-11-27 18:49] bogachev-pa opened #277 "Гарантировать воспроизводимость порядка эвентов в планировщике"
В данный момент эвенты в планировщике сортируются по времени их выполнения. При этом, если время выполнения совпадает, они будут выполнены в общем-то в рандомном порядке (`PriorityQueue` не гарантирует никакой сортировки для элементов, [компаратор](https://github.com/aurusov/rdo-xtext/blob/release/current/ru.bmstu.rk9.rao.lib/src/ru/bmstu/rk9/rao/lib/event/EventScheduler.java#L16) которых вернул 0

[2015-11-28 13:48] aurusov opened #278 "Докумертация на поднятие мавер-репозитория"

[2015-11-28 23:23] AlexChernov commented on #278
Добавил в [Документ](https://docs.google.com/document/d/1pM7-K6T5Ya82p6CpBetuj1xvWJZb65umPQlzBR4ddx8/edit#heading=h.nseyphn1wd59)

[2015-11-29 13:25] aurusov commented on #278
ok

[2015-11-29 13:25] #278 closed, assigned to AlexChernov

[2015-12-03 08:16] bogachev-pa commented on #258
Ридми поправилен, думаю, можно закрыть.

[2015-12-03 08:16] #258 closed, assigned to bogachev-pa

[2015-12-05 11:22] AlexChernov opened #281 "Добавить исходники к джарникам"
Добавить профиль со сборкой джарников с исходниками

[2015-12-05 14:40] bogachev-pa commented on #147
Готово.

[2015-12-05 14:40] #147 closed, assigned to bogachev-pa

[2015-12-05 20:35] aurusov opened #282 "Заменить сайт в информации о плагине"
На `raox.ru`

![2015-12-05 23-34-12 eclipse installation details](https://cloud.githubusercontent.com/assets/5585202/11610060/c5a9e002-9ba8-11e5-9d2c-fa258552157a.png)

[2015-12-05 20:38] #244 closed, assigned to AlexChernov

[2015-12-07 18:13] aurusov commented on #227
Ага. Значит там где-то есть контрольная сумма. Её надо пересчитать после добавления наших файлов.

[2015-12-07 18:24] aurusov commented on #227
Если сгенерировать новую сумму не получится (это вообще гипотеза), то давай сделаем архив только с плагинами, без изменения в конфиг или еще какие-то файлы Эклипса.

[2015-12-12 13:31] aurusov opened #285 "Добавить возможность нескольких OutputDock для InputDock"

[2015-12-19 09:22] bogachev-pa commented on #230
Более-менее устоялась. Классы по именам файлов, в них все элементы модели представлены полями/методами/вложенными классами. Все классы в одном `package`.

[2015-12-19 09:22] #230 closed, assigned to bogachev-pa

[2015-12-19 09:23] bogachev-pa commented on #231
Основное сделано. Для оставшихся проблем будут созданы отдельные таски.

[2015-12-19 09:23] #231 closed, assigned to bogachev-pa

[2015-12-19 09:24] bogachev-pa opened #286 "Работа с ресурсами в Xbase"
Реализовать полноценную работу с ресурсами в `Xbase`: создание, хранение, удаление, назначение имен.

[2015-12-19 09:26] bogachev-pa opened #287 "Сериализация в Xbase"
Настроить сериализацию в `Xbase`.
Возможные вопросы:
- стоит ли использовать стороннюю библиотеку для сериализации или оставить свой формат?
- как сериализовать и выводить информацию о произвольных типах?

[2015-12-19 18:12] aurusov commented on #286
С этой задачей всё ?

[2015-12-19 18:13] aurusov commented on #287
Зафиксируй к чему сегодня пришли. Мы не обсудили сторонние библиотеки сериализации.

[2015-12-19 18:50] bogachev-pa commented on #286
Да, пожалуй, закрою. Вопросы с менеджером ресурсов буду решать в отдельной задаче по реализации подхода сканирования активностей.

[2015-12-19 18:50] #286 closed, assigned to bogachev-pa

[2015-12-19 18:51] bogachev-pa opened #288 "Реализовать подход сканирования активностей в Xbase"

[2015-12-19 18:55] bogachev-pa commented on #287
Обсудили два варианта:
1. Использовать метод `toString()` у всех объектов и дальше уже работать с сериализацией строк.
2. Сериализовывать объекты джававскими методами при записи в БД, десериализовывать при считывании.

Решили, что метод 2 предпочтительнее (хоть и кажется, что первого на данный момент хватит).

Также обсудили возможность добавления еще одного окна, которое позволит отобразить полны

[2016-01-17 15:00] bogachev-pa opened #290 "Использование последовательностей в xbase"

[2016-01-19 08:48] bogachev-pa commented on #93
Чтобы потом не забыть: это исправлено в ветке по `xbase`.

[2016-01-19 08:56] bogachev-pa commented on #36
Чтобы потом не забыть: это исправлено в ветке по `xbase`.

[2016-01-20 10:42] bogachev-pa commented on #220
Чтобы потом не забыть: это исправлено в ветке с `xbase`.

[2016-01-30 23:24] bogachev-pa commented on #290
Начальная работа над последовательностями завершена. Есть возможность создавать все те последовательности, что и раньше, плюс появились генераторы и генераторные последовательности.

По порядку.

Последовательности, реализующие стандартные законы распределения (можно так же, как и раньше, не задавать параметры в конструкторе, а указывать их при вызове `next()`).

[code]

Последовательности, заданн

[2016-01-31 09:27] aurusov commented on #290
Имена

[code]

[2016-01-31 14:04] bogachev-pa commented on #290
@aurusov
Сделал, как обсудили. Синтаксис теперь полностью соответствует вашему [посту](https://github.com/aurusov/raox/issues/290#issuecomment-177447504).

[2016-01-31 19:58] aurusov commented on #290
Отлично. Тогда закрывай.

[2016-01-31 20:09] #290 closed, assigned to bogachev-pa

[2016-01-31 20:10] bogachev-pa commented on #205
Чтобы потом не забыть: это решено в ветке с интеграцией `xbase`.

[2016-01-31 20:11] bogachev-pa commented on #202
Чтобы потом не забыть: это решено в ветке с интеграцией `xbase`.

[2016-01-31 20:36] bogachev-pa commented on #290
@aurusov
Оказалось, что в `xbase` можно из коробки объявлять массивы следующим образом:

[code]

Что в джаве разворачивается в:

[code]

Если хочется, можно попробовать избавиться от этой решетки и слегка изменить синтаксис `Closure`, чтобы избежать конфликтов.
Правда тогда не очень понять, что делать с аналогичной грамматикой для `Set`:

[code]

[2016-01-31 21:18] aurusov commented on #290
Нормальное решение. `Closure` лучше не трогать.

[2016-02-13 09:49] aurusov opened #292 "Сериализация диаграммы процесса"
Надо реализовать функции
- сохранение
- считывание

[2016-02-13 09:51] aurusov opened #293 "Запуск процессной модели"
@LeKaitoW
Опиши по шагам процесс запуска

[2016-02-13 09:52] aurusov opened #294 "Добавить связи на диаграмму процессного подхода"

[2016-02-13 17:12] bogachev-pa opened #295 "Плеер состояний модели"
Нужно получить возможность как-то эффективно сохранять все состояния, которые принимала модель в процессе прогона, и предоставить механизм для разничных вариантов просмотра этих состояний.

Некоторая базовая информация:

В моей ветке по иксбейзу сделано так, что состояние модели хранится в едином месте в [симуляторе](https://github.com/bogachev-pa/rdo-xtext/blob/feature/xbase/ru.bmstu.rk9.rao.lib/

[2016-02-14 17:00] bogachev-pa opened #296 "Исправить работу с приоритетами в дпт"
В данный момент приоритет дпт никак не учитывается на глобальном уровне, только среди дочерних дпт.

[2016-02-18 11:47] #285 closed, assigned to LeKaitoW

[2016-02-18 11:47] #225 closed, assigned to LeKaitoW

[2016-02-18 11:48] #224 closed, assigned to LeKaitoW

[2016-02-18 11:48] #223 closed, assigned to LeKaitoW

[2016-02-20 09:27] aurusov commented on #292
Проверь, записываются ли линки.

[2016-02-20 10:29] bogachev-pa commented on #296
Задача решена в ветке с `xbase`.

[2016-02-20 10:33] #296 closed, assigned to bogachev-pa

[2016-02-20 10:33] #202 closed, assigned to bogachev-pa

[2016-02-20 10:34] #205 closed, assigned to bogachev-pa

[2016-02-20 10:35] bogachev-pa commented on #117
Решено в ветке с `xbase`.

[2016-02-20 10:35] #117 closed, assigned to bogachev-pa

[2016-02-20 10:41] #93 closed, assigned to bogachev-pa

[2016-02-20 17:08] timyrka67 opened #297 "Реализовать дамп состояний модели через наблюдателя"
Текущий подход с врапером onStateChange кажется неправильным.

[2016-02-20 17:13] timyrka67 opened #298 "Перевести объект ModelStateStorage в JSON"
Массив состояний модели это объект мира RAOX нужно его перевести в объект JSON.

[2016-02-20 17:17] timyrka67 opened #299 "Добавить структуру объекта RAOX в JSON представление"
Это вполне вроде как дополнение к #298.
Я не совсем представляю как это должно выглядеть.

[2016-02-20 19:52] aurusov commented on #299
@bogachev-pa
Паша, приведи ссылку на структуру модели плиз.

[2016-02-20 21:32] bogachev-pa commented on #299
А что именно нужно?

Вот [тут](https://github.com/bogachev-pa/raox/blob/feature/xbase/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/execution/ExecutionJobProvider.java#L127) можно посмотреть как выглядит ее `stub`.
Вот [тут](https://github.com/bogachev-pa/raox/blob/feature/xbase/ru.bmstu.rk9.rao.lib/src/ru/bmstu/rk9/rao/lib/database/Database.java#L88) пример того, как база данных читала структуру пр

[2016-02-20 21:35] bogachev-pa commented on #194
Неактуально в связи с `xbase`.

[2016-02-20 21:35] #194 closed, assigned to bogachev-pa

[2016-02-20 21:35] #36 closed, assigned to bogachev-pa

[2016-02-20 21:37] bogachev-pa commented on #124
Уже неактуально, т.к. в `xbase` это все из коробки.

[2016-02-20 21:37] #124 closed, assigned to bogachev-pa

[2016-02-20 21:38] bogachev-pa commented on #184
Решено в `xbase`.

[2016-02-20 21:38] #184 closed, assigned to bogachev-pa

[2016-02-20 21:41] #220 closed, assigned to bogachev-pa

[2016-02-20 21:42] bogachev-pa commented on #136
Неактуально в связи с `xbase`.

[2016-02-20 21:42] #136 closed, assigned to bogachev-pa

[2016-02-21 13:54] aurusov commented on #299
@bogachev-pa
Имел в виду вторую ссылку, спасибо

@timyrka67
Понимаешь, откуда её взять ?

[2016-02-25 12:36] LeKaitoW commented on #292
Каждый блок имеет два списка линков: `SourceConnectionsArray` и `TargetConnectionsArray`. В эти списки и записываются линки.

[2016-02-25 13:05] bogachev-pa opened #300 "Контроль подбора релевантных ресурсов"
Существовавшие ранее "конверторы" были давно удалены, однако некоторый функционал, который они предоставляли, хотелось бы иметь в каком-то новом, расширенном виде.

В частности:
- подбор ресурсов на чтение и изменение с проверкой, что больше никем он в данный момент не выбран вообще
- подбор ресурсов только на чтение с проверкой, что он больше никем на данный момент не выбран на изменение

В общем

[2016-02-27 11:23] #132 closed, assigned to AlexChernov

[2016-02-27 11:27] #281 closed, assigned to AlexChernov

[2016-02-27 11:43] aurusov opened #301 "Выбрать либу для сбора статистики"
Хочется обзор из пары либ от известных брендов. Для питона есть отличная либа http://www.numpy.org/.

[2016-02-29 12:15] aurusov commented on #265
Что с задачей ?

[2016-02-29 19:53] AlexChernov commented on #265
Напишу инструкцию завтра. Вроде работает интеграция. Пока не нашел автоматическую пересборку

[2016-03-01 18:45] AlexChernov commented on #265
Import -> Maven -> Existing Maven Project -> Next
Выбираем Root Directory -> Finish
Ждем импорт, в первый раз довольно долго, соглашаемся, когда предлагает установить недостающие плагины
Создаем конфигурацию запуска (Run Configuration..)
Eclipse Application -> Run
Автосборка работает из коробки

[2016-03-03 18:20] AlexChernov commented on #123
Итого, как это будет выглядеть в грамматике:

[code]

или

[code]

[code]

[2016-03-03 21:07] LeKaitoW commented on #293
1. Считывание файла процессного подхода
2. Считывание объекта `Model` из файла
3. Создание блоков процессного подхода в соответствии с графическими блоками (потомками объекта `Model`
4. Создание связей между блоками процессного подхода
5. Добавление созданных блоков в список `processBlocks` симулятора

[2016-03-04 14:54] aurusov commented on #123
Что означают `manual/auto` ?
Составить таблицу или просто пять примеров для старых пяти типов собираемых показателей.

[2016-03-06 11:02] bogachev-pa commented on #300
Добавил простую поддержку свойства `accessible` у ресурсов.

[2016-03-12 09:15] #293 closed, assigned to LeKaitoW

[2016-03-12 09:15] #292 closed, assigned to LeKaitoW

[2016-03-12 09:31] LeKaitoW opened #302 "Реализация Resource в процессном подходе"

[2016-03-12 09:33] LeKaitoW opened #303 "Реализация параметров блоков процессного подхода"
- [x] Интервал Generate
- [x] Длительность Advance
- [x] Ресурс Seize/Release
- [x] Условие прохода Test (вероятность)
- [x]  Вместимость Queue
- [x] Дисциплина в Queue (FIFO, LIFO)

[2016-03-12 09:36] LeKaitoW opened #304 "Дизайн блоков"

[2016-03-12 10:06] bogachev-pa opened #305 "Реализовать анимацию с Xbase"

[2016-03-12 10:07] bogachev-pa opened #306 "Реализовать search с Xbase"

[2016-03-12 10:08] aurusov opened #307 "Реализовать сбор показателей с Xbase"

[2016-03-14 11:51] LeKaitoW commented on #304
Обновление блоков:
![default](https://cloud.githubusercontent.com/assets/10632455/13743672/346e4b24-e9f4-11e5-90aa-250bb44d5e16.PNG)

[2016-03-14 12:03] aurusov commented on #304
1. Я бы сделал всех одного цвета.
2. seize/release лучше поменять местами, м.б. обрезать до половинок
3. queue сделал бы как тут http://math.stackexchange.com/questions/424714/utilization-difference-between-a-multiple-server-single-queue-and-a-multiple-se, а то сейчас это решетка какая-то

[2016-03-19 21:13] timyrka67 opened #308 "Реализовать чтение состояний модели из JSON"
Дамп написан. Нужно научится создавать объект JSON из json файла

[2016-03-19 21:28] #308 closed, assigned to timyrka67

[2016-03-19 21:29] #297 closed, assigned to timyrka67

[2016-03-19 21:30] #298 closed, assigned to timyrka67

[2016-03-21 11:45] bogachev-pa opened #309 "Разрешить создавать типы ресурсов без параметров"

[2016-03-21 11:48] bogachev-pa commented on #179
С `xbase` работает из коробки.

[2016-03-21 11:48] #179 closed, assigned to bogachev-pa

[2016-03-21 12:57] timyrka67 opened #310 "GUI перспектива для плеера"
Создать перспективу на примере текущей перспективы РДО.
Желательно чтобы все общее между перспективами лежало отдельно. Дабы проще поддерживать.

[2016-03-22 20:30] #302 closed, assigned to LeKaitoW

[2016-03-22 20:31] LeKaitoW opened #311 "Обработка ошибок графического редактора"
1. Вывод сообщения об ошибке
2. Позиционирование на блок с ошибкой

Надо предусмотреть
1. что процессных окошек может быть несколько
2. они могут могут быть закрыты
3. хочется, чтобы механимз сообщений об ошибках был единым с текстовым компилятором модели, и в смысле вывода в одно общее окошко и в смысле проектного решения в коде (общие предки/интерфейсы и т.д.)

[2016-03-23 11:32] bogachev-pa commented on #62
В ветке с`xbase` `ModelStructureCache` больше нет.

[2016-03-23 11:32] #62 closed, assigned to bogachev-pa

[2016-03-26 06:21] LeKaitoW commented on #304
Новый цвет:
![color](https://cloud.githubusercontent.com/assets/10632455/14058533/10742fb0-f334-11e5-909e-bff58a11cf27.PNG)

[2016-03-26 12:50] aurusov commented on #304
Давай чуть темнее
![-1](https://cloud.githubusercontent.com/assets/5585202/14060122/6c89d1f2-f36a-11e5-8fef-6cc1cf3fce1a.png)
![-3](https://cloud.githubusercontent.com/assets/5585202/14060124/6cb5df04-f36a-11e5-8525-194656cea886.png)
![-2](https://cloud.githubusercontent.com/assets/5585202/14060123/6cb4272c-f36a-11e5-9503-8fba41e16392.png)

[2016-03-26 18:26] bogachev-pa commented on #304
@aurusov
По-моему, текущий вариант выглядит лучше.

Вообще. нам бы как-то увязать все цвета, которые мы используем в разных частях `ui` друг с другом. Мы с Лешей и Олей обсуждали сейчас цвета и пришли к выводу, что, наверное, нам нужно выбрать какую-то палитру и брать цвета для всех компонентов только оттуда.
Иначе у нас сейчас все вразнобой и выглядит не очень серьезно.

[2016-03-27 10:27] bogachev-pa commented on #287
Восстановил сериализацию ресурсов.
На данный момент остались:
- [x] сериализация поиска по графу
- [ ] сериализация результатов
- [ ] специальная обработка енумов при сериализации - чтобы можно было строить по ним графики

[2016-03-27 10:31] bogachev-pa commented on #288
На данный момент осталось:
- исправить тип релевантных ресурсов, подобранный комбинаторно, на истинный (на данный момент их поля это просто `Resource`)

[2016-03-27 10:42] bogachev-pa commented on #309
Готово.

[2016-03-27 10:42] #309 closed, assigned to bogachev-pa

[2016-03-27 10:51] bogachev-pa commented on #33
В `xbase` путаница устранена, везде храним полные имена `имя_проекта.имя_модели.простое_имя`.
В связи с чем убрал приписывание постфикса `_project` к создаваемым проектам.

[2016-03-27 10:51] #33 closed, assigned to bogachev-pa

[2016-03-27 11:55] #233 closed, assigned to bogachev-pa

[2016-03-27 15:16] LeKaitoW opened #312 "Трассировка процессного подхода"
`PR` `время` `блок` `параметры блока`

[2016-03-27 15:55] aurusov opened #313 "Классификация ошибок процессного подохода"
Добавить типы ошибок
1. warning
2. error

Хочется помечать блоки и выведенные ошибки тем же стилем, как и для кода.

[2016-03-27 15:57] aurusov opened #314 "Запретить дублирование выходных связей у блоков"

[2016-03-27 16:04] aurusov commented on #304
Идея с палитрой норм. Только делать её точно не надо, поищите в инете, накидайте ссылок прям сюда.

[2016-03-27 16:20] aurusov opened #315 "Вкладка процессного подхода"
1. Исправить расширение файла на `*.proc`
2. Имя вкладки должно быть как у файла
3. Открывать палитру по умолчанию
   ![2016-03-27 19-21-46 rao - barber_project barber grao - eclipse platform](https://cloud.githubusercontent.com/assets/5585202/14066396/37d51dc6-f451-11e5-8ff6-adc5892035fb.png)

[2016-03-27 16:27] aurusov opened #316 "Автоматические связи между блоками"
1. При drag and drop, если блоки оказываются близко, то связь между ними выставляется автоматически
2. По двойному клику на док (aurusov/raox#317) система переходит в режим линка, начинает тянуть связь. По одинарному клику на конечный док, связь создается, система возвращается в режим выбора.

[2016-03-27 16:28] aurusov opened #317 "Добавить визуальные доки для блоков"

[2016-03-27 19:50] aurusov opened #318 "После изменения свойст блоков невозможно сохранить модель"
Менял интервал у Generate. Кнопка записи не появилась, при компиляции ошибка про пустую строку. Пришлось изменить положение блока на экране. Кнопка записи появилась, модель запустилась.

Подробное описание
https://github.com/aurusov/raox/issues/357

[2016-03-28 21:29] aurusov opened #319 "Не обновляется прокрутка редактора процесса"
Если утащить блок влево, то он безвозвратно пропадет.

[2016-03-29 06:07] aurusov opened #320 "Удаление связи"
Создаем модель generate + terminate + связь между ними. Все три объекта выделяются. Удаляем generate, связь перестает выделяется, её нельзя удалить. terminate выделяется. Если его удалить, то связь опять можно выделить и удалить.

[2016-03-29 11:25] LeKaitoW commented on #315
1. Исправлено
2. Исправлено
3. Палитра теперь открывается при каждом открытии файла, не зависимо от того, закрыл пользователь палитру или нет. Если же нам необходимо только первое открытие, то это нужно прописывать в файле `.ini` эклипса.

[2016-03-29 17:15] aurusov commented on #315
_3. пока так поживем

[2016-03-29 19:44] #315 closed, assigned to LeKaitoW

[2016-03-29 20:57] LeKaitoW commented on #314
Сделано.

[2016-03-29 20:57] #314 closed, assigned to LeKaitoW

[2016-03-30 06:21] aurusov commented on #303
Тут всё ?

[2016-03-30 06:24] aurusov opened #321 "Изменить дизайн Queue"
Надо оторвать границу слева, как тут ![url](https://upload.wikimedia.org/wikibooks/en/5/5a/Step_2._Creating_a_simple_model_6.png)

[2016-03-30 06:26] aurusov opened #322 "Добавить слои в блоки процессного подхода"
Отрисовка элементов фигуры (shape/docs/text) не должна думать об offset'а. Об это должен думать родитель. Надо правильно настроить слои.

[2016-03-30 07:54] LeKaitoW commented on #303
По списку в первом сообщении -- да.
Но достаточно ли в `Test` только вероятности?

[2016-03-30 08:17] aurusov commented on #303
Хочется еще и по условию, которое ты пишешь руками. Сложно добавить ?

[2016-03-30 09:33] LeKaitoW commented on #303
Условие должно быть связано с параметрами транзактов. Пока не обдумывала, как их задавать.
После этого появится необходимость как-то парсить/компилировать условие. Если только писать а-ля GPSS сравнение `A, B`. Получается не очень гибко.
TL;DR: Сложно, заслуживает отдельной таски.

[2016-03-30 14:33] aurusov commented on #303
Главное, чтобы в условии можно было написать любое xbase-выражение, в том числе и проверка параметров транзакта.

[2016-03-30 14:44] aurusov opened #323 "Изменить дизайн Hold"
Хочется видеть часы, например,
![url](https://upload.wikimedia.org/wikibooks/en/5/5a/Step_2._Creating_a_simple_model_6.png)

[2016-03-30 14:51] aurusov opened #324 "Изменить названия блоков"
@bogachev-pa @LeKaitoW @AlexChernov
- `Advance` -> `Delay`. Потому что второе намного ближе к сути. Проще думать транзактом, который создается, удаляется, задерживается и т.д. Не все блоки этому соотвествуют, например, Advance.
- `Test` -> `?`. Потому что Test для меня несет образ ассемблера, особенного его GPSS версия, со всякими G, L, E и т.д., а не языка высокого уровня. Что посоветуете ?
  - h

[2016-03-30 15:23] bogachev-pa commented on #324
Некоторые мысли:
Если мы рассуждаем от лица транзакта, то `Test` превращается в `Decide`/`Decision`, `Choose`/`Choice` или `Select`.
Если от лица системы, которая транзактов распределяет, то это `Route` (в принципе, `Select` с этой точно зрения тоже имеет смысл).
Можно еще нейтральные названия, которые отражают то, что это развилка: `Fork`, `Junction`.

Честно говоря, не знаю, какой из вариантов п

[2016-03-30 16:49] aurusov commented on #324
Мне хотелось бы от лица транзакта. Хотя в той же Арене были и блок `Decide` и `Route` (что-то типа телепорта на блок `Station`)

[2016-03-30 16:53] aurusov commented on #324
Мне больше нравится слово `Select`, но без существительного как-то не то, поэтому.
`Test` -> `SelectOutput`, `SelectPath`, `SelectRoute` или `ChooseOutput`, `ChoosePath`, `ChooseRoute`

[2016-03-30 17:02] bogachev-pa commented on #324
Из этих вариантов мне нравится `SelectRoute`.

Насчет `Delay` - мне, в принципе, нравится, в качестве альтернативы могу предложить `Wait`.

[2016-03-30 20:18] LeKaitoW commented on #312
Пример трассировки:
![trace](https://cloud.githubusercontent.com/assets/10632455/14156156/99907f00-f6cd-11e5-940a-60a42c69faa9.PNG)

[2016-03-30 20:27] LeKaitoW commented on #324
- `Advance`. Вариант `Delay` хороший, но если нужны ещё варианты: `Wait`, `Hold` (второй вариант имеет много значений: https://translate.yandex.ru/?text=hold&lang=en-ru).
- `Test`. Нравится `Decision`, но он не очень описывает блок, как мне кажется. Лучшие варианты -- `SelectPath`/`SelectRoute`

[2016-03-30 20:30] LeKaitoW commented on #312
Упс, случайно закрыла таску.

[2016-03-30 20:39] bogachev-pa commented on #324
`Hold`, кстати, хорош тем, что он ближе к процессу обслуживания, в отличие от `Delay` и `Wait`, которые говорят только о времени. Так что этот вариант мне тоже нравится.

[2016-03-31 06:01] aurusov commented on #312
1. А цвет прям точно тот ? Кажется темнее
2. Что еще осталось по задаче ?
3. Где пул-реквест ?

[2016-03-31 06:03] aurusov commented on #324
Ага, тогда предлагаю
- `Advance` -> `Hold`
- `Test` -> `SelectPath`

ok ?

[2016-03-31 07:33] bogachev-pa commented on #324
Слово `Route` на мой взгляд чуть ближе к "направлению", чем `Path`, но я не против `SelectPath` тоже.

[2016-03-31 07:44] aurusov commented on #324
Удалил это сообщение, потому что еще думаю.

[2016-03-31 08:22] LeKaitoW commented on #312
1. Точно тот.
2. Ничего. Не хотела закрывать таску, пока не посмотрите результат.
3. Работала в основной ветке. (По привычке. Впредь буду делать новые ветки пул-реквесты.)

[2016-03-31 08:27] LeKaitoW commented on #324
Ок!
Лучшие варианты, имхо.

[2016-03-31 09:30] bogachev-pa opened #325 "Исправить восстановление после ошибок инициализации"
Из-за перехода на двухэтапную схему инициализации симулятора восстановление после ошибок происходит некорректно, если эксепшн произошел между 1 и 2 этапами.

[2016-03-31 10:29] aurusov commented on #324
На работе меня убеждают, что лучше `Choose`, чем `Select`. Потому что первое про выбор пути, а второе скорее про выбор из множества. Я не носитель языка, мне `Select` больше нравится. Но спрашивал у чела, который шпрехает норм. Т.е.
- `Advance` -> `Hold`
- `Test` -> `ChoosePath`

Что думаете ?

[2016-03-31 10:42] bogachev-pa commented on #324
`Select` в данном случае - выбор из множества вариантов дальнейшего пути, разве нет? `Choose` выглядит так, будто транзакт может пойти куда угодно, а не только в те 2 возможных выхода, которые мы ему предоставили.

Я могу ошибаться, так что если `Choose` все-таки грамотнее, то давайте его.

Upd: погуглил, тут есть определения из словаря
http://english.stackexchange.com/a/13048

Т.к. у нас всё-таки

[2016-03-31 11:12] aurusov commented on #324
Слова оперделены друг через друга :) Короче, пофиг. По поводу `SelectPath`/`SelectRoute`, мне кажется они по сути одинаковы, но `SelectPath` проще говорить на лекции. Поэтому я за него. Ну и никто не мешает нам переделать после обстерла системы в боевый условиях (на студентах и лабах).

[2016-03-31 11:13] aurusov commented on #324
- `Advance` -> `Hold`
- `Test` -> `SelectPath`

ok ? (Для меня ok)

[2016-03-31 12:27] LeKaitoW commented on #324
Повторюсь -- ок! (Рада, что `Hold` пришелся кстати.)
И `Select` кажется приятнее, чем `Choose` по звучанию. :)

[2016-03-31 13:02] bogachev-pa commented on #324
Согласен с последними вариантами.

[2016-03-31 18:53] #325 closed, assigned to bogachev-pa

[2016-03-31 19:10] bogachev-pa opened #326 "Исправить обращение к сгенерированным типам"
Обращения к типам, сгенерированным нами (енумам, типам ресурсов и т.п.) требует полного имени, т.е. включая имя модели.

В данном примере:

[code]

Хочется получить:

[code]

[2016-04-02 09:30] #317 closed, assigned to aurusov

[2016-04-02 09:30] #312 closed, assigned to LeKaitoW

[2016-04-02 09:43] aurusov commented on #318
Не смог повторить на последних исходниках

[2016-04-02 09:43] #318 closed, assigned to LeKaitoW

[2016-04-02 09:45] aurusov opened #327 "Добавить Undo для редактора процессов"

[2016-04-02 09:46] aurusov opened #328 "Добавить привязку блоков к сетке"

[2016-04-02 09:49] LeKaitoW commented on #328
`getGraphicalViewer().setProperty(SnapToGrid.PROPERTY_GRID_VISIBLE, true);`

[2016-04-02 09:49] aurusov opened #329 "Добавить условие в SelectPath"

[2016-04-02 09:49] aurusov commented on #303
Добавление условия вынесено в отдельную таску https://github.com/aurusov/raox/issues/329.

[2016-04-02 09:49] #303 closed, assigned to LeKaitoW

[2016-04-02 09:51] #294 closed, assigned to LeKaitoW

[2016-04-02 09:51] aurusov opened #330 "Добавить создание ломаных, как в AnyLogic"

[2016-04-02 10:09] aurusov opened #331 "Сохранить параметры ресурсов"

[2016-04-03 08:42] aurusov opened #332 "Изменить дизайн Seize/Release"
Просто поменять местами шейпы.

[2016-04-03 09:52] #324 closed, assigned to LeKaitoW

[2016-04-03 09:54] aurusov opened #333 "Добавить палитру цветов"
@LeKaitoW @bogachev-pa @AlexChernov
Нужна палитра, чтобы трассировщик, графики, граф, редактор процессного подхода и др. черпали из неё цвета. Начало тут https://github.com/aurusov/raox/issues/304#issuecomment-201908842.

[2016-04-03 09:55] #304 closed, assigned to LeKaitoW

[2016-04-03 09:57] aurusov opened #334 "Оторвать название блока от блока"
Нужно оторвать и отрисовку и перемещение. Подзадачи
- увеличить размер шрифта
- название можно перемещать отдельно от блока
- если перемещается блок, то название (неважно где оно находилось) начинает перемещаться тоже

[2016-04-03 15:13] aurusov opened #335 "Добавить превью блоков в палитру"
Результат
![2016-05-16_09-25-19](https://cloud.githubusercontent.com/assets/5585202/15281925/367cffac-1b48-11e6-9dea-f5cd6d8b7efd.png)
![2016-05-16_09-24-50 2](https://cloud.githubusercontent.com/assets/5585202/15281922/316fb766-1b48-11e6-85ef-c993376fe507.png)

[2016-04-03 15:15] aurusov opened #336 "Добавить сглаживание для всех блоков"
Хочется сделать это в одном месте.

[2016-04-04 09:55] #322 closed, assigned to aurusov

[2016-04-04 10:04] #332 closed, assigned to aurusov

[2016-04-04 10:04] #323 closed, assigned to aurusov

[2016-04-04 10:04] #321 closed, assigned to aurusov

[2016-04-04 10:04] aurusov commented on #332
Результат https://github.com/LeKaitoW/raox/pull/26

[2016-04-04 10:05] aurusov commented on #323
Результат https://github.com/LeKaitoW/raox/pull/26

[2016-04-04 10:05] aurusov commented on #321
Результат https://github.com/LeKaitoW/raox/pull/26

[2016-04-04 10:13] aurusov commented on #336
Результат https://github.com/LeKaitoW/raox/pull/27

[2016-04-04 10:13] #336 closed, assigned to aurusov

[2016-04-07 09:52] LeKaitoW opened #337 "Добавить второй график через drag&drop"

[2016-04-09 11:42] timyrka67 opened #338 "Проигрывание анимации"
Анимиция работает в xbase. Нужно ее научится дергать как это происходит в симуляторе.

[2016-04-09 11:44] timyrka67 opened #339 "Запуск плеера по кнопке"
Сейчас плеер работает после окончания моделирования.
Нужно чтобы он начал работать по нажатию на кнопку play.

[2016-04-09 18:18] #339 closed, assigned to timyrka67

[2016-04-09 18:19] #310 closed, assigned to timyrka67

[2016-04-09 18:21] timyrka67 opened #340 "Кнопка стоп должена работать во премя проигрывания"

[2016-04-10 12:21] LeKaitoW opened #341 "Экспорт графиков в json"
Для регрессионного тестирования нужно уметь сохранять dataset графиков в json. Кажется важным для проверки результатов прореживателя.

[2016-04-10 12:22] LeKaitoW opened #342 "Экспорт графиков в csv"
Протестировать через открытие в Excel'е

[2016-04-10 12:24] LeKaitoW opened #343 "Хинт при наведении мышки на точку графика"
Задачу можно разбить на этапы
- отловить и преобразовать координаты мишки в координаты графика так, чтобы точка (0, 0) совпала с началом системы координат графика
- найти по координатам графика значения (x ,y) графика с учетом допуска
- вывести найденные значения в виде [balloon window](http://stackoverflow.com/a/8531537)

![2015-05-22 16 46 36](https://cloud.githubusercontent.com/assets/5585202/7

[2016-04-10 12:25] LeKaitoW opened #344 "Добавить возможность частичного Zoom Out"
Добавить возможность возвращения к предыдущему масштабу. Сейчас можно откатиться только в самый назад.

[2016-04-13 10:29] timyrka67 opened #345 "Создать модель, которая покрывает весь функционал плеера"
*Tracer
*Plot
*Graph
*Animation - самый высокий приоритет для плеера

[2016-04-13 10:58] bogachev-pa commented on #345
Скорее тогда "весь функционал плеера".

[2016-04-14 09:06] bogachev-pa opened #346 "Настроить content assist для имен методов, задаваемых через set"

[2016-04-14 09:08] bogachev-pa opened #347 "Добавить секцию импортов в модель"

[2016-04-14 11:55] bogachev-pa commented on #305
Все сделано.

[2016-04-14 11:55] #305 closed, assigned to bogachev-pa

[2016-04-14 14:18] aurusov commented on #305
Отлично. Приаттач скрин плиз.

[2016-04-14 14:33] timyrka67 opened #348 "При запуске перспективы rao дублируется перспектива плеера"
При первом запуске  перспективы rao дублируется перспектива плеера. Работает только тогда, когда в моделе уже отображаются обе перспективы.
 При переключении перспективы проблема исчезает.

[2016-04-15 16:33] #320 closed, assigned to LeKaitoW

[2016-04-15 21:30] bogachev-pa commented on #305
Визуально ничего не изменилось.
![anim](https://cloud.githubusercontent.com/assets/6528492/14575440/db1082fc-0372-11e6-9572-7742882230b2.png)

[2016-04-15 21:41] bogachev-pa commented on #347
Готово. Всякие классные фишки вроде подсказок, какой класс нужно поимпортить, ворнингов, что импорты не используются, автоматической организации импортов - получаем бесплатно.

[2016-04-15 21:41] #347 closed, assigned to bogachev-pa

[2016-04-16 09:36] aurusov commented on #347
Круто

[2016-04-16 10:49] aurusov commented on #306
Остались
- один баг
- cow

[2016-04-16 15:35] #340 closed, assigned to timyrka67

[2016-04-16 17:17] timyrka67 opened #349 "Добавить кнопку pause в плеер"

[2016-04-16 17:19] #349 closed, assigned to timyrka67

[2016-04-16 17:51] aurusov commented on #340
Разобрался ?

[2016-04-16 20:37] timyrka67 commented on #340
Да, там все же проблема была с потоками.

[2016-04-17 08:38] aurusov commented on #340
Круто

[2016-04-18 20:02] bogachev-pa commented on #306
Все готово.

[2016-04-18 20:02] #306 closed, assigned to bogachev-pa

[2016-04-18 20:45] bogachev-pa commented on #211
Проблема ушла в `feature/xbase`.

[2016-04-18 20:45] #211 closed, assigned to nobody

[2016-04-18 20:55] bogachev-pa commented on #65
Исправлено.

[2016-04-18 20:55] #65 closed, assigned to bogachev-pa

[2016-04-18 20:59] bogachev-pa opened #350 "Научить граф отображать различные запуски одной и той же search"
В данный момент в окошке сериализованных объектов появляется только одна вершина для каждой `search`, даже если они были запущены по несколько раз.
Надо отображать по вершине для каждого запуска поиска и иметь возможность строить граф по любому из них.

[2016-04-18 21:02] bogachev-pa opened #351 "В окне трассировки отсутсвует горизонтальный слайдер"
Если текст трассировки не влезает в нее целиком, должна быть возможность прокрутить содержимое окна трассировки вправо.

[2016-04-18 21:03] bogachev-pa opened #352 "В режиме без анимации отображается начало трассировки"
Вот так быть не должно:
![trace_befor](https://cloud.githubusercontent.com/assets/6528492/7333328/11a78972-eb74-11e4-8ecd-3ef700dbe0b0.png)

[2016-04-18 21:04] bogachev-pa opened #353 "Оптимизация окошка с деревом всех сериализуемых объектов"
После прогона модели с ~10000 клиентами, при попытке раскрыть в дереве список клиентов, окошко подвисает на 10-15 секунд. (На винде ещё хуже - даже запуск модели невозможен.)
Когда число клиентов достигает 28000, то возможен только Force quit.

Перенесено из https://github.com/bogachev-pa/raox/issues/21.

[2016-04-18 21:05] bogachev-pa opened #354 "Исправить tab order в окне поиска по трассировке"

[2016-04-18 21:05] bogachev-pa opened #355 "Сохранять конфигурацию traceConfig после перезапуска eclipse"
Для этого нужно сохранять её (вероятно в сериализованном виде) в файл в директории с моделью и пытаться загружать конфигурацию из файла при открытии документа.

Перенесено из https://github.com/bogachev-pa/raox/issues/17

[2016-04-18 21:06] bogachev-pa opened #356 "Восстановить Legacy-Tracer в xbase"
Продолжение https://github.com/bogachev-pa/raox/issues/6

[2016-04-19 19:55] aurusov opened #357 "Не загорается кнопка записи"
Проверялось на https://github.com/LeKaitoW/raox/commit/c3ec8556ac51f5e20a3dc583ca8c2ee2d36b88c5

Шаг 1
- загружаем Эклипс
- создаем проект визардом
- размещаем блок Generate
- сохраняем модель
- изменяем свойство интервал
- кнопка записи загорается
- закрываем Эклипс, **не сохраняя модель**

Шаг 2
- загружаем Эклипс
- **двойным кликом** выбираем блок, Generate внизу открывается окошко свойств
- из

[2016-04-19 19:56] aurusov commented on #357
Оля, попробуй половинным делением найти место, где стало лучше/хуже.

[2016-04-20 14:51] LeKaitoW commented on #357
Ни на одной из веток воспроизвести не смогла: кнопка записи загорается при любых изменениях.
Тестила на винде.
Версия эклипса: `Version: Mars.1 Release (4.5.1)`
Java: `Version 8 Update 45`

[2016-04-20 14:58] aurusov commented on #357
Протестил под Убунтой, не работает (https://github.com/LeKaitoW/raox/commit/c3ec8556ac51f5e20a3dc583ca8c2ee2d36b88c5)
- Убунта `Ubuntu 14.04.4 LTS`
- Эклисп `Version: Mars.2 Release (4.5.2) Build id: 20160218-0600`
- Джава `Java(TM) SE Runtime Environment (build 1.8.0_77-b03)`

Проверял на первом коммите, меняю интервал на шаге 1, не загорается. На втором шаге тоже. Начинает работает, когда делаю

[2016-04-20 15:01] bogachev-pa commented on #357
У меня работает. Тестил на ветке `feature/graphic_process`.

Убунту: `15.10`
Версия эклипса: `Version: Mars.2 Release (4.5.2) Build id: 20160218-0600`
Java: `Java(TM) SE Runtime Environment (build 1.8.0_77-b03)`

[2016-04-20 15:03] aurusov commented on #357
Проверь на другой ветке, первая ссылка.

[2016-04-20 15:33] bogachev-pa commented on #357
То же самое. Не воспроизводится.

[2016-04-21 17:32] aurusov opened #358 "Процессную модель не получается остановить по кнопке"
Паша, прошу посмотреть. Кажется, что остановка не должно иметь отношение к процессной модели. Получается, что модель из одного рула, условие которого всегда истинно, тоже висит ?

[2016-04-21 18:17] bogachev-pa commented on #358
1. В режиме `NO_ANIMATION`?
2. Трассировка включена?

[2016-04-21 19:03] aurusov commented on #358
1. не знаю, просто создаю модель визардом
2. да

[2016-04-21 19:34] aurusov opened #359 "Добавить настройки шрифта у Label"
Хочется менять шрифт каждой Label графической модели, в том числе и заголовок блока. Помимо этого, надо предусмотреть шрифт по-умолчанию. Он задается в объекте Model. Все Label используют его до тех пор, пока их шрифт не изменен. Если настройки шрифта Label совпали со шрифтом Model, то опять включается шрифт по-умолчанию.

[2016-04-21 19:39] bogachev-pa commented on #358
1. Это значки выбора скорости в тулбаре. Думаю, по умолчанию выставлен он. Это просто прогон на полной скорости.
2. Можете попробовать, сохраняется ли проблема, если сериализацию отключить?

[2016-04-21 19:47] #311 closed, assigned to LeKaitoW

[2016-04-21 19:47] #313 closed, assigned to LeKaitoW

[2016-04-22 08:11] aurusov commented on #358
Мне кажется, что gui должен всегда адекватно реагировать на тулбар и меню, независимо от режима прогона и др. настроек.

[2016-04-22 08:35] bogachev-pa commented on #358
Согласен. Но, если проблема проявляется только при включенной сериализации, то это дубликат вот этой таски https://github.com/aurusov/raox/issues/112

[2016-04-23 12:33] timyrka67 opened #360 "Реализовать чтение и запись состояний модели в JSON файл"
А так же выпилить лишний кол из компилятора ресурсов

[2016-04-23 12:46] timyrka67 commented on #360
Пример дампа через GSON
http://pastebin.com/dnZwNHv5
@aurusov @bogachev-pa

[2016-04-23 14:38] aurusov commented on #360
Выглядит хорошо. Попробуй десериализовать в плеере.

[2016-04-23 17:28] timyrka67 commented on #360
Возникла проблемма:

После сериализации истинный тип ресурса нужно указывать руками чтобы правильно десериализовать.
Пока непонятно где хранить доступные нагенеренные классы.

[2016-04-23 17:52] aurusov commented on #360
Вижу имена типов в json `ru.bmstu.rk9.rao.lib.process.Transact`. Эта значение тебе доступно как строка ?

[2016-04-24 14:42] bogachev-pa opened #361 "Использовать switch при задании property в блоках процессного подхода"
https://github.com/LeKaitoW/raox/pull/37/files#diff-1adc84af6ee2ffd3863059f032a9dc7eR40

В базовом классе Node надо сделать методы работы со свойствами абстракными.

[2016-04-24 17:07] bogachev-pa opened #362 "Настроить тестирование с помощью rcptt"
Надо встроить тестирование гуи в задачу http://jenkins.raox.rk9.bmstu.ru/job/raox/ перед деплоем в локальный мавен.

[2016-04-24 18:49] aurusov commented on #357
Ошибка исправлена. Как у вас работало - непонятно.

[2016-04-24 19:01] aurusov commented on #357
@LeKaitoW
Думаю, что при выборе ресурса должно быть тоже самое
`PROPERTY_RESOURCE_NAME_INDEX`
и при смене
`SelectPathNode.PROPERTY_PROBABILITY`
Если да, то поставь задачу. Только меня смущает, что вы не смогли повторить пример. Стерали проект ? Создавали его заново ? Делали refresh + rebuild all перед запуском ?

[2016-04-24 19:03] bogachev-pa commented on #357
@aurusov

Делал четко по шагам, как вы описали в первом посте. Не воспроизводилось.
Каким образом вызов `refreshVisuals()` активирует кнопку сохранения?

[2016-04-24 19:05] aurusov commented on #357
Не ведаю, надо смотреть исходники. М.б. Оля знает свзять. Но у меня именно это решило проблему.

[2016-04-24 19:10] aurusov commented on #357
Погорячился, у меня до сих пор не работает :(

[2016-04-24 21:02] LeKaitoW commented on #357
Связи между `refreshVisuals()` и кнопкой записи не должно быть.
У меня ошибка так и не воспроизводится, кнопка записи работает корректно.

[2016-04-25 04:30] aurusov commented on #357
Надо не забыть посмотреть в субботу на ваших машинках, где не воспроизводится. У меня очень стабильно, даже на шаге 1.

[2016-04-25 12:30] aurusov opened #363 "Добавить панель Decoration в графической модели"
Хочется добавить панель с декоративными элементами, которые не будут компилиться, а просто служить украшательством модели. Вот пример из AnyLogic
![2016-04-25 15 18 03](https://cloud.githubusercontent.com/assets/5585202/14783619/e616c2d8-0b01-11e6-8794-90f36d83fa0e.png)

Кажется, что будет достаточно
- Текст
- Линия
- Прямоугольник
- Скругленный прямоугольник
- Овал
- Картинка

[2016-04-26 17:50] bogachev-pa opened #364 "Настроить запуск rcptt через мавен во время сборки на дженкинсе"

[2016-04-26 19:58] timyrka67 commented on #360
Я встрял с десериализацией. Кроме как писать сериализацию и десериализацию полностью руками я не нашел других вариантов. Прогресса нет.

[2016-04-26 22:28] bogachev-pa commented on #361
Вроде можно закрывать.

[2016-04-27 06:44] bogachev-pa commented on #360
Каким образом ручная сериализация поможет? Опиши подробно, что делаешь, и в чем проблема.

[2016-04-27 07:13] #361 closed, assigned to aurusov

[2016-04-27 07:16] #334 closed, assigned to aurusov

[2016-04-27 07:17] #26 closed, assigned to aurusov

[2016-04-28 06:39] aurusov commented on #328
@LeKaitoW

![2016-04-28_09-34-28](https://cloud.githubusercontent.com/assets/5585202/14877297/7876c06e-0d24-11e6-9424-9cb95d2560ad.png)

Почему-то конекшен рисуется под гридом. Думал, что это регулируется последовательность добавления в `pane` вот тут
https://github.com/LeKaitoW/raox/blob/feature/snap_to_grid/ru.bmstu.rk9.rao.ui/src/ru/bmstu/rk9/rao/ui/process/ProcessEditor.java#L217
Поменял первы

[2016-04-29 19:22] aurusov opened #365 "Добавить бордюр вокруг блоков"
До задачи
![2016-04-29_22-23-15](https://cloud.githubusercontent.com/assets/5585202/14927171/07040186-0e59-11e6-8d75-40c7f9235c34.png)

Получилось так
![2016-05-06_20-25-52](https://cloud.githubusercontent.com/assets/5585202/15080878/cb8cd202-13c8-11e6-960c-d761956869fa.png)
![2016-05-06_20-28-56](https://cloud.githubusercontent.com/assets/5585202/15080969/31f153f6-13c9-11e6-9362-bae041f3e24e.png)

[2016-05-05 19:52] #328 closed, assigned to aurusov

[2016-05-06 17:53] aurusov opened #366 "Добавить отрисовку фигуры при перемещении"
Сейчас выглядит так
![2016-05-06_20-52-44](https://cloud.githubusercontent.com/assets/5585202/15081658/8a44565e-13cc-11e6-81af-e8b44c5170c6.png)

[2016-05-08 18:37] aurusov opened #367 "Ошибочное создание связи"
Если провести связь между первым и вторым блоками Create, то получится странная связь
![2016-05-08_21-35-52](https://cloud.githubusercontent.com/assets/5585202/15099689/fa4ee9e8-1564-11e6-968d-50a38e30eb69.png)

[2016-05-09 14:47] aurusov commented on #319
Оля ?

[2016-05-09 19:45] aurusov commented on #18
Тема поменяла смысл. Для графического подхода завели milestone.

[2016-05-09 19:45] #18 closed, assigned to nobody

[2016-05-10 12:14] #365 closed, assigned to aurusov

[2016-05-12 06:23] #366 closed, assigned to aurusov

[2016-05-12 07:23] #360 closed, assigned to timyrka67

[2016-05-12 07:24] #299 closed, assigned to timyrka67

[2016-05-12 07:24] #331 closed, assigned to nobody

[2016-05-12 11:11] #367 closed, assigned to LeKaitoW

[2016-05-13 11:52] bogachev-pa opened #368 "Рефакторинг используемых PropertyDescriptor в процессном подходе"
В данный момент используются обычные `ComboBoxPropertyDescriptor`, использование которых неудобно тем, что они передают `int` и требуют возвращать `int` для выбора строки  из выпадающего списка.

Нужно:
- Создать новый класс (например, `EnumComboBoxPropertyDescriptor`), который бы наследовал `PropertyDescriptor` и мог бы быть параметризован енумом произвольного типа. Пример создания класса, которы

[2016-05-13 15:51] #329 closed, assigned to LeKaitoW

[2016-05-13 19:25] aurusov opened #369 "Не видно выделение мышью"
Прямоугольник стал белого цвета, вместо черного.

![2016-05-13_22-24-03 2](https://cloud.githubusercontent.com/assets/5585202/15259374/a0edaa76-1959-11e6-8740-2e6e8a20c9b8.png)

[2016-05-13 19:28] aurusov opened #370 "Перемещение нескольких фигур"
Если выбрать сначала название блока, а потом сам блок, как на рисунке
![2016-05-13_22-26-18](https://cloud.githubusercontent.com/assets/5585202/15259421/d74f3882-1959-11e6-9e57-71f0a459b164.png)
, и начать двигать, то перемещение названия будет двойным. Если в другой последовательности, то все нормально.

[2016-05-13 19:57] #368 closed, assigned to LeKaitoW

[2016-05-14 08:25] bogachev-pa opened #371 "Исправить тип релевантных ресурсов, подобранных комбинаторно, на истинный"

[2016-05-14 08:25] bogachev-pa commented on #288
Вынес оставнуюся проблему в отдельную таску.

[2016-05-14 08:25] #288 closed, assigned to bogachev-pa

[2016-05-14 08:27] bogachev-pa opened #372 "Перевести модели из визарда на новый синаксис"

[2016-05-14 08:28] bogachev-pa opened #373 "Обновить документацию после перехода на xbase"

[2016-05-14 08:29] bogachev-pa opened #374 "Перевести модели из репозитория raox-models на новый синтаксис"
https://github.com/aurusov/raox-models
Одна из моделей (https://github.com/aurusov/raox-models/blob/master/models/fms.rao) делается в отдельной таске https://github.com/aurusov/raox/issues/416. Многие другие - в https://github.com/aurusov/raox/issues/418.

[2016-05-14 08:51] #358 closed, assigned to bogachev-pa

[2016-05-15 09:16] aurusov commented on #357
Получилось повторить, дополнено описание в шапке.

[2016-05-15 15:16] bogachev-pa commented on #372
Модели сконвертировал, после исправления некоторых багов в них еще надо будет пару мелочей поправить, но, я думаю, это таску уже можно закрыть.

[2016-05-15 15:18] #372 closed, assigned to bogachev-pa

[2016-05-15 19:03] bogachev-pa commented on #335
Не пойму, а что на первом, и что на втором скрине - в чем отличие?
И как на самом деле после коммита?

[2016-05-15 21:04] aurusov commented on #335
Там же написано - `Результат`. В палитре разные режимы просмотра. Показал два.

[2016-05-15 21:27] bogachev-pa commented on #335
Не знал. Т.е. пользователь между ними сам переключаться?

Насчет внешнего вида, выглядит клево, но из-за несимметричности некоторых блоков, они будто скачут влево-вправо. Может быть, их стоит обвести в какие-то рамочки?
(если рамочки будут смотреться не очень, то оставим так)

[2016-05-15 21:44] aurusov commented on #335
Да

Решил рамочку сделать белой, как при d&d. Её видно при выборе элемента. Можно попробовать черный цвет - это одна строчка imho, но симметрию это не исправит.

[2016-05-16 06:26] aurusov commented on #335
Черный не очень, откатил. А вот симметрию зачинил.

[2016-05-16 09:11] aurusov opened #375 "Прозрачность указателя мышки"
Воспроивзодится под ubuntu.
![default](https://cloud.githubusercontent.com/assets/5585202/15285350/9e5c8966-1b67-11e6-8cbd-96a4ed9e3f49.png)

[2016-05-16 17:59] bogachev-pa commented on #326
Готово.

[2016-05-16 17:59] #326 closed, assigned to bogachev-pa

[2016-05-16 18:01] bogachev-pa opened #376 "Добавить специальную обработку enum-ов при сериализации"
Это необходимо, для того, чтобы можно было строить по ним графики.

[2016-05-16 18:02] bogachev-pa commented on #287
Результаты будут сделаны в рамках работы над их переводом на `xbase`, а для енумов завел отдельную таску: https://github.com/aurusov/raox/issues/376

[2016-05-16 18:02] #287 closed, assigned to bogachev-pa

[2016-05-17 09:16] bogachev-pa commented on #346
Готово.

[2016-05-17 09:16] #346 closed, assigned to bogachev-pa

[2016-05-17 14:38] bogachev-pa opened #377 "Настроить форматирование rao-кода"
Код на иксбейзе форматируется и так, но необходимо еще добавить форматирование rao-специфичного кода.

[2016-05-17 14:39] bogachev-pa commented on #377
Сделано.

[2016-05-17 14:39] #377 closed, assigned to bogachev-pa

[2016-05-17 14:41] bogachev-pa commented on #177
Заодно починилось в рамках этого коммита:
https://github.com/bogachev-pa/raox/commit/d3163d56aea075a6f3edcb17879b3917b279d19b

[2016-05-17 14:43] bogachev-pa commented on #139
Забыл про эту таску, так что случайно создал дубликат.
https://github.com/aurusov/raox/issues/377
Так или иначе, это сделано.

[2016-05-17 14:43] #139 closed, assigned to bogachev-pa

[2016-05-17 14:47] aurusov commented on #139
1. покажи скрины
2. как настраивать ?

[2016-05-17 16:08] bogachev-pa commented on #139
1**.** Удалил из модели все переносы строк и табы:
![formatting_1](https://cloud.githubusercontent.com/assets/6528492/15329735/d6d18c52-1c6a-11e6-90fc-d84730da7862.png)

`Ctrl + Shift + F`

![formatting_2](https://cloud.githubusercontent.com/assets/6528492/15329744/df0aa5a2-1c6a-11e6-9cde-9c1f22584c3c.png)

2**.** Пользователю ничего настраивать не надо, просто `Ctrl + Shift + F`

[2016-05-17 18:42] aurusov commented on #139
1. Хорошо смотрится
2. Как мне изменить стиль кода ? Например, добавить перенос длиный строк. Или вставить пустую строку между событием и операцией.

[2016-05-17 20:03] #335 closed, assigned to aurusov

[2016-05-17 21:54] bogachev-pa commented on #139
2**.** в [RaoFormatter.xtend](https://github.com/bogachev-pa/raox/blob/d3163d56aea075a6f3edcb17879b3917b279d19b/ru.bmstu.rk9.rao/src/ru/bmstu/rk9/rao/formatting2/RaoFormatter.xtend) описываются эти правила, там они могут быть свои для каждого элемента грамматики.

Где изменить максимальную длину строки - не знаю, надо смотреть исходники классов, которые мы наследуем, кажется, сейчас есть некоторая

[2016-05-18 18:57] #357 closed, assigned to LeKaitoW

[2016-05-20 14:33] bogachev-pa opened #378 "Параметры ресурсов по умолчанию"
@aurusov
Раньше использовали специальный символ `*` для задания параметру значения "по умолчанию" - такого, какой был описан в типе ресурса. В этом случае в джавовский конструктор передавался `null`.
Сейчас `null` передавать не получится, т.к. параметры могут быть в том числе и примитивных типов.

Хотим ли мы вообще в каком-то виде сохранить функционал параметров по умолчанию?

[2016-05-20 14:51] aurusov commented on #378
Конечно хотим. В плюсах можно часть параметров задать в хедере, а остальные проинициализировать в конструткторе. [Пример](http://coliru.stacked-crooked.com/view?id=d41701bbae78e5c6), [синтаксис](http://en.cppreference.com/w/cpp/language/list_initialization). Кажется, что без конструктора проблема не решится.

[2016-05-21 05:53] aurusov opened #379 "Переименовать проект"
`ru.bmstu.rk9.rao` -> `ru.bmstu.rk9.rao.parser`

[2016-05-21 09:38] timyrka67 opened #380 "Выпилить JSON и впилить Json (gson) от google"

[2016-05-21 13:15] AlexChernov opened #381 "Перенести компилятор результатов в отдельный файл"
Перенести компилятор результатов из RaoJvmModelInferrer.xtend в отдельный файл ResultCompilier.xtend

[2016-05-21 13:28] AlexChernov opened #382 "Добавить подписку на обновление результатов"
Добавить подписку resultManager на STATE_CHANGED и EXECUTION_COMPLETED
В этот момент пересчитываются все результаты (которым это нужно)

[2016-05-21 13:28] AlexChernov opened #383 "Ввести парсер возвращаемого типа dataset"
В зависимости от типа возвращамого значения результата, он должен хранить разные показатели
BOOLEAN dataset:
  Процент true/false
Числовые dataset:
 Как в старом watchValue
итд

[2016-05-21 13:30] AlexChernov opened #384 "Синтегрироваться с ResultsView"
Дописать результатам метод JSONObject getData()
Исправить метод для их отображения

[2016-05-21 13:32] AlexChernov opened #385 "Добавить результатам метод для ручного пересчета"
Добавить результатам метод для ручного пересчета
Этот же метод должен дергать ResultManager

[2016-05-21 13:44] AlexChernov opened #386 "Добавление методов set/get для ResultMode"
Сейчас ResultMode - protected атрибут класса `Result`, который используется в `ResultManager` в обработчике подписки на изменение состояния системы

[code]

[2016-05-21 17:42] aurusov commented on #385
Это зачем ? Для юнит-тестов ?

[2016-05-22 13:35] bogachev-pa commented on #362
Добавил тесты на сравнение трассировки с эталонной для моделей из визарда.

[2016-05-22 15:17] aurusov commented on #362
Покажи пул-реквест

[2016-05-22 21:34] bogachev-pa commented on #362
Хм, заливал это сразу в `feature/xbase`.
Коммит:
https://github.com/bogachev-pa/raox/commit/2ad53819db3236baebb7a51283a5e0af3ebadb3b

[2016-05-23 19:37] AlexChernov commented on #385
Речь идет о manual результатах. Нужен метод update(), который обновляет статистику dataset или запоминает значение value. Этот же метод вызывается по подписке в ResultManager для auto результатов

[2016-05-24 20:52] LeKaitoW opened #387 "Выбор ресурса в блоках Seize/Release"
- Выбор только из ресурсов с енумом
- Добавить выпадающие списки (название енума, исходное состояние, конечное состояние)
- Распознавание енумов (State/Состяние, Free/Свободен, Busy/Занят)

[2016-05-25 19:59] timyrka67 commented on #338
[Модель для тестирования анимации](http://pastebin.com/nYhTZhMi)

[2016-05-26 10:52] timyrka67 opened #388 "Добавить запись/чтение времени к состояниям модели"

[2016-05-26 10:52] #338 closed, assigned to timyrka67

[2016-05-26 10:53] timyrka67 opened #389 "Научится работать со временем в плеере"

[2016-05-26 20:00] #388 closed, assigned to timyrka67

[2016-05-26 20:00] #389 closed, assigned to timyrka67